{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

    <div class="col-sm-16">
        <div class="pq-form-login">
        
            <div class="pq-form-title">
                {% trans "Confirm E-mail Address" %}
            </div>

            {% user_display email_address.user as user_display %}
                    
            <p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
            
        </div>
        
    </div>

{% endblock %}

{% block sidebar %}
{% endblock %}