{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="col-sm-16">
        <div class="pq-form-login">
        
            <div class="pq-form-title">
                {% trans "Change Password" %}
            </div>
            
        <p>{% trans 'Your password is now changed.' %}</p>
        
        </div>
        
    </div>
        
{% endblock %}

{% block sidebar %}
{% endblock %}