/*******************************************************
********************************************************

Website Name: PodcastQuotes
Website URL: podcastquotes.com
License: GNU General Public License
License URL: http://www.gnu.org/licenses/agpl-3.0.html

********************************************************
*******************************************************/

/****************************************
*****************************************

Color Guide

# Black (text): #111
# Dark Gray (headings): #444
# Mid Gray: #888
# Light Gray: #bbb
# Very Light Gray: #eee
# Off-White: #fcfcfc
# Mid Blue (links): #428bca

*****************************************
****************************************/

/****************************************
*****************************************
Typography Guide

Headings - Roboto (?px - ?px)
Body - Roboto 16px
... - ...

*****************************************
****************************************/

/**************************************************
***************************************************
THIS IS JUST TEMPLATE INFORMATION FROM LYNDA.COM, WILL USE REAL INFO LATER - MITCH
0. CSS Reset ------------------- All Files
1. Universal Styles ------------ All Files
2. Header & Nav Styles --------- (not sure what's supposed to go here)
3. Main Body Styles ------------
4. Quote Styles ----------------
5. Sidebar Styles --------------
6. YouTube Player Styles ------- 
7. Footer Styles --------------- 
8. Comment & Form Styles ------- 
***************************************************
**************************************************/

/******************************
*******************************
0. CSS Reset
*******************************
******************************/

/* Found in /static/css/meyer_reset.css */

/******************************
*******************************
1. Universal Styles
*******************************
******************************/

body {
    margin:0 auto;
    background-color:#fcfcfc;
    font-family:"Roboto", Arial, sans-serif;
    font-size:16px;
    color:#111;
}

.dropdown-toggle {
    text-align:left;
}

.width-100percent {
    width:100%;
}

.remove-bold {
    font-weight:normal;
}

.margin-20-right {
    margin:0 20px 0 0;
}

@media (max-width:991px) {
    .sm-clear-left {
        clear:left;
    }
}

.clear-both {
    clear:both;
}

.clear-left {
    clear:left;
}

.color-listen:hover {
    background-color:#8CCC8C;
}

.color-donate:hover {
    background-color:#FFAD5D;
    color:#111;
}

.color-connect:hover {
    background-color:#FFE303;
}

.color-share:hover {
    background-color:#99B3FF;
}

.color-edit:hover {
    background-color:#E177A7;
}

.dark-link {
    color:#111;
}

.dark-link a {
    color:#111;
}

.dark-link a:hover {
    color:#888;
}

.text-purple {
    color:#921ABE;
}

.text-purple:hover {
    color:#68228B;
}

.color-edit:hover {
    background-color:#;
}

.text-right {
    text-align:right;
}

.overflow-none {
    clear:left;
    overflow:none;
}

.btn {
   font-size:16px;
}

.btn-danger {
    color:#eee;
}

.bg-yellow {
    background:#FFFFDF;
}

.text-orange, .text-orange a {
    color:#D56A00;
}

.text-orange a:hover {
    color:#eFaC10;
}

.text-blue {
    color:#446596;
}

.text-blue:hover {
    color:#6485a6;
}

.text-green {
    color:#479847;
}

.text-red {
    color:#EE2C2C;
}

a {
    color:#286596;
}

/******************************
*******************************
2. Header & Nav Styles
*******************************
******************************/

@media (max-width:767px) {
    .pq-navbar-container {
        margin:0 auto;
        padding:0 0 0 20px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pq-navbar-container {
        max-width:700px;
        margin:0 auto;
        padding:0 20px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .pq-navbar-container {
        max-width:960px;
        padding:0 25px;
        margin:0 auto;
    }
}

.show-xs-navs {
    display:none;
}

@media (min-width:1200px) {
    .pq-navbar-container {
        margin:0 auto;
        padding:0 0 0 45px;
        max-width:1010px;
    }
}

.navbar {
        width:100%;
        min-height:32px;
        background-color:#e7e7e7;
        margin:0 0 25px 0;
        border-bottom:1px solid #888;
        border-radius:0;
        color:#111;
        z-index:100;
}

.navbar-default .navbar-nav > li > a {
    margin-top:-3px;
    color:#333;
    font-weight:bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#888;
}

.navbar-default .navbar-toggle {
    border-color:#999;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#555;
}

.navbar-default .navbar-collapse {
    border-color:#999;
}

@media (max-width:767px) {
    .navbar-default .navbar-form {
        border-top:0px solid #888;
        border-bottom:1px solid #888;
        box-shadow:0 0 0 0;
    }
}

.navbar-form {
    box-shadow:0 0 0 0;
}

@media (max-width:767px) {
    .pq-navbar-dropdown-1 {
        display:none;
    }
}

@media (min-width:768px) {
    .pq-navbar-dropdown-1 {
        padding:11px 20px;
        margin:0 -3px 0 0;
        font-weight:bold;
        cursor:pointer;
        border-right:1px solid #ccc;
    }

    .pq-navbar-dropdown-1 {
        color:#111;
        text-decoration:none;
    }
    
    .pq-navbar-dropdown-1:hover {
        color:#777;
    }
}

@media (max-width:767px) {
    .pq-navbar-dropdown-2 {
        display:none;
    }
}

@media (min-width:768px) {
    .pq-navbar-dropdown-2 {
        padding:11px 20px;
        border-right:1px solid #ccc;
        font-weight:bold;
        cursor:pointer;
    }

    .pq-navbar-dropdown-2 {
        color:#111;
        text-decoration:none;
    }
    
    .pq-navbar-dropdown-2:hover {
        color:#888;
    }
}

@media (max-width:370px) {
    .rss-icon-disappear {
        display:none;
    }
}

.pq-brand {
    margin:5px 40px 6px 0;
    float:left;
    font-size:22px;
}

.pq-brand a {
    color:#111;
    text-decoration:none;
}

.pq-brand a:hover {
    color:#777;
}

.pq-login {
    float:right;   
    margin:0 30px 0 0;
    font-size:16px;
    font-weight:bold;
    color:#333;
}

/******************************
*******************************
3. Main Body Styles
*******************************
******************************/

@media (max-width:550px) {
    .pq-container {
        margin:0 auto;
        padding:0 20px;
    }
}

@media (min-width:551px) and (max-width:767px) {
    .pq-container {
        margin:0 auto;
        padding:0 20px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pq-container {
        max-width:650px;
        margin:0 auto;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .pq-container {
        max-width:960px;
        margin:0 auto;
        padding:0 30px;
    }
}

@media (min-width:1200px) {
    .pq-container {
        margin:0 auto;
        padding:0 0 0 80px;
        max-width:1040px;
    }
}

.pq-container a:hover {
    text-decoration:none;
}

@media (max-width:1199px) {
    #main {
    }
}

@media (min-width:1200px) {
    #main {
        padding:0 25px 0 0;
    }
}

@media (max-width:550px) {
    .pq-breadcrumbs {
        display:none;
    }
}

@media (min-width:551px) {
    .pq-breadcrumbs {
        margin:-5px 0 15px 0;
        font-size:16px;
    }
}

@media (max-width:991px) {
    .pq-title {
        clear:left;
        margin:0 0 25px 0;
        font-size:22px;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:992px) {
    .pq-title {
        margin:0 0 25px 0;
        font-size:22px;
        font-weight:bold;
        color:#111;
    }
}

.pq-nav-active {
    display:inline-block;
    margin:0 10px 0 0;
    padding:3px 10px;
    border:1px solid #888;
    border-radius:3px;
    color:#B25900;
    font-size:16px;
    font-weight:bold;
}

.btn-group {
    vertical-align:top;
}

.pq-nav {
    display:inline-block;
    background-color:#eee;
    margin:0 10px 0 0;
    padding:3px 10px;
    border:1px solid #888;
    border-radius:3px;
    color:#111;
    font-size:16px;
    font-weight:bold;
}

@media (max-width:1000px) {
    .pq-nav-disappear-1 {
        display:none;
    }
}

@media (min-width:1000px) {
    .pq-nav-appear-1 {
        display:none;
    }
}

@media (max-width:900px) {
    .pq-nav-disappear-2 {
        display:none;
    }
}

@media (min-width:900px) {
    .pq-nav-appear-2 {
        display:none;
    }
}

@media (max-width:520px) {
    .pq-nav-disappear-3 {
        display:none;
    }
}

@media (min-width:520px) {
    .pq-nav-appear-3 {
        display:none;
    }
}

@media (max-width:460px) {
    .pq-nav-disappear-4 {
        display:none;
    }
}

@media (min-width:460px) {
    .pq-nav-appear-4 {
        display:none;
    }
}

@media (max-width:400px) {
    .pq-nav-disappear-5 {
        display:none;
    }
}

@media (min-width:400px) {
    .pq-nav-appear-5 {
        display:none;
    }
}

.dropdown-menu-active {
    background-color:#ddd;
}

@media (max-width:767px) {
    .pq-votes-shown {
        clear:both;
        float:left;
        margin:5px 0;
        font-size:18px;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pq-votes-shown {
        float:right;
        margin:14px 10px 0 0;
        font-size:18px;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:992px) {
    .pq-votes-shown {
        float:right;
        margin:14px 35px 0 0;
        font-size:18px;
        font-weight:bold;
        color:#111;
    }
}

.pq-podcast-header {
    padding:0 0 5px 0;
    font-size:16px;
}

.pq-podcast-title {
    margin:1px 0 10px 0;
    font-size:24px;
    font-weight:bold;
    color:#111;
}

@media (max-width:767px) {
    .pq-podcast-title {
        clear:left;
        margin:0 0 10px 0;
    }
}

@media (min-width:768px) {
    .pq-podcast-title {
        overflow:hidden;
    }
}

@media (max-width:767px) {
    .pq-episode-title {
        clear:left;
        padding:0 0 20px 0;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:768px) {
    .pq-episode-title {
        overflow:hidden;
        padding:0 0 18px 0;
        font-weight:bold;
        color:#111;
    }
}

@media (max-width:767px) {
    .pq-podcast-profile-picture {
        clear:left;
        float:left;
        margin:0 25px 20px 0;
    }
}

@media (min-width:768px) {
    .pq-podcast-profile-picture {
        float:left;
        margin:0 20px 20px 0;
    }
}

.pq-podcast-profile-picture img {
    height:110px;
    width:110px;
}

@media (max-width:550px) {
    .pq-podcast-header-box {
        clear:left;
        overflow:hidden;
    }
}

@media (min-width:551px) {
    .pq-podcast-header-box {
        overflow:hidden;
    }
}

.pq-episode-player {
    display:none;
    float:left;
    margin:0 0 20px 0;
}

.pq-podcast-header-social-icons {
    clear:left;
    margin:0 0 10px 0;
    padding:5px 0 0 0;
}

.pq-podcast-header-social-icon {
    margin:0 7px 0 0;
    font-size:24px;
}

.pq-podcast-header-social-icon a {
    color:#333;
}

.pq-podcast-header-social-icon a:hover {
    color:#888;
}

@media (max-width:767px) {
    .pq-podcast-buttons {
        float:left;
        font-size:14px;
        margin:0 0 15px 0;
    }
}

@media (min-width:768px) {
    .pq-podcast-buttons {
        float:right;
        margin:1px 0 15px 0;
        font-size:14px;
    }
}

@media (max-width:767px) {
    .pq-podcast-button {
        float:left;
        margin:0 20px 0 0;
        font-size:14px;
        font-weight:bold;
        padding:0;
        background-color:#fcfcfc;
        border:none;
    }
}
    
@media (min-width:768px) {
    .pq-podcast-button {
        display:inline-block;
        margin:0 0 0 20px;
        padding:0;
        background-color:#fcfcfc;
        border:none;
        font-size:14px;
        font-weight:bold;
    }
}

.pq-podcast-share-button:hover {
    color:#888;
}

#play-full-episode:hover {
    color:#888;
    cursor:pointer;
}
    
.pq-podcast-selector {
    height:40px;
    line-height:40px;
    width:100%;
    border:1px solid #aaa;
    font-size:24px;
}

.pq-podcast-selector-option {
    font-size:18px;
}

.pq-episode-selector {
    height:40px;
    line-height:40px;
    border:1px solid #aaa;
    font-size:18px;
}

@media (max-width:767px) {
    .pq-podcast-info {
        clear:left;
        font-size:16px;
    }
}

@media (min-width:768px) {
    .pq-podcast-info {
        overflow:hidden;
        font-size:16px;
    }
}

.pq-podcast-header-info-right {
    float:right;
    margin:0 0 10px 0;
}

.pq-podcast-header-info-left {
    clear:left;
    margin:0 0 10px 0;
    padding:0 0 5px 0;
}

.pq-podcast-header-info-full {
    margin:0 0 10px 0;
}

.pq-podcast-header-info-inline {
    display:inline-block;
    margin:0 20px 0 0;
}

.pq-episode-header {
    padding:0 0 5px 0;
    margin:0 0 25px 0;
    border-bottom:1px dotted #bbb;
    font-size:16px;
}

.pq-episode-spacer {
    padding:5px 0 0 0;
}

#episode-description-full {
    display:none;
}

/******************************
*******************************
4. Quote Styles
*******************************
******************************/

.pq-quote-header {
    padding:0 0 5px 0;
    border-bottom:1px dotted #bbb;
    font-size:16px;
}

.pq-quote-header tr {
    height:28px;
}

.pq-quote-header-breadcrumbs {
    font-size:20px;
    margin:0 0 10px 0;
}

.pq-quote {
    clear:both;
    padding:20px 0 5px 0;
    border-bottom:1px solid #ddd;
}

@media (max-width:767px) {
    .pq-quote-text-wrapper {
        clear:left;
        overflow:hidden;
        font-size:16px;
    }
}

@media (min-width:768px) {
    .pq-quote-text-wrapper {
        overflow:hidden;
        font-size:16px;
    }
}

.pq-quote-text-wrapper-cleared {
    clear:both;
    overflow:none;
}

@media (max-width:767px) {
    .pq-quote-text-box {
        clear:left;
        font-size:14px;
    }
}

@media (min-width:768px) {
    .pq-quote-text-box {
        clear:left;
        font-size:14px;
        overflow:hidden;
    }
}

.pq-quote-counter {
    float:right;
    font-size:16px;
    color:#bbb;
}

@media (max-width:767px) {
    .pq-quote-summary {
        overflow:hidden;
        padding:0 0 5px 0;
        font-weight:bold;
        font-size:18px;
    }
}

@media (min-width:768px) {
    .pq-quote-summary {
        overflow:hidden;
        margin:-2px 0 0 0;
        padding:0 0 10px 0;
        font-weight:bold;
        font-size:20px;
    }
}

.pq-quote-summary a, 
.pq-quote-summary-xs a {
    color:#111;
}

.pq-quote-summary a:hover, 
.pq-quote-summary-xs a:hover {
    color:#888;
}

@media (max-width:767px) {
    .pq-quote-breadcrumbs {
        clear:left;
        overflow:hidden;
        font-size:14px;
        margin:0 0 5px 0;
    }
}

@media (min-width:768px) {
    .pq-quote-breadcrumbs {
        overflow:hidden;
        font-size:14px;
        margin:0 0 5px 0;
    }
}

.pq-quote-breadcrumbs a {
    color:#888;
}

.pq-quote-breadcrumbs a:hover {
    color:#bbb;
}

@media (max-width:767px) {
    .pq-quote-player {
        clear:left;
        float:left;
        margin:0 0 10px 0;
    }
}

@media (min-width:768px) {
    .pq-quote-player {
        float:right;
        margin:0 0 15px 20px;
    }
}

@media (max-width:450px) {
    .pq-quote-details {
        margin:0 0 15px 0;
        font-size:16px;
        color:#555;
    }
}

@media (min-width:451px) {
    .pq-quote-details {
        margin:0 0 15px 0;
        font-size:16px;
        color:#555;
    }
}
    
.pq-quote-details a {
    color:#555;
}

.pq-quote-details a:hover {
    color:#999;
}

.quote-time {
    display:none;
}

.pq-quote-divider {
    clear:both;
}

.pq-quote hr {
    clear:both;
    padding:20px 0 0 0;
}

@media (max-width:991px) {
    .pq-quote-buttons {
        display:none;
    }
}

@media (min-width:992px) {
    .pq-quote-buttons {
        float:left;
        margin:5px 20px 0 -70px;
    }
}

.pq-quote-xs-buttons {
    clear:left;
    padding:5px 0 15px 0;
}

button {
    background-color:#fcfcfc;
}

.pq-quote-upvote {
    text-align:center;
    width:50px;
    padding:3px 0 3px 2px;
    border:1px solid #aaa;
    border-radius:15px;
    font-size:20px;
    color:#444;
}

.pq-quote-xs-upvote {
    display:inline-block;
    text-align:center;
    width:50px;
    padding:3px 0 3px 2px;
    border:1px solid #aaa;
    border-radius:15px;
    font-size:20px;
    color:#444;
}

.pq-quote-upvote-active {
    background-color:#FFB395;
}

.pq-quote-downvote-active {
    background-color:#CCCCFF;
}

.pq-quote-vote-total {
    text-align:center;
    width:50px;
    margin:5px 0;
    font-size:14px;
    color:#444;
}

.vote_form {
    display:inline-block;
}

.pq-quote-xs-vote-total {
    display:inline-block;
    text-align:center;
    padding:0 15px;
    margin:4px 0;
    font-size:14px;
    color:#444;
}

.pq-quote-downvote {
    text-align:center;
    width:50px;
    padding:3px 0 3px 2px;
    border:1px solid #aaa;
    border-radius:15px;
    font-size:20px;
    color:#444;
}

.pq-quote-xs-downvote {
    display:inline-block;
    text-align:center;
    width:50px;
    padding:3px 0 3px 2px;
    border:1px solid #aaa;
    border-radius:15px;
    font-size:20px;
    color:#444;
}

.pq-quote-comments {
    clear:right;
    float:right;
    text-align:center;
    width:50px;
    margin:15px 0 0 0;
    padding:5px 0;
    border:1px solid #aaa;
    border-radius:15px;
    font-size:20px;
    color:#444;
}

.pq-quote-comments-total {
    clear:right;
    float:right;
    text-align:center;
    width:50px;
    margin:7px 0 20px 0;
    font-size:15px;
    color:#444;
}

@media (max-width:767px) {
    .pq-quote-buttons-xs {
        width:100%;
        clear:left;
        float:left;
        margin:0 0 15px 0;
    }
}

@media (min-width:768px) {
    .pq-quote-buttons-xs {
        display:none;
    }
}

.pq-quote-upvote-xs {
    float:left;
    text-align:center;
    width:55px;
    padding:5px 0;
    border:1px solid #aaa;
    border-radius:15px;
    font-size:20px;
    color:#444;
}

.pq-quote-vote-total-xs {
    float:left;
    text-align:center;
    margin:10px;
    font-size:15px;
    color:#777;
}

.pq-quote-downvote-xs{
    float:left;
    text-align:center;
    width:55px;
    padding:5px 0;
    border:1px solid #aaa;
    border-radius:15px;
    font-size:20px;
    color:#444;
}

.pq-quote-comments-xs {
    float:right;
    text-align:center;
    width:55px;
    padding:5px 0;
    border:1px solid #aaa;
    border-radius:15px;
    font-size:20px;
    color:#444;
}

.pq-quote-comments-total-xs {
    float:right;
    text-align:center;
    margin:10px 10px 0 0;
    font-size:15px;
    color:#444;
}

@media (max-width:450px) {
    .pq-quote-date-xs {
        font-size:14px;
        color:#444;
    }
}

@media (min-width:451px) {
    .pq-quote-date-xs {
        display:none;
    }
}

@media (min-width:451px) {
    .pq-quote-date {
        clear:right;
        float:right;
        text-align:center;
        width:65px;
        font-size:13px;
        color:#444;
    }
}

.pq-quote-date a {
    color:#444;
}

.pq-quote-text {
    clear:left;
    display:none;
    font-size:14px;
}

@media (max-width:767px) {
    .pq-quote-text-preview {
        font-size:14px;
    }
}

@media (min-width:768px) {
    .pq-quote-text-preview {
        clear:left;
        font-size:14px;
    }
}

.pq-show-more {
    margin:0 0 10px 0;
    font-size:14px;
    cursor:pointer;
    color:#428bca;
}

@media (max-width:991px) {
    .pq-show-more {
        font-size:14px;
    }
}

.pq-show-more:hover {
   color:#62abea;
}

.pq-show-less {
    display:none;
    margin:0 0 10px 0;
    font-size:14px;
    cursor:pointer;
    color:#428bca;
}

.pq-show-less:hover {
   color:#62abea;
}

.pq-quote-bottom {
    clear:left;
    margin:0 0 15px 0;
}

.pq-quote-bottom-button {
    float:left;
    margin:0 25px 15px 0;
    padding:0;
    background-color:#fcfcfc;
    border:none;
    font-size:14px;
    font-weight:bold;
}

.pq-quote-posted-by {
    clear:left;
    margin:0 0 10px 0;
    font-size:14px;
    color:#888;
}

/******************************
*******************************
5. Sidebar Styles
*******************************
******************************/

@media (max-width:1199px) {
    .pq-sidebar {
        padding:0 0 0 5px;
    }
}

@media (min-width:1200px) {
    .pq-sidebar {
        padding:0 20px 0 5px;
    }
}

@media (max-width:767px) {
    .pq-side-button {
        display:none;
    }
}

@media (min-width:768px) {
    .pq-side-button {
        display:block;
        text-align:center;
        padding:10px 0;
        margin:-1px 0 20px 0;
        background-color:#e7e7e7;
        border:1px solid #888;
        border-radius:3px;
        font-size:20px;
        font-weight:bold;
        color:#111;
        text-decoration:none;
    }
        
    .pq-side-button:hover {
        background-color:#eee;
        color:#070707;
        text-decoration:none;
    }
}

.pq-menu a {
    color:#111;
}

.pq-menu a:hover {
    color:#777;
}

@media (max-width:767px) {
    .pq-menu {
        display:none;
    }
}

@media (min-width:768px) {
    .pq-menu {
        margin:0 0 20px 0;
        padding:10px 12px 20px 12px;
        border:1px solid #bbb;
    }
}

.pq-menu-title {
    margin:0 0 5px 0;
    font-size:18px;
    font-weight:bold;
}

.pq-menu-pulldown {
    color:#333;
    padding:0 0 10px 0;
}

.pq-menu-advanced {
    float:right;
    margin:1px 0 0 0;
    font-size:14px;
    color:#333;
}

.pq-menu hr {
    border-top:1px solid #bbb;
    margin:-5px 0 0 0;
}

.pq-menu-options {
    height:285px;
    overflow:auto;
    font-size:14px;
}

.pq-menu-option {
    padding:15px 0;
    border-bottom:1px solid #ddd;
}

/******************************
*******************************
6. YouTube Player Styles
*******************************
******************************/

.circle {
    position:absolute;
    margin:38px 0 0 56px;
    font-size:48px;
    color:#888;
    opacity:0.95;
    cursor:pointer;
}

.preview-published {
    position:absolute;
    width:150px;
    text-align:center;
    margin:100px 0 0 0;
    padding:2px 0 3px 0;
    background-color:#000;
    font-size:13px;
    color:#aaa;
    cursor:pointer;
}

.youtube-img-preview {
    cursor:pointer;
    width:150px;
    float:right;
    margin:5px 0 5px 0;
}

@media (max-width:649px) {
    .youtube {
        float:left;
        clear:left;
    }
}

@media (min-width:650px) {
    .youtube {
        float:left;
    }
}

.youtube-podcast-logo {
    position:absolute;
    border:2px solid #444;
    border-radius:5px;
    cursor:pointer;
}

.youtube-podcast-logo img {
    width:60px;
}

@media (max-width:350px) {
    .youtube-podcast-logo img {

    }
}

@media (max-width:350px) {
    .youtube-podcast-logo {
        margin:15px 0 0 225px;
    }
}

@media (max-width:350px) {
    .youtube-podcast-logo img {
    }
}

@media (max-width:649px) {
    .youtube-podcast-logo {
        margin:10px 0 0 10px;
    }
}

@media (min-width:650px) and (max-width:767px) {
    .youtube-podcast-logo {
        margin:10px 0 0 10px;
    }
}

@media (min-width:768px) {
    .youtube-podcast-logo {
        margin:10px 0 0 10px;
    }
}

@media (max-width:768px) {
    .youtube-podcast-logo img {
    }
}

.iframe-size {
    float:left;
    clear:left;
}

@media (max-width:300px) {
    .iframe-size {
        width:190px;
        height:117px;
    }
}

@media (min-width:301px) and (max-width:350px) {
    .iframe-size {
        width:240px;
        height:149px;
    }
}

@media (min-width:351px) and (max-width:400px) {
    .iframe-size {
        width:290px;
        height:183px;
    }
}

@media (min-width:401px) and (max-width:450px) {
    .iframe-size {
        width:340px;
        height:215px;
    }
}

@media (min-width:451px) and (max-width:500px) {
    .iframe-size {
        width:390px;
        height:241px;
    }
}

@media (min-width:501px) and (max-width:550px) {
    .iframe-size {
        width:440px;
        height:278px;
    }
}

@media (min-width:551px) and (max-width:600px) {
    .iframe-size {
        width:490px;
        height:309px;
    }
}

@media (min-width:601px) and (max-width:650px) {
    .iframe-size {
        width:540px;
        height:341px;
    }
}

@media (min-width:651px) and (max-width:700px) {
    .iframe-size {
        width:590px;
        height:365px;
    }
}

@media (min-width:701px) and (max-width:768px) {
    .iframe-size {
        width:640px;
        height:396px;
    }
}

@media (min-width:769px) and (max-width:800px) {
    .iframe-size {
        width:640px;
        height:396px;
    }
}

@media (min-width:801px) and (max-width:850px) {
    .iframe-size {
        width:640px;
        height:396px;
    }
}

@media (min-width:851px) and (max-width:900px) {
    .iframe-size {
        width:640px;
        height:396px;
    }
}

@media (min-width:901px) and (max-width:950px) {
    .iframe-size {
        width:640px;
        height:396px;
    }
}

@media (min-width:951px) and (max-width:1000px) {
    .iframe-size {
        width:640px;
        height:396px;
    }
}

@media (min-width:1001px) and (max-width:1079px) {
    .iframe-size {
        width:640px;
        height:396px;
    }
}

@media (min-width:1080px) and (max-width:1150px) {
    .iframe-size {
        width:640px;
        height:396px;
    }
}

@media (min-width:1151px) {
    .iframe-size {
        width:640px;
        height:396px;
        margin:0;
    }
}


/******************************
*******************************
7. Footer Styles
*******************************
******************************/

@media (max-width:1219px) {
    .pq-footer {
        background-color:#eee;
        padding:15px 0;
        margin:80px 0 0 0;
        border-top:1px solid #555;
    }
}

@media (min-width:1220px) {
    .pq-footer {
        background-color:#ddd;
        padding:15px 0;
        margin:80px 0 0 0;
        border-top:1px solid #555;
        border-right:1px solid #555;
        border-left:1px solid #555;
    }
}

.pq-footer a {
    color:#111;
}

@media (max-width:991px) {
    .pq-footer-brand {
        float:left;
        margin:0 30px 5px 0;
        font-size:24px;
        font-weight:bold;
    }
}

@media (min-width:992px) {
    .pq-footer-brand {
        float:left;
        margin:0 30px 0 0;
        font-size:24px;
        font-weight:bold;
    }
}

.pq-footer-brand a {
    color:#111;
    text-decoration:none;
}

.pq-footer-brand a:hover {
    color:#555;
}

@media (max-width:991px) {
    .pq-footer-social-icon {
        float:left;
        margin:7px 15px 0 7px;
        font-size:26px;
        color:#111;
    }
}

@media (min-width:992px) {
    .pq-footer-social-icon {
        float:right;
        margin:-2px 0 0 20px;
        font-size:26px;
        color:#111;
    }
}

@media (max-width:991px) {
    .pq-footer-nav {
        float:left;
        margin:0 5px;
        padding:5px 0 5px 0;
        font-size:16px;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:992px) {
    .pq-footer-nav {
        float:left;
        margin:0 15px;
        padding:5px 0 0 0;
        font-size:16px;
        font-weight:bold;
        color:#111;
    }
}

/******************************
*******************************
8. Form Styles
*******************************
******************************/

.pq-form {
    max-width:600px;
    margin:10px 0 25px 0;
    padding:10px 15px 30px 15px;
    background-color:#f7f7f7;
    border:1px solid #aaa;
}

.pq-form a {
    color:#428bca;
}

.pq-form a:hover {
    color:#444;
}

.pq-form-login {
    max-width:500px;
    margin:10px auto 25px auto;
    padding:10px 15px 30px 15px;
    background-color:#f7f7f7;
    border:1px solid #aaa;
    border-radius:5px;
}

.pq-form-login a {
    color:#428bca;
}

.pq-form-login a:hover {
    color:#333;
}

.pq-form-title {
    clear:left;
    margin:0 0 15px 0;
    font-size:24px;
    font-weight:bold;
    color:#111;
}

.pq-form-socialaccounts {
    clear:both;
    padding:20px 0 0 0;
}

.pq-form-remember {
    clear:right;
    float:right;
    margin:0 0 0 10px;
}

.pq-form-forgot {
    clear:left;
    float:left;
    margin:5px 0 0 0;
}

.pq-form-signup {
    clear:left;
    float:left;
    margin:20px 0 0 0;
}

.pq-form-signup a {
    color:#428bca;
}

.pq-form-label {
    font-size:18px;
    font-weight:bold;
}

.pq-form-label-optional {
    font-size:18px;
    font-weight:normal;
}

.pq-form-input {
    margin:0 0 15px 0;
}

.pq-form-buttons {
    clear:right;
    padding:20px 0 0 0;
}

.pq-form-divider {
    clear:both;
    margin:30px 0;
    border-top:1px solid #ccc;
}

.pq-form-captcha {
    margin:5px 0 20px -5px;
}

@media (max-width:767px) {
    .xs-margin-top-20 {
        margin-top:20px;
    }
}
.form-group {
    font-size:18px;
}

.form-control {
    height:38px;
    vertical-align:top;
    border:1px solid #555;
    color:#111;
    font-size:16px;
}

.form-quote-input {
    height:120px;
    vertical-align:top;
    margin:0;
}

.pq-form-button {
    float:right;
    margin:0 0 0 20px;
    padding-right:40px;
    padding-left:40px;
}

.form-button {
    margin:10px 0 0 20px;
}

.pq-form-chevron {
    float:right;
    color:#555;
}