/*******************************************************
********************************************************

Website Name: Podverse
Website URL: podverse.tv
License: GNU General Public License
License URL: http://www.gnu.org/licenses/agpl-3.0.html

********************************************************
*******************************************************/

/****************************************
*****************************************

Color Guide

# Black (text): #111
# Dark Gray (headings): #444
# Mid Gray: #777
# Light Gray: #bbb
# Very Light Gray: #eee
# Off-White: #fcfcfc
# Mid Blue (links): #428bca

*****************************************
****************************************/

/****************************************
*****************************************
Typography Guide

Headings - Montserrat (?px - ?px)
Body - Open Sans (?px - ?px)
... - ...

*****************************************
****************************************/

/**************************************************
***************************************************
THIS IS JUST TEMPLATE INFORMATION FROM LYNDA.COM, WILL USE REAL INFO LATER - MITCH
0. CSS Reset ------------------- All Files
1. Universal Styles ------------ All Files
2. Header & Nav Styles --------- (not sure what's supposed to go here)
3. Main Body Styles ------------
4. Quote Styles ----------------
5. Sidebar Styles --------------
6. YouTube Player Styles ------- 
7. Footer Styles --------------- 
8. Comment & Form Styles ------- 
***************************************************
**************************************************/

/******************************
*******************************
0. CSS Reset
*******************************
******************************/

/* Found in /static/css/meyer_reset.css */

/******************************
*******************************
1. Universal Styles
*******************************
******************************/

body {
    margin:0 auto;
    background-color:#D1D6D9;
    font-family:"Open Sans", Arial, sans-serif;
    font-size:16px;
    color:#111;
}

.width-100percent {
    width:100%;
}

.remove-bold {
    font-weight:normal;
}

.margin-20-right {
    margin:0 20px 0 0;
}

@media (max-width:991px) {
    .sm-clear-left {
        clear:left;
    }
}

.clear-both {
    clear:both;
}

.clear-left {
    clear:left;
}

.color-listen:hover {
    background-color:#8CCC8C;
}

.color-donate:hover {
    background-color:#FFAD5D;
    color:#111;
}

.color-connect:hover {
    background-color:#FFE303;
}

.color-share:hover {
    background-color:#99B3FF;
}

.color-edit:hover {
    background-color:#E177A7;
}

.bright-link a {
    color:#f7f7f7;
}

.bright-link a:hover {
    color:#C1C6C9;
}

.dark-link a {
    color:#111;
}

.dark-link a:hover {
    color:#777;
}

.med-dark-link {
    color:#555;
}

.med-dark-link a {
    color:#555;
}

.med-dark-link a:hover {
    color:#2a2a2a;
}

.gray-link a {
    color:#6b6b6b
}

.gray-link a:hover {
    color:#3d3d3d
}

.blue-link a {
    color:#225b9a;
}

.blue-link a:hover {
    color:#729bba;
}

.text-purple,
.text-purple a {
    color:#921ABE;
}

.text-purple a:hover,
.text-purple:hover {
    color:#68228B;
}

.color-edit:hover {
    background-color:#;
}

.text-right {
    text-align:right;
}

.overflow-none {
    clear:left;
    overflow:none;
}

.btn {
   font-size:16px;
}

.btn-danger {
    color:#f7f7f7;
}

.bg-yellow {
    background:#FFFFDF;
}

.text-orange, .text-orange a {
    color:#D56A00;
}

.text-orange a:hover {
    color:#a74500;
}

.text-blue {
    color:#446596;
}

.text-blue:hover {
    color:#6485a6;
}

.text-green {
    color:#479847;
}

.text-red {
    color:#EE2C2C;
}

.error {
    color:#ff4a05;
    font-family:serif;
    font-weight:bold;
}

.errorlist {
    font-family:serif;
    color:#ff4a05;
}

a {
    color:#286596;
}

/******************************
*******************************
2. Header & Nav Styles
*******************************
******************************/

@media (max-width:549px) {
    .pq-navbar-container {
        margin:0 auto;
        padding:0 0 0 11px;
    }
}

@media (min-width:550px) and (max-width:767px) {
    .pq-navbar-container {
        margin:0 auto;
        padding:0 0 0 15px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pq-navbar-container {
        max-width:700px;
        margin:0 auto;
    }
}

@media (min-width:992px) and (max-width:1080px) {
    .pq-navbar-container {
        max-width:920px;
        margin:0 auto;
    }
}

@media (min-width:1081px) and (max-width:1199px) {
    .pq-navbar-container {
        max-width:990px;
        margin:0 auto;
    }
}

@media (min-width:1200px) {
    .pq-navbar-container {
        margin:0 auto;
        max-width:1060px;
    }
}

.show-xs-navs {
    display:none;
}

.navbar {
    width:100%;
    height:70px;
    padding-top:12px;
    /* background-color:#2A323F; */
    border-right:1px solid #2A323F;
    border-bottom:1px solid #333;
    border-left:1px solid #2A323F;
    margin:0 0 20px 0;
    border-radius:0;
    color:#fff;
    z-index:100;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background:none;
    text-decoration:underline;
    color:#bbb;
}

.navbar-right {
    margin-top:-1px;
}

.navbar-default .navbar-nav > li > a {
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#bbb;
}

.navbar-default .navbar-toggle {
    margin-top:6px;
    border:1px solid #fff;
    margin-bottom:25px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color:#eee;
}

.navbar-default, .navbar-collapse, .navbar-form {
    border-top:#777;
}

@media (max-width:767px) {
    .navbar-collapse {
        background-color:#2A323F;
        margin-top:-6px;
    }
}

.navbar-form {
    box-shadow:0 0 0 0;
}

@media (max-width:767px) {
    .pq-navbar-dropdown-1 {
        display:none;
    }
}

@media (min-width:768px) {
    .pq-navbar-dropdown-1 {
        padding:11px 20px;
        margin:0 -3px 0 0;
        cursor:pointer;
        font-family:"Quicksand", Georgia, serif;
        text-decoration:none;
        font-size:18px;
    }
}

@media (max-width:767px) {
    .pq-navbar-dropdown-2 {
        display:none;
    }
}

@media (min-width:768px) {
    .pq-navbar-dropdown-2 {
        padding:11px 20px;
        cursor:pointer;
        font-family:"Quicksand", Georgia, serif;
        text-decoration:none;
        font-size:18px;
    }
}

@media (max-width:370px) {
    .rss-icon-disappear {
        display:none;
    }
}

.pq-brand {
    margin:4px 30px 5px 0;
    float:left;
    font-size:22px;
    font-weight:300;
}

@media (max-width:767px) {
    .pq-brand {
    }
}

.pq-brand-img {
    height:38px;
}

@media (max-width:350px) {
    .pq-brand-img {
        height:38px;
    }
}

.pq-brand a {
    text-decoration:none;
    color:#fff;
}

.pq-brand a:hover {
    color:#bbb;
}

.pq-login {
    float:right;   
    margin:0 30px 0 0;
    font-size:16px;
}

/******************************
*******************************
3. Main Body Styles
*******************************
******************************/

@media (max-width:550px) {
    .pq-container {
        margin:0 auto;
        padding:0 15px;
    }
}

@media (min-width:551px) and (max-width:767px) {
    .pq-container {
        margin:0 auto;
        padding:0 20px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pq-container {
        max-width:700px;
        margin:0 auto;
    }
}

@media (min-width:992px) and (max-width:1079px) {
    .pq-container {
        max-width:920px;
        margin:0 auto;
    }
}

@media (min-width:1080px) and (max-width:1199px) {
    .pq-container {
        max-width:980px;
        margin:0 auto;
    }
}

@media (min-width:1200px) {
    .pq-container {
        max-width:1020px;
        margin:0 auto;
    }
}

.pq-container a:hover {
    text-decoration:none;
}

@media (max-width:767px) {
    #main {
        padding:0 10px;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    #main {
        padding:0 10px 0 15px;
    }
}

@media (min-width:1200px) {
    #main {
        padding:0 10px 0 0;
    }
}

@media (max-width:767px) {
    .pq-breadcrumb {
        float:left;
        margin:0 0 10px 0;
        font-size:13px;
        font-weight:600;
    }
}

@media (min-width:768px) {
    .pq-breadcrumb {
        float:left;
        margin:0 0 25px 0;
        font-size:13px;
        font-weight:600;
    }
}

.pq-breadcrumb a:hover {

}

@media (max-width:991px) {
    .pq-title {
        clear:left;
        margin:0 0 15px 0;
        font-size:22px;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:992px) {
    .pq-title {
        margin:0 0 15px 0;
        font-size:22px;
        font-weight:bold;
        color:#111;
    }
}

@media (max-width:991px) {
    .pq-home-title {
        clear:left;
        margin:0 0 10px 0;
        font-size:22px;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:992px) {
    .pq-home-title {
        margin:0 0 10px 0;
        font-size:22px;
        font-weight:bold;
        color:#111;
    }
}

.pq-nav-active {
    display:inline-block;
    margin:10px 10px 20px 0;
    padding:3px 10px;
    background:#fff;
    border:1px solid #aaa;
    border-radius:3px;
    color:#B25900;
    font-size:16px;
    font-weight:bold;
}

.btn-group {
    vertical-align:top;
}

.pq-nav {
    display:inline-block;
    background-color:#eee;
    margin:10px 10px 20px 0;
    padding:3px 10px;
    border:1px solid #aaa;
    border-radius:3px;
    color:#111;
    font-size:16px;
    font-weight:bold;
}

/* Delete this style rule below when all nav filters are working properly. */
@media (max-width:400px) {
    .pq-nav-disappear-2 {
        display:none;
    }
}

@media (min-width:400px) {
    .pq-nav-appear-2 {
        display:none;
    }
}

/* These are deactivated until all the nav filters are working properly.
@media (max-width:1000px) {
    .pq-nav-disappear-1 {
        display:none;
    }
}

@media (min-width:1000px) {
    .pq-nav-appear-1 {
        display:none;
    }
}

@media (max-width:900px) {
    .pq-nav-disappear-2 {
        display:none;
    }
}

@media (min-width:900px) {
    .pq-nav-appear-2 {
        display:none;
    }
}

@media (max-width:520px) {
    .pq-nav-disappear-3 {
        display:none;
    }
}

@media (min-width:520px) {
    .pq-nav-appear-3 {
        display:none;
    }
}

@media (max-width:460px) {
    .pq-nav-disappear-4 {
        display:none;
    }
}

@media (min-width:460px) {
    .pq-nav-appear-4 {
        display:none;
    }
}

@media (max-width:400px) {
    .pq-nav-disappear-5 {
        display:none;
    }
}

@media (min-width:400px) {
    .pq-nav-appear-5 {
        display:none;
    }
}
*/

.dropdown-menu-active {
    background-color:#111;
}

@media (max-width:767px) {
    .pq-votes-shown {
        clear:both;
        float:left;
        margin:5px 0;
        font-size:18px;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pq-votes-shown {
        float:right;
        margin:14px 10px 0 0;
        font-size:18px;
        font-weight:bold;
        color:#111;
    }
}

@media (min-width:992px) {
    .pq-votes-shown {
        float:right;
        margin:14px 35px 0 0;
        font-size:18px;
        font-weight:bold;
        color:#111;
    }
}

.pq-podcast-header {
    margin:0 0 10px 0;
    background:#fff;
    font-size:16px;
    border:1px solid #ccc;
}

@media (max-width:549px) {
    .pq-podcast-header {
        padding:20px 15px;
    }
}

@media (min-width:550px) {
    .pq-podcast-header {
        padding:20px;
    }
}

@media (max-width:549px) {
    .pq-podcast-profile {
    }
}

@media (min-width:550px) {
    .pq-podcast-profile {
        clear:both;
    }
}

@media (max-width:549px) {
    .pq-podcast-profile-picture {
        clear:left;
        float:left;
        margin:0 20px 15px 0;
    }
}

@media (min-width:550px) {
    .pq-podcast-profile-picture {
        clear:left;
        float:left;
        margin:0 20px 20px 0;
    }
}

@media (max-width:549px) {
    .pq-podcast-profile-picture img {
        max-width:100px;
    }
}

@media (min-width:550px) {
    .pq-podcast-profile-picture img {
        max-width:80px;
    }
}

@media (max-width:549px) {
    .pq-podcast-profile-text {
        clear:left;
    }
}

@media (min-width:550px) {
    .pq-podcast-profile-text {
        overflow:hidden;
    }
}

.pq-podcast-title {
    margin:-2px 0 5px 0;
    font-size:24px;
    font-weight:600;
    font-family:"Open Sans", Georgia, serif;
    color:#111;
}

@media (max-width:549px) {
    .pq-podcast-title {
        clear:left;
        margin:0 0 5px 0;
    }
}

.pq-podcast-subtitle {
    font-size:14px;
    font-style:italic;
    color:#555;
    margin:0 0 15px 0;
}

@media (max-width:549px) {
    .pq-podcast-subtitle {
        margin:0 0 10px 0;
    }
}

.pq-episode-player {
    display:none;
    float:left;
    margin:0 0 20px 0;
}

@media (max-width:767px) {
    .pq-podcast-header-social-icons {
        clear:left;
        margin:0 0 15px 0;
    }
}

@media (min-width:768px) {
    .pq-podcast-header-social-icons {
        float:right;
        margin:-7px 0 10px 0;
    }
}

@media (max-width:767px) {
    .pq-podcast-header-social-icon {
        margin:0 5px 0 0;
        font-size:22px;
    }
}

@media (min-width:768px) {
    .pq-podcast-header-social-icon {
        margin:0 0 0 5px;
        font-size:22px;
    }
}

.pq-podcast-description {
    clear:both;
    margin:0 0 20px 0;
    font-size:14px;
}

@media (max-width:549px) {
    .pq-podcast-description {
        margin:0 0 10px 0;
    }
}

@media (max-width:549px) {
    .pq-podcast-karma {
        clear:both;
        font-size:13px;
        font-weight:bold;
    }
}

@media (min-width:550px) {
    .pq-podcast-karma {
        clear:left;
        font-size:13px;
        font-weight:bold;
    }
}

@media (max-width:549px) {
    .pq-podcast-buttons {
        clear:both;
        float:left;
        font-size:13px;
        margin:0 0 10px 0;
    }
}

@media (min-width:550px) {
    .pq-podcast-buttons {
        clear:both;
        float:right;
        margin:0 0 15px 0;
        font-size:13px;
    }
}

@media (max-width:549px) {
    .pq-podcast-button {
        float:left;
        margin:0 20px 0 0;
        font-weight:bold;
        padding:0;
        background-color:#fcfcfc;
        border:none;
    }
}
    
@media (min-width:550px) {
    .pq-podcast-button {
        display:inline-block;
        margin:0 0 0 20px;
        padding:0;
        background-color:#fcfcfc;
        border:none;
        font-weight:bold;
    }
}

.pq-podcast-share-button:hover {
    color:#777;
}

#play-full-episode:hover {
    color:#777;
    cursor:pointer;
}
    
.pq-podcast-selector {
    height:40px;
    line-height:40px;
    width:100%;
    border:1px solid #aaa;
    font-size:24px;
}

.pq-podcast-selector-option {
    font-size:18px;
}

.pq-episode-title {
    display:inline-block;
    margin:0 17px 10px 0;
    font-size:20px;
    font-weight:bold;
}

@media (max-width:549px) {
    .pq-episode-title {
        display:none;
    }
}

@media (max-width:549px) {
    .pq-episode-finder {
        font-weight:bold;
    }
}

@media (min-width:550px) {
    .pq-episode-finder {
        display:inline-block;
        font-weight:bold;
        margin:0;
    }
}

@media(min-width:550px) {
    .pq-hidden-xs {
        display:none;
    }
}

@media(max-width:549px) {
    .pq-hidden-not-xs {
        display:none;
    }
}

.pq-episode-selector {
    height:40px;
    padding:0 5px;
    line-height:40px;
    border:1px solid #aaa;
    font-size:20px;
}

.pq-user-header {
    margin:0 0 10px 0;
    background:#fff;
    font-size:16px;
    border:1px solid #ccc;
}

@media (max-width:549px) {
    .pq-user-header {
        padding:20px 15px;
    }
}

@media (min-width:550px) {
    .pq-user-header {
        padding:20px;
    }
}

.pq-episode-spacer {
    padding:5px 0 0 0;
}

#episode-description-full {
    display:none;
}

/******************************
*******************************
4. Quote Styles
*******************************
******************************/

.pq-quote {
    clear:both;
    margin:0 0 20px 0;
    background:#fff;
    border:1px solid #ccc;
}

@media (max-width:549px) {
    .pq-quote {
        padding:15px;
    }
}

@media (min-width:550px) {
    .pq-quote {
        padding:15px 20px;
    }
}

.pq-quote-header {
    padding:0 0 10px 0;
    font-size:16px;
}

.pq-quote-header tr {
    height:28px;
}

.pq-quote-header-breadcrumbs {
    font-size:20px;
    margin:0 0 10px 0;
    color:#444;
}

@media (max-width:767px) {
    .pq-quote-text-box {
        max-width:530px;
        clear:left;
        font-size:14px;
    }
}

@media (min-width:768px) {
    .pq-quote-text-box {
        max-width:530px;
        clear:left;
        font-size:14px;
        overflow:hidden;
    }
}

.pq-quote-text-wrapper {
    overflow:hidden;
}

.pq-quote-counter {
    float:right;
    font-size:16px;
    color:#bbb;
}

.open:focus {
    background-color:#f00;
}

.pq-quote-title {
    max-width:600px;
    margin:0 0 5px 0;
    overflow:hidden;
    font-weight:600;
    font-size:19px;
    font-family:"Open Sans", Georgia, serif;
}

.pq-quote-profile-picture {
    clear:left;
    float:left;
    vertical-align:top;
    margin:4px 10px 0 0;
}

.pq-quote-profile-picture img {
    width:32px;
    height:32px;
}

.pq-quote-subtitle {
    vertical-align:top;
    font-size:14px;
    font-style:italic;
}

.pq-quote-subtitle a:hover {
    text-decoration:underline;
}

@media (max-width:450px) {
    .pq-quote-details {
        margin:0 0 15px 0;
        font-size:16px;
        color:#555;
    }
}

@media (min-width:451px) {
    .pq-quote-details {
        margin:0 0 15px 0;
        font-size:16px;
        color:#555;
    }
}
    
.pq-quote-details a {
    color:#555;
}

.pq-quote-details a:hover {
    color:#999;
}

.quote-time {
    display:none;
}

.pq-quote-divider {
    clear:both;
}

.pq-quote hr {
    clear:both;
    padding:20px 0 0 0;
}

@media (max-width:549px) {
    .pq-quote-buttons {
        display:none;
    }
}

@media (min-width:550px) {
    .pq-quote-buttons {
        clear:right;
        float:right;
        margin:0 0 0 20px;
    }
}

button {
    background-color:#fcfcfc;
}

.pq-quote-upvote {
    text-align:center;
    width:50px;
    padding:3px 0;
    background:#ddd;
    border-radius:10px;
    font-size:18px;
    color:#444;
    box-shadow:none;
    border:none;
}

.pq-quote-vote-total {
    text-align:center;
    width:50px;
    margin:3px 0;
    font-size:14px;
    color:#444;
}

.vote_form {
    display:inline-block;
}

.pq-quote-downvote {
    text-align:center;
    width:50px;
    padding:3px 0;
    margin:0 0 15px 0;
    background:#ddd;
    border-radius:10px;
    font-size:18px;
    color:#444;
    box-shadow:none;
    border:none;
}

@media (max-width:549px) {
    .pq-quote-xs-buttons {
        float:left;
        clear:left;
        margin:5px 0 15px 0;
    }
}

@media (min-width:550px) {
    .pq-quote-xs-buttons {
        display:none;
    }
}

.pq-quote-xs-upvote {
    display:inline-block;    
    text-align:center;
    width:50px;
    padding:3px 0;
    background:#ddd;
    border-radius:10px;
    font-size:18px;
    color:#444;
    box-shadow:none;
    border:none;
}

.pq-quote-xs-vote-total {
    display:inline-block;
    text-align:center;
    padding:0 10px;
    margin:4px 0;
    font-size:14px;
    color:#444;
}

.pq-quote-xs-downvote {
    display:inline-block;
    text-align:center;
    width:50px;
    padding:3px 0;
    background:#ddd;
    border-radius:10px;
    font-size:18px;
    color:#444;
    box-shadow:none;
    border:none;
}

.pq-quote-text {
    clear:left;
    display:none;
    max-width:510px;
}

@media (max-width:767px) {
    .pq-quote-text-preview {
        max-width:510px;
        padding:0 0 5px 0;
    }
}

@media (min-width:768px) {
    .pq-quote-text-preview {
        clear:left;
        max-width:510px;
        padding:0 0 5px 0;
    }
}

.pq-show-more {
    margin:0 0 10px 0;
    cursor:pointer;
    color:#428bca;
}

@media (max-width:991px) {
    .pq-show-more {
    }
}

.pq-show-more:hover {
   color:#226b9a;
}

.pq-show-less {
    display:none;
    margin:0 0 10px 0;
    cursor:pointer;
    color:#428bca;
}

.pq-show-less:hover {
   color:#226b9a;
}

.pq-quote-date {
    clear:both;
    float:left;
    font-size:14px;
}

.pq-quote-date:hover {
    text-decoration:underline;
}

@media (max-width:549px) {
    .pq-quote-date {
        margin-bottom:10px;
    }
}

@media (max-width:549px) {
    .pq-quote-bottom-buttons {
        clear:left;
        margin:-1px 0 0 0;
    }
}

@media (min-width:550px) {
    .pq-quote-bottom-buttons {
        float:right;
        margin:-1px 0 0 0;
    }
}

.pq-quote-bottom-button {
    padding:0;
    background-color:#fcfcfc;
    border:none;
    font-size:13px;
    font-weight:bold;
}

@media (max-width:549px) {
    .pq-quote-bottom-button {
        float:left;
        margin:0 25px 0 0;
    }
}

@media (min-width:550px) {
    .pq-quote-bottom-button {
        float:left;
        margin:0 0 0 25px;
    }
}

.pq-quote-bottom-button:hover {
    color:#777;
}

.pq-quote-posted-by {
    clear:left;
    margin:0 0 10px 0;
    font-size:14px;
    color:#777;
}

/******************************
*******************************
5. Sidebar Styles
*******************************
******************************/

@media (max-width:1199px) {
    .pq-sidebar {
    }
}

@media (min-width:1200px) {
    .pq-sidebar {
    }
}

@media (max-width:767px) {
    .pq-side-button {
        display:none;
    }
}

@media (min-width:768px) {
    .pq-side-button {
        display:block;
        text-align:center;
        padding:10px 0;
        margin:-1px 0 20px 0;
        background-color:#e7e7e7;
        border:1px solid #777;
        border-radius:3px;
        font-size:20px;
        font-weight:bold;
        color:#111;
        text-decoration:none;
    }
        
    .pq-side-button:hover {
        background-color:#eee;
        color:#070707;
        text-decoration:none;
    }
}

.pq-menu {
    background:#fff;
    border:1px solid #ccc;
}

@media (max-width:767px) {
    .pq-menu {
        display:none;
    }
}

@media (min-width:768px) {
    .pq-menu {
        margin:0 0 20px 0;
        padding:15px;
    }
}

.pq-menu-title {
    margin:0 0 5px 0;
    font-size:18px;
    font-weight:600;
    font-family:"Open Sans", Georgia, serif;
}

.pq-menu-pulldown {
    color:#333;
    padding:0 0 10px 0;
}

.pq-menu-advanced {
    float:right;
    margin:1px 0 0 0;
    font-size:14px;
    color:#333;
}

.pq-menu hr {
    border-top:1px solid #ccc;
    margin:-5px 0 0 0;
}

.pq-menu-options {
    height:285px;
    overflow:auto;
    font-size:14px;
}

.pq-menu-option {
    padding:7px 0;
    border-bottom:1px solid #e7e7e7;
}

.pq-menu-option-image {
    width:34px;
    height:34px;
    margin:5px 5px 5px 0;
}

/******************************
*******************************
6. YouTube Player Styles
*******************************
******************************/

.youtube-start-button-wrapper {
    clear:left;
    float:left;
    font-size:14px;
    color:#f7f7f7;
    width:90px;
}

.youtube-player-wrapper {
    display:none;
    position:relative;
    padding-bottom:56.25%; /* 16:9 */
    padding-top:25px;
    height:0;
    margin:20px 0;
}

.youtube-player-wrapper iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.youtube-start-button {
    width:85px;
    height:40px;
    margin:15px 0 15px 0;
    padding:13px 0 0 0;
    background:#41a141;
    text-align:center;
    cursor:pointer;
    border-radius:10px;
}

.youtube-start-button:hover {
    color:#f7f7f7;
    background:#04859E;
}

.youtube-start-button-text {
    display:inline-block;
    font-family:"Montserrat", Arial, sans-serif;
}

.preview-published {
    position:absolute;
    width:150px;
    text-align:center;
    margin:100px 0 0 0;
    padding:2px 0 3px 0;
    background-color:#000;
    font-size:13px;
    color:#aaa;
    cursor:pointer;
}

.youtube-img-preview {
    cursor:pointer;
    width:40px;
    float:right;
    margin:5px 0 5px 0;
    background-image:none;
}

.iframe-size {
    float:left;
    clear:left;
}

/******************************
*******************************
7. Footer Styles
*******************************
******************************/

.pq-footer {
    color:#fff;
    padding:20px 0;
    margin:25px 0 0 0;
    font-size:18px;
    font-family:"Quicksand", Georgia, serif;
}

@media (max-width:767px) {
    .pq-footer {
        padding:20px 5px;
    }
}

.pq-footer a:hover {
    text-decoration:none;
}

@media (max-width:991px) {
    .pq-footer-brand {
        float:left;
        margin:0 30px 5px 0;
        font-size:22px;
    }
}

@media (min-width:992px) {
    .pq-footer-brand {
        float:left;
        margin:0 35px 0 0;
        font-size:22px;
    }
}

.pq-footer-brand a {
    color:#fff;
    text-decoration:none;
}

.pq-footer-brand a:hover {
    color:#aaa;
}

@media (max-width:991px) {
    .pq-footer-social-icon {
        float:left;
        margin:7px 20px 0 0;
        font-size:26px;
    }
}

@media (min-width:992px) {
    .pq-footer-social-icon {
        float:right;
        margin:-2px 10px 0 10px;
        font-size:26px;
    }
}

@media (max-width:991px) {
    .pq-footer-nav {
        float:left;
        margin:0 5px 0 0;
        padding:5px 0 5px 0;
        font-size:18px;
    }
}

@media (min-width:992px) {
    .pq-footer-nav {
        float:left;
        margin:0 35px 0 0;
        padding:5px 0 0 0;
        font-size:18px;
    }
}

/******************************
*******************************
8. Form Styles
*******************************
******************************/

.pq-form {
    max-width:600px;
    margin:10px 0 25px 0;
    padding:15px 15px 20px 15px;
    background-color:#eee;
    border:1px solid #999;
}

.episode_selector {
    display:none;
}

.pq-form a {
    color:#428bca;
}

.pq-form a:hover {
    color:#444;
}

.pq-form-login {
    max-width:500px;
    margin:10px auto 25px auto;
    padding:10px 15px 20px 15px;
    background-color:#eee;
    border:1px solid #aaa;
    border-radius:5px;
}

.pq-form-login a {
    color:#428bca;
}

.pq-form-login a:hover {
    color:#333;
}

.pq-form-title {
    clear:left;
    margin:0 0 15px 0;
    font-size:24px;
    font-weight:bold;
    color:#111;
}

.pq-form-socialaccounts {
    clear:both;
    padding:20px 0 0 0;
}

.pq-form-remember {
    clear:right;
    float:right;
    margin:0 0 0 10px;
}

.pq-form-forgot {
    clear:left;
    float:left;
    margin:5px 0 0 0;
}

.pq-form-signup {
    clear:left;
    float:left;
    margin:20px 0 0 0;
}

.pq-form-signup a {
    color:#428bca;
}

.pq-form-label {
    font-size:16px;
    font-weight:bold;
}

.pq-form-label-optional {
    font-size:16px;
    font-weight:normal;
}

.pq-form-input {
    margin:0 0 15px 0;
}

.tt-dropdown-menu {
    padding:0 10px;
    background:#fff;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    font-size:16px;
    cursor:pointer;
    
}

.twitter-typeahead {
    width:100%;
}

.pq-form-buttons {
    clear:right;
    padding:20px 0 0 0;
}

.pq-form-buttons a,
.pq-form-buttons a:hover {
    color:#f7f7f7;
}

.pq-form-divider {
    clear:both;
    margin:30px 0;
    border-top:1px solid #ccc;
}

.pq-form-captcha {
    margin:5px 0 20px -5px;
}

@media (max-width:767px) {
    .xs-margin-top-20 {
        margin-top:20px;
    }
}
.form-group {
    font-size:18px;
}

.form-control {
    height:36px;
    vertical-align:top;
    color:#111;
    font-size:16px;
    border:1px solid #999;
}

.form-quote-input {
    height:120px;
    vertical-align:top;
    margin:0;
}

.pq-form-button {
    float:right;
    margin:0 0 0 20px;
    padding-right:40px;
    padding-left:40px;
}

.pq-form-delete-button {
    float:left;
    padding-right:20px;
    padding-left:20px;
}

.form-button {
    margin:10px 0 0 20px;
}

.pq-form-chevron {
    float:right;
    color:#555;
}

.step-links {
    font-weight:bold;
}

.gray-gradient {
    background: -webkit-linear-gradient(#DCDDDF, #CDCDCD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DCDDDF, #CDCDCD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DCDDDF, #CDCDCD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DCDDDF, #CDCDCD); /* Standard syntax */
}

.light-blue-gradient {
    background: -webkit-linear-gradient(#007fb7, #0075A9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007fb7, #0075A9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007fb7, #0075A9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007fb7, #0075A9); /* Standard syntax */
}

.dark-blue-gradient {
    background: -webkit-linear-gradient(#01486B, #003F5C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01486B, #003F5C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01486B, #003F5C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01486B, #003F5C); /* Standard syntax */
}

.pq-quote-upvote-active {
    background: -webkit-linear-gradient(#FFB395, #FCA57D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFB395, #FDA882); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFB395, #FDA882); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFB395, #FDA882); /* Standard syntax */
    color:#111;
}

.pq-quote-downvote-active {
    background: -webkit-linear-gradient(#008DCB, #0083BD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008DCB, #0083BD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008DCB, #0083BD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008DCB, #0083BD); /* Standard syntax */
    color:#111;
}

.pq-logo {
    max-width:600px;
    margin:0 0 10px 0;
}

.pq-logo img {
    max-width:600px;
}

.pq-about {
    max-width:600px;
    padding:20px;
    clear:both;
    margin:0 0 20px 0;
    background:#fff;
    font-size:16px;
}

.pq-about hr {
    border-top:1px solid #ddd;
}

.pq-mid-title {
    font-size:20px;
    font-weight:bold;
}