{% extends "base.html" %}

{% block content %}
    
    {% include 'main_col_width.html' %}

    <div class="pq-title">
        Delete Quote <i class="fa fa-trash-o"></i>
    </div><!-- /.pq-title -->
    
    <div class="pq-form">
    
        <p>Are you sure you want to delete this quote?</p>

        <form method="post" action="/{{ quote.episode.podcast.slug }}/clips/{{ quote.pk }}/delete/">
            {% csrf_token %}
            
            <div class="pq-form-buttons">
                <button type="submit" class="btn btn-small btn-danger pq-form-button">Confirm Delete <i class="fa fa-trash-o"></i></button>
                <a href="/{{ quote.episode.podcast.slug }}/clips/{{ quote.pk }}/" style="color:#eee;" class="btn btn-small btn-primary text-light-grey pq-form-button">Cancel</a>
            </div><!-- /.pq-form-input -->
            
            <div class="clearfix">
            </div>
          
        </form>
        
    </div><!-- /.pq-form -->

{% endblock %}<!-- / block content -->