{% extends "base.html" %}

{% block header %}

    {% include 'main_col_width.html' %}

      <div class="pq-title">
        Add a Quote <i class="fa fa-comments-o"></i>
      </div><!-- /.pq-title -->
      
      <div class="pq-form">
        
        <form method="post" action="" enctype="multipart/form-data" role="form">
          {% csrf_token %}
          {% if quote_form.errors %}
              <p>Please correct the following fields:</p>
              {{ quote_form.errors }}
          {% endif %}

          <div class="pq-form-input">
            {% if quote_form.episode.errors %}
                <p class="error">
                    {{ quote_form.episode.errors }}
                </p>
            {% endif %}
            <label class="pq-form-label {% if quote_form.podcast.errors %}error{% endif %}" for="episode">Episode</label>
            {{ quote_form.episode }}
          </div><!-- /.pq-form-input -->
          
         <div class="pq-form-input">
            <div class="row">
              <div class="col-sm-8">
                {% if quote_form.time_quote_begins.errors %}
                    <p class="error">
                        {{ quote_form.time_quote_begins.errors }}
                    </p>
                {% endif %}
            <label class="pq-form-label {% if quote_form.time_quote_begins.errors %}error{% endif %}" for="time_quote_begins">Time quote begins</label>
                {{ quote_form.time_quote_begins }}
              </div><!-- /.col-sm-8 -->

              <div class="col-sm-8 xs-margin-top-20">
                  {% if quote_form.time_quote_ends.errors %}
                      <p class="error">
                          {{ quote_form.time_quote_ends.errors }}
                      </p>
                  {% endif %}
                  <label class="pq-form-label-optional {% if quote_form.time_quote_ends.errors %}error{% endif %}" for="time_quote_ends">Time quote ends <small>(optional)</small></label>
                {{ quote_form.time_quote_ends }}
              </div><!-- /.col-sm-6 xs-margin-top-20 -->
              
            </div><!-- /.row -->
            
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
            {% if quote_form.summary.errors %}
                <p class="error">
                    {{ quote_form.summary.errors }}
                </p>
            {% endif %}
            <label class="pq-form-label-optional {% if quote_form.summary.errors %}error{% endif %}" for="summary">Summary of quote <small>(optional)</small></label>
            {{ quote_form.summary }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
            {% if quote_form.text.errors %}
                <p class="error">
                    {{ quote_form.text.errors }}
                </p>
            {% endif %}
            <label class="pq-form-label-optional {% if quote_form.text.errors %}error{% endif %}" for="text">Quote text<small>(optional)</small></label>
            {{ quote_form.text }}
          </div><!-- /.pq-form-input -->

          <div class="pq-form-buttons">
            <button type="submit" class="btn btn-small btn-primary pq-form-button">Submit</button>
            <a href="/" style="color:#eee;" class="btn btn-small btn-danger text-light-grey pq-form-button">Cancel</a>
          </div><!-- /.pq-form-input -->
          
          <div class="clearfix">
          </div>
          
        </form>

      </div><!-- /.pq-form -->
      
  </div><!-- /.col-sm-11 -->

{% endblock %}<!-- / block header -->