{% extends "base.html" %}

{% block opengraph %}
    <meta property="og:url" content="https://podverse.tv/clips/{{ quote.id }}">
    <meta property="og:title" content="{{ quote.summary }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="
        {% if quote.episode.description %}
            {{ quote.episode.description }}
        {% elif quote.episode.podcast.description %}
            {{ quote.episode.podcast.description }}
        {% else %}
            Find and share highlights of your favorite podcasts. Connect with podcast listeners. Raise money for your podcast. Inspired by reddit.
        {% endif %}
        ">
    <meta property="og:image" content="http://img.youtube.com/vi/{{ quote.episode.video_id }}/0.jpg">
{% endblock %}

{% block content %}
    
    {% include 'main_col_width.html' %}
    
{% endblock %}<!-- /block content -->
    
{% block quotes %}
    <!-- quote_list is tech debt that needs to be banished after a non-kluge youtube.js file is created -->
    {% for quote in quote_list %}
        {% include 'quotes.html' %}
    {% endfor %}

    </div><!-- /.col-sm-11 ***you must include this close tag***-->

{% endblock %}<!-- / block quotes -->