{% if quote.episode.donate_url and quote.episode.donation_recipient %}
    <div class="pq-quote-header">

            <div style="margin-bottom:10px;">
                <strong><span class="text-orange">Donations for this episode go to</span>
                <a class="text-blue" href="{{ quote.episode.donate_url }}">
                    {{ quote.episode.donation_recipient }}
                </a></strong>
            </div>
            {% if quote.episode.donation_recipient_about %}
                <span style="font-size:14px;">{{ quote.episode.donation_recipient_about|linebreaks }}
            {% endif %}
        
        <div class="clearfix">
        </div>

    </div><!-- /.pq-quote-header -->
{% endif %}