{% extends "base.html" %}
{% load quote_filters %}

{% block opengraph %}
    <meta property="og:url" content="https://podverse.tv/highlights/{{ quote.id }}/">
    <meta property="og:title" content="{{ quote.summary }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="
        {% if quote.episode.description %}
            {{ quote.episode.description }}
        {% elif quote.episode.podcast.description %}
            {{ quote.episode.podcast.description }}
        {% else %}
            Find and share highlights of your favorite podcasts. Connect with podcast listeners. Raise money for your podcast. Inspired by reddit.
        {% endif %}
        ">
    {% if quote.episode.youtube_url %}
        <meta property="og:image" content="https://img.youtube.com/vi/{{ quote.episode.video_id }}/0.jpg">
    {% endif %}
    {% if quote.episode.podcast.image %}
        <meta property="og:image" content="https://podverse.tv/media/{{ quote.episode.podcast.image }}">
    {% endif %}
    {% if quote.episode.image %}
        <meta property="og:image" content="https://podverse.tv/media/{{ quote.episode.image }}">
    {% endif %}
    <meta property="og:image" content="https://podverse.tv/static/img/podverse-logo-square.jpg" />
{% endblock %}

{% block content %}
    
    {% include 'main_col_width.html' %}
    
    {% include 'autocomplete_slim.html' %}
    
{% endblock %}<!-- /block content -->
    
{% block quotes %}
    <!-- quote_list is tech debt that needs to be banished after a non-kluge youtube.js file is created -->
    {% for quote in quote_pseudo_list %}
        {% include 'quotes.html' %}
    {% endfor %}
    
{% if is_quote_page %}    
    {% include 'quote_header.html' %}
{% endif %}

{% endblock %}<!-- / block quotes -->

{% block more %}
    <div class="pq-quote-more dark-link">
        <div class="pq-quote-more-headline">
            <a href="{% url 'podcast_quote_list_root' slug=quote.episode.podcast.slug %}">More from {{ quote.episode.podcast.title }}</a>
        </div>
        <div class="pq-quote-more-overflow">
            {% for quote in more_podcast_quotes %}
                <hr>
                <div class="pq-quote-more-box">
                    <div class="pq-quote-more-text">
                        <a href="{% if quote.is_full_episode|is_true %}
                                     {{ quote.episode.get_absolute_url }}
                                 {% else %}
                                     {{ quote.get_absolute_url }}
                                 {% endif %}"">
                            <span class="hidden-xs hidden-sm hidden-md">
                                {{ quote.summary }}
                            </span>
                            <span class="hidden-xs hidden-sm hidden-lg">
                                {{ quote.summary}}
                            </span>
                            <span class="display-none-549px hidden-md hidden-lg">
                                {{ quote.summary|truncatechars:125 }}
                            </span>
                            <span class="display-none-550px">
                                {{ quote.summary|truncatechars:100 }}
                            </span>
                        </a>
                        <br>
                        <a style="font-size:13px;" href="{{ quote.episode.get_absolute_url }}">
                            Episode: {{ quote.episode.title|truncatechars:60 }}
                        </a>
                        <br>
                        {% if quote.time_quote_ends %}
                            <a style="font-size:13px;" href="{{ quote.get_absolute_url }}">
                                    Length: {{ quote.duration }} 
                                    / {{ quote.converted_time_begins }} 
                                    - {{ quote.converted_time_ends }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix">
                </div>
            {% endfor %}
        </div>
    </div>
    {% if more_episode_quotes > 1 %}
        <div class="pq-quote-more dark-link">
            <div class="pq-quote-more-headline">
                <a href="/{{ quote.episode.podcast.slug }}/episodes/{{ quote.episode.pk }}">More from {{ quote.episode.title }}</a>
            </div>
            <div class="pq-quote-more-overflow">
                {% for quote in more_episode_quotes %}
                    <hr>
                    <div class="pq-quote-more-box">
                        <div class="pq-quote-more-text">
                            <a href="{{ quote.get_absolute_url }}">
                                <span class="hidden-xs hidden-sm hidden-md">
                                    {{ quote.summary }}
                                </span>
                                <span class="hidden-xs hidden-sm hidden-lg">
                                    {{ quote.summary}}
                                </span>
                                <span class="display-none-549px hidden-md hidden-lg">
                                    {{ quote.summary|truncatechars:125 }}
                                </span>
                                <span class="display-none-550px">
                                    {{ quote.summary|truncatechars:100 }}
                                </span>
                            </a>
                            <br>
                            <a style="font-size:13px;" href="{{ quote.get_absolute_url }}">
                                {% if quote.time_quote_ends %}
                                    Length: {{ quote.duration }} 
                                    / {{ quote.converted_time_begins }} 
                                    - {{ quote.converted_time_ends }}
                                {% else %}
                                    Starts: {{ quote.converted_time_begins }}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}