{% extends "base.html" %}

{% block header %}

    {% include 'main_col_width.html' %}

      <div class="pq-title">
        Post a New Quote <i class="fa fa-pencil"></i>
      </div><!-- /.pq-title -->
      
      <div class="pq-form">
        
        <form method="post" action="" enctype="multipart/form-data" role="form">
          {% csrf_token %}
          {% if form.errors %}
          <p>Please correct the following fields:</p>
          {% endif %}

          <div class="pq-form-input">
            {% if form.episode.errors %}<p class="error">{% endif %}
            <label class="pq-form-label" for="episode" {% if form.episode.errors %} class="error" {% endif %}>Episode</label>
            {{ form.episode }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
            {% if form.summary.errors %}<p class="error">{% endif %}
            <label class="pq-form-label" for="summary" {% if form.summary.errors %} class="error"{% endif %}>Summary of quote</label>
            {{ form.summary }}
          </div><!-- /.pq-form-input -->
          
         <div class="pq-form-input">
            <div class="row">
              <div class="col-sm-8">
                {% if form.time_quote_begins.errors %}<p class="error">{% endif %}
                <label class="pq-form-label" for="time_quote_begins" {% if form.time_quote_begins.errors %} class="error" {% endif %}>Time quote begins</label>
                {{ form.time_quote_begins }}
              </div><!-- /.col-sm-8 -->

              <div class="col-sm-8 xs-margin-top-20">
                {% if form.time_quote_ends.errors %}<p class="error">{% endif %}
                <label class="pq-form-label-optional" for="time_quote_ends" {% if form.time_quote_ends.errors %} class="error" {% endif %}>Time quote ends <small>(optional)</small></label>
                {{ form.time_quote_ends }}
              </div><!-- /.col-sm-6 xs-margin-top-20 -->
              
            </div><!-- /.row -->
            
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
            {% if form.text.errors %}<p class="error">{% endif %}
            <label class="pq-form-label-optional" for="text" {% if form.text.errors %} class="error" {% endif %}>Quote <small>(optional)</small></label>
            {{ form.text }}
          </div><!-- /.pq-form-input -->

          <div class="pq-form-buttons">
            <button type="submit" class="btn btn-small btn-primary pq-form-button">Submit</button>
            <a href="/" style="color:#eee;" class="btn btn-small btn-danger text-light-grey pq-form-button">Cancel</a>
          </div><!-- /.pq-form-input -->
          
          <div class="clearfix">
          </div>
          
        </form>

      </div><!-- /.pq-form -->
      
  </div><!-- /.col-sm-11 -->

{% endblock %}<!-- / block header -->