{% load quote_filters %}
{% load static %}
{% load humanize %}

<div class="pq-quote" id="pq-quote-{{ forloop.counter }}">
    <div class="pq-quote-buttons">
        
        <form method="post" action="{% url 'quote_vote' %}" class="vote_form">
            {% csrf_token %}
            <input type="hidden" id="id_quote" name="quote" class="hidden_id" value="{{ quote.pk }}" />
            <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
            <input type="hidden" id="id_vote_type" name="vote_type" class="hidden_id" value="1" />
            {% if not user.is_authenticated %}
                <button onclick="location.href = '/accounts/login/';" class="pq-quote-upvote gray-gradient {{ quote.id | class_if_upvote_active:user.id }}" id="pq-quote-upvote-{{ quote.id }}" title="Please login to vote">
                    <i class="fa fa-arrow-up"></i>
                </button>
            {% else %}
                <button class="pq-quote-upvote gray-gradient {{ quote.id | class_if_upvote_active:user.id }}" id="pq-quote-upvote-{{ quote.id }}">
                    <i class="fa fa-arrow-up"></i>
                </button>
            {% endif %}
        </form>

        <div class="pq-quote-vote-total" id="pq-quote-vote-total-{{ quote.id }}">
            {{ quote.karma_total }}
        </div>
        
        <form method="POST" action="{% url 'quote_vote' %}" class="vote_form">
            {% csrf_token %}
            <input type="hidden" id="id_quote" name="quote" class="hidden_id" value="{{ quote.pk }}" />
            <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
            <input type="hidden" id="id_vote_type" name="vote_type" class="hidden_id" value="-1" />
            {% if not user.is_authenticated %}
                <button onclick="location.href = '/accounts/login/';" class="pq-quote-downvote gray-gradient {{ quote.id | class_if_downvote_active:user.id }}" id="pq-quote-downvote-{{ quote.id }}" title="Please login to vote">
                        <i class="fa fa-arrow-down"></i>
                </button>
            {% else %}
                <button class="pq-quote-downvote gray-gradient {{ quote.id | class_if_downvote_active:user.id }}" id="pq-quote-downvote-{{ quote.id }}">
                        <i class="fa fa-arrow-down"></i>
                </button>
            {% endif %}
        </form>
        
    </div><!-- /.pq-quote-buttons -->
    
    {% if not is_quote_page %}
            {% if is_episode_page and quote.is_full_episode|is_true %}
                <div class="pq-quote-episode-picture hidden-xs" id="pq-quote-episode-picture-{{ forloop.counter }}" {% if quote.episode.youtube_url %}canplay="canplay"{% endif %} {% if not quote.episode.youtube_url %}cannotplay="cannotplay"{% endif %}>
                    {% if quote.episode.image %}
                        <img src="{{MEDIA_URL}}{{ quote.episode.image }}">
                    {% elif quote.episode.video_id %}
                        <img src="https://img.youtube.com/vi/{{ quote.episode.video_id }}/0.jpg">
                    {% elif quote.episode.podcast.image %}
                        <img src="{{MEDIA_URL}}{{ quote.episode.podcast.image }}">
                    {% endif %}
                    {% if quote.episode.youtube_url %}
                        <div class="picture-play-button">
                            <div class="picture-play-button-inside">
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% elif is_episode_page and not quote.is_full_episode|is_true %}
                <div class="pq-quote-episode-clip hidden-xs" id="pq-quote-episode-picture-{{ forloop.counter }}" {% if quote.episode.youtube_url %}canplay="canplay"{% endif %} {% if not quote.episode.youtube_url %}cannotplay="cannotplay"{% endif %}>
                    {% if quote.episode.image %}
                        <img src="{{MEDIA_URL}}{{ quote.episode.image }}">
                    {% elif quote.episode.video_id %}
                        <img src="https://img.youtube.com/vi/{{ quote.episode.video_id }}/0.jpg">
                    {% elif quote.episode.podcast.image %}
                        <img src="{{MEDIA_URL}}{{ quote.episode.podcast.image }}">
                    {% endif %}
                    {% if quote.episode.youtube_url %}
                        <div class="picture-play-button">
                            <div class="picture-play-button-inside">
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% elif quote.is_full_episode|is_true %}
                <div class="pq-quote-episode-picture hidden-xs" id="pq-quote-episode-picture-{{ forloop.counter }}" {% if quote.episode.youtube_url %}canplay="canplay"{% endif %} {% if not quote.episode.youtube_url %}cannotplay="cannotplay"{% endif %}>
                    {% if quote.episode.image %}
                        <img src="{{MEDIA_URL}}{{ quote.episode.image }}">
                    {% elif quote.episode.video_id %}
                        <img src="https://img.youtube.com/vi/{{ quote.episode.video_id }}/0.jpg">
                    {% elif quote.episode.podcast.image %}
                        <img src="{{MEDIA_URL}}{{ quote.episode.podcast.image }}">
                    {% endif %}
                    {% if quote.episode.youtube_url %}
                        <div class="picture-play-button">
                            <div class="picture-play-button-inside">
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="pq-quote-episode-clip hidden-xs" id="pq-quote-episode-picture-{{ forloop.counter }}" {% if quote.episode.youtube_url %}canplay="canplay"{% endif %} {% if not quote.episode.youtube_url %}cannotplay="cannotplay"{% endif %}>
                    {% if quote.episode.image %}
                        <img src="{{MEDIA_URL}}{{ quote.episode.image }}">
                    {% elif quote.episode.video_id %}
                        <img src="https://img.youtube.com/vi/{{ quote.episode.video_id }}/0.jpg">
                    {% elif quote.episode.podcast.image %}
                        <img src="{{MEDIA_URL}}{{ quote.episode.podcast.image }}">
                    {% endif %}
                    {% if quote.episode.youtube_url %}
                        <div class="picture-play-button">
                            <div class="picture-play-button-inside">
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        <script>
            $(document).ready(function () {
                if ($('#pq-quote-episode-picture-{{ forloop.counter }}').attr('canplay')) {
                    $('#youtube-start-button-wrapper-{{ forloop.counter }}').click(function() {
                        $("#pq-quote-episode-picture-{{ forloop.counter }}").hide();
                    });
                    $('#pq-quote-episode-picture-{{ forloop.counter }}').click(function() {
                        $('#youtube-start-button-wrapper-{{ forloop.counter }}').click();
                    });
                };
                if ($('#pq-quote-episode-picture-{{ forloop.counter }}').attr('cannotplay')) {
                    $('#pq-quote-episode-picture-{{ forloop.counter }}').css('cursor', 'auto');
                };
            });
        </script>
    {% endif %}

    
    <div class="pq-quote-text-wrapper" id="quote-text-wrapper-{{ forloop.counter }}">
        <div class="pq-quote-title dark-link" style="{% if is_episode_page %} margin-bottom:0;{% endif %}">
            {% if quote.summary %}
                <a href="
                         {% if quote.is_full_episode|is_true %}
                             {{ quote.episode.get_absolute_url }}
                         {% else %}
                             {{ quote.get_absolute_url }}
                         {% endif %}
                    ">
                    {{ quote.summary }}
                </a>
            {% elif not quote.summary %}
                <a href="
                         {% if quote.is_full_episode|is_true %}
                             {{ quote.episode.get_absolute_url }}
                         {% else %}
                             {{ quote.get_absolute_url }}
                         {% endif %}
                    ">
                    {{ quote.converted_time_begins }} 
                    {% if quote.time_quote_ends %}
                        to {{ quote.converted_time_ends }}
                    {% endif %}
                </a>
            {% endif %}
        </div>
        
        {% if is_episode_page %}
        {% else %}
            {% if is_home_page or is_quote_page or is_user_page %}
                {% if quote.episode.podcast.image %}
                    <div class="pq-quote-profile-picture display-none-550px">
                        <a href="{% url 'podcast_episode_list_root' pk=quote.episode.podcast.id %}">
                            <img src="{{MEDIA_URL}}{{ quote.episode.podcast.image }}">
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            {% if is_podcast_page %}
                {% if not is_podcast_episodes_page %}
                    {% if quote.episode.image or quote.episode.video_id %}
                        <div class="pq-quote-profile-picture-episode display-none-550px">
                            <a href="{% url 'podcast_episode_list_root' pk=quote.episode.podcast.id %}">
                                {% if quote.episode.image %}
                                    <img src="{{MEDIA_URL}}{{ quote.episode.image }}">
                                {% elif quote.episode.video_id %}
                                    <img src="https://img.youtube.com/vi/{{ quote.episode.video_id }}/0.jpg">
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        
            <div class="pq-quote-subtitle display-none-550px gray-link">
                {% if is_home_page or is_quote_page or is_user_page %}
                    {% if quote.episode.podcast.title %}
                        <a href="
                                 {% if is_home_clips_page or is_user_page %}
                                     {% url 'podcast_quote_list_root' pk=quote.episode.podcast.id %}
                                 {% else %}
                                     {% url 'podcast_episode_list_root' pk=quote.episode.podcast.id %}
                                 {% endif %}
                            ">
                            Podcast: {{ quote.episode.podcast.title|truncatechars:40 }}
                        </a>
                        <br>
                    {% endif %}
                {% endif %}
                
                {% if is_home_clips_page or is_podcast_clips_page or is_quote_page or is_user_page %}
                    {% if quote.episode.title %} 
                        <a href="{% url 'episode_quote_list_root' pk=quote.episode.id %}">
                            Episode: {{ quote.episode.title|truncatechars:40 }}
                        </a>
                        <br>
                    {% endif %}
                {% endif %}
                <!--
                    {% if is_home_page or is_podcast_page or is_quote_page or is_user_page %}
                        Karma: {{ quote.episode.karma_total }}
                    {% endif %}
                -->
            </div>
        {% endif %}            
        
        <div class="pq-quote-xs-subtitle display-none-549px gray-link">
            {% if is_home_page or is_quote_page or is_user_page %}
                {% if quote.episode.podcast.title %}
                    <a href="
                             {% if is_home_clips_page or is_user_page %}
                                 {% url 'podcast_quote_list_root' pk=quote.episode.podcast.id %}
                             {% else %}
                                 {% url 'podcast_episode_list_root' pk=quote.episode.podcast.id %}
                             {% endif %}
                        ">
                        Podcast: {{ quote.episode.podcast.title }}
                    </a>
                    <br>
                {% endif %}
            {% endif %}
            
            {% if is_home_clips_page or is_podcast_clips_page or is_quote_page or is_user_page %}
                {% if quote.episode.title %} 
                    <a href="{% url 'episode_quote_list_root' pk=quote.episode.id %}">
                        Episode: {{ quote.episode.title|truncatechars:40 }}
                    </a>
                    <br>
                {% endif %}
            {% endif %}
            
            <!--
            {% if is_home_page or is_podcast_page or is_quote_page or is_user_page %}
                <a href="{% url 'episode_quote_list_root' pk=quote.episode.id %}">
                    Karma: {{ quote.episode.karma_total }}
                </a>
            {% endif %}
            -->
        </div>
        
        <div class="clearfix">
        </div>
        
        <div class="pq-quote-xs-buttons hidden-sm hidden-md hidden-lg">
            <form method="POST" action="{% url 'quote_vote' %}" class="vote_form">
                {% csrf_token %}
                <input type="hidden" id="id_quote" name="quote" class="hidden_id" value="{{ quote.pk }}" />
                <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
                <input type="hidden" id="id_vote_type" name="vote_type" class="hidden_id" value="1" />
                {% if not user.is_authenticated %}
                    <button onclick="location.href = '/accounts/login/';" class="pq-quote-xs-upvote gray-gradient {{ quote.id | class_if_upvote_active:user.id }}" id="pq-quote-xs-upvote-{{ quote.id }}" title="Please login to vote">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                {% else %}
                    <button class="pq-quote-xs-upvote gray-gradient {{ quote.id | class_if_upvote_active:user.id }}" id="pq-quote-xs-upvote-{{ quote.id }}">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                {% endif %}
            </form>
            
            <div class="pq-quote-xs-vote-total" id="pq-quote-xs-vote-total-{{ quote.id }}">
                {{ quote.karma_total }}
            </div>
            
            <form method="POST" action="{% url 'quote_vote' %}" class="vote_form">
                {% csrf_token %}
                <input type="hidden" id="id_quote" name="quote" class="hidden_id" value="{{ quote.pk }}" />
                <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
                <input type="hidden" id="id_vote_type" name="vote_type" class="hidden_id" value="-1" />
                {% if not user.is_authenticated %}
                    <button onclick="location.href = '/accounts/login/';" class="pq-quote-xs-downvote gray-gradient {{ quote.id | class_if_downvote_active:user.id }}" id="pq-quote-xs-downvote-{{ quote.id }}" title="Please login to vote">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                {% else %}
                    <button class="pq-quote-xs-downvote gray-gradient {{ quote.id | class_if_downvote_active:user.id }}" id="pq-quote-xs-downvote-{{ quote.id }}">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                {% endif %}
            </form>
            
        </div><!-- /.pq-quote-xs-buttons -->

        {% if is_home_page or is_podcast_page or is_episode_page or is_user_page %}
            <div class="button-hider">
                <div id="youtube-start-button-wrapper-{{ forloop.counter }}" 
                     class="youtube-start-button-wrapper" 
                     style="{% if not quote.episode.youtube_url %}
                                display:none; 
                            {% endif %}
                            {% if quote.text %}
                                margin-bottom:5px;
                            {% endif %}
                    ">
                    {% if quote.episode.youtube_url %}    
                        <div class="youtube-start-button fa fa-play light-blue-gradient" 
                             videoID="{{ quote.episode.video_id }}" 
                             startTime="{{ quote.time_quote_begins }}" 
                             endTime="{{ quote.time_quote_ends }}" 
                             nextVideoURL="{{ quote_next.get_absolute_url }}"
                             >
                            <div class="youtube-start-button-text" id="{{ forloop.counter }}">
                                <small>&nbsp</small> PLAY
                            </div>
                        </div>
                    {% endif %}
                </div><!-- /.youtube-start-button-wrapper -->
            </div><!-- /.button-hider -->
            <div class="clearfix">
            </div>
            <div id="youtube-player-wrapper-{{ forloop.counter }}" class="youtube-player-wrapper">
                <div id="youtube-player-{{ forloop.counter }}" 
                     videoID="{{ quote.episode.video_id }}" 
                     startTime="{{ quote.time_quote_begins }}" 
                     endTime="{{ quote.time_quote_ends }}">
                    <!-- For pages with multiple videos, insert video onclick of youtube-start-button-wrapper via youtube.js -->
                </div>
            </div>
        {% endif %}
        
        {% if is_quote_page %}
            {% if quote.episode.youtube_url %}   
                <div class="youtube-player-wrapper" style="display:block;">
                    <div id="youtube-player-alone" videoID="{{ quote.episode.video_id }}" startTime="{{ quote.time_quote_begins }}" endTime="{{ quote.time_quote_ends }}" nextVideoURL="{{ quote_next.get_absolute_url }}">
                        <!-- insert YouTube player here from youtube.js -->
                    </div>
                </div>
            {% endif %}
        {% endif %}
        
        {% if is_home_page or is_podcast_page or is_episode_page or is_quote_page or is_user_page %}
            {% if quote.text %}
                <div class="pq-quote-text-box">
                    {% if quote.text %}
                        <div class="pq-quote-text-preview" 
                             id="pq-quote-text-preview-{{ forloop.counter }}">
                            {% if not quote.is_longer_than_240chars %}
                                {{ quote.text|urlize|linebreaks }}
                            {% endif %}
                            {% if quote.is_longer_than_240chars %}
                                {{ quote.text|linebreaks|truncatechars:240 }}
                                <span class="pq-show-more" id="show-more-{{ forloop.counter }}">
                                    show
                                </span>
                            {% endif %}
                        </div>
                        <div class="pq-quote-text"
                             id="pq-quote-text-{{ forloop.counter }}">
                            {{ quote.text|urlize|linebreaks }}
                            {% if quote.is_longer_than_240chars %}
                                <div class="pq-show-less" id="show-less-{{ forloop.counter }}">
                                    less
                                </div>
                            {% endif %}
                        </div><!-- /.pq-quote-text -->
                    {% endif %}
                </div><!-- /.pq-quote-text-box -->
            {% endif %}
        {% endif %}
        
        <script>
          $("#show-more-{{ forloop.counter }}").click(function() {
              $("#pq-quote-text-{{ forloop.counter }}").show();
              $("#pq-quote-text-preview-{{ forloop.counter }}").hide();
              $("#show-more-{{ forloop.counter }}").hide();
              $("#show-less-{{ forloop.counter }}").show();
          });
          $("#show-less-{{ forloop.counter }}").click(function() {
              $("#pq-quote-text-preview-{{ forloop.counter }}").show();
              $("#pq-quote-text-{{ forloop.counter }}").hide();
              $("#show-less-{{ forloop.counter }}").hide();
              $("#show-more-{{ forloop.counter }}").show();
          });
        </script>
        
        {% if is_quote_page %}
            {% if not quote.is_full_episode|is_true %}
                <div class="pq-quote-posted-by blue-link">
                    posted {{ quote.created_at|naturaltime }} by <a href="{{ quote.submitted_by.userprofile.get_absolute_url }}">{{ quote.submitted_by }}</a>
                </div>
            {% endif %}
        {% endif %}
  
    </div><!-- /.pq-quote-text-wrapper --> 
    
    <div class="pq-quote-date dark-link">
        {% if quote.is_full_episode|is_true %}
            <a href="{{ quote.episode.get_absolute_url }}">
                <span class="font-semibold">Full Episode</span>
                {% if not is_episode_page %}
                    - Clips: {{ quote.episode.all_episode_quotes_count }}
                {% endif %}
            </a>
        {% else %}
            <a href="{{ quote.get_absolute_url }}">       
                {% if quote.time_quote_ends %}
                    Length: {{ quote.duration }}
                {% elif not quote.time_quote_ends %}
                    Starts: {{ quote.converted_time_begins }}
                {% endif %}
                {% if is_home_page or is_podcast_page or is_quote_page or is_user_page or is_episode_page %}
                    {% if quote.time_quote_ends %}
                        / {{ quote.converted_time_begins }} 
                        {% if quote.time_quote_ends %}
                            - {{ quote.converted_time_ends }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </a>
        {% endif %}
            
        <!--
        {% if is_home_page or is_podcast_page or is_quote_page or is_user_page %} 
            {% if quote.episode.publication_date %}
                - Date Aired: {{ quote.episode.publication_date|date:'M d, Y' }}
            {% endif %}
        {% endif %}
        -->
    </div>

    <div class="pq-quote-bottom-buttons">
    
        <!-- Button trigger modal -->
        
        <button class="pq-quote-bottom-button" data-toggle="modal" data-target="#quoteShareModal{{ quote.id }}">
            share
        </button>
        
        
        <!-- Modal -->
        <div class="modal fade" id="quoteShareModal{{ quote.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Copy this link</h4>
                    </div>
                    <div class="modal-body">
                        http://www.podverse.tv{{ quote.get_absolute_url }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal fade -->
        
        {% if is_home_page or is_quote_page or is_user_page %}
            {% if quote.episode.support_url %}
                <div class="pq-quote-bottom-button text-orange">
                    <a href=
                    "{% if quote.episode.support_url %}
                        {{ quote.episode.support_url }}
                    {% endif %}"
                    target="_blank">
                        support
                    </a>
                </div>
            {% elif quote.episode.podcast.support_url %}
                <div class="pq-quote-bottom-button text-orange">
                    <a href=
                    "{% if quote.episode.podcast.support_url %}
                        {{ quote.episode.podcast.support_url }}
                    {% endif %}"
                    target="_blank">
                        support
                    </a>
                </div>
            {% endif %}
                
        {% endif %}
        
        {% if is_podcast_page %}
            {% if quote.episode.support_url %}
                <div class="pq-quote-bottom-button text-orange">
                    <a href=
                    "{% if quote.episode.podcast.support_url %}
                        {{ quote.episode.podcast.support_url }}
                    {% endif %}"
                    target="_blank">
                        support
                    </a>
                </div>
            {% endif %}
        {% endif %}
        
        {% if request.user == quote.submitted_by or user.is_superuser %}
            <div class="pq-quote-bottom-button text-purple">
                <a href="{{ quote.get_absolute_url }}edit/">
                    edit clip
                </a>
            </div>
        {% endif %}

        <div class="clearfix">
        </div>
          
    </div><!-- /.pq-quote-bottom -->
  
    <div class="clearfix">
    </div>

</div><!-- /.pq-quote -->