{% load quote_filters %}
{% load static %}

      <div class="pq-quote">
        
        <div class="pq-quote-buttons">

            <a href="/quotes/vote/{{ quote.id }}/1/">
                <div class="pq-quote-upvote {{ quote.id | class_if_upvote_active:user.id }}">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            
            <div class="pq-quote-vote-total">
                {{ quote.vote_score }}
            </div>
            
            <a href="/quotes/vote/{{ quote.id }}/-1/">
                <div class="pq-quote-downvote {{ quote.id | class_if_downvote_active:user.id }}">
                    <i class="fa fa-arrow-down"></i>
                </div>
            </a>
            
            <!--
            <div class="pq-quote-comments">
                <i class="fa fa-comment"></i>
            </div>
            -->
            
            <!--
            <div class="pq-quote-comments-total">
                1,234
            </div>
            -->
            
        </div><!-- /.pq-quote-buttons -->
        
        {% if quote.summary %}
        <div class="pq-quote-summary">
          {{ quote.summary }}
        </div><!-- /.pq-quote-summary -->
        {% endif %}
        
        {% if episode %}
        {% else %}
            <div class="pq-quote-details">
              {% if podcast %}
              {% else %}
                  {% if quote.episode.podcast.title %}
                      <a href="/podcasts/{{ quote.episode.podcast.id }}">
                          {{ quote.episode.podcast.title }}
                      </a>
                      >
                  {% endif %}
              {% endif %}
              {% if episode %}
              {% else %}
                  {% if quote.episode.title %} 
                      <a href="/podcasts/{{ quote.episode.podcast.id }}/episodes/{{ quote.episode.id }}">
                          {{ quote.episode.title }} - {{ quote.episode.publication_date|date:'m/d/y' }}
                      </a>
                  {% endif %}
              {% endif %}
            </div>
        {% endif %}
        
        <div class="pull-left">
        
            {% if quote.time_quote_begins and quote.episode.youtube_url %}
            
                <div class="youtube-box" id="youtube-{{ forloop.counter }}">
                  <div class="youtube" id="{{ quote.episode.video_id }}?rel=0&vq=small&start={{ quote.time_quote_begins }}&end={{ quote.time_quote_ends }}&autoplay=1&modestbranding=1&showinfo=0&fs=1">
                  </div>
                </div>
            
            {% endif %}
            
            <div class="pq-quote-details">
              {% if quote.converted_time_begins %}
                Starts: {{ quote.converted_time_begins }} 
              {% endif %}
              {% if quote.converted_time_begins and quote.converted_time_ends %}
                - Ends: {{ quote.converted_time_ends }} 
              {% endif %}
            </div>
        
            <div class="pq-quote-buttons-xs">
            
                <a href="/quotes/vote/{{ quote.id }}/1/">
                    <div class="pq-quote-upvote-xs">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>
                
                <div class="pq-quote-vote-total-xs">
                    {{ quote.vote_score}}
                </div>
                
                <a href="/quotes/vote/{{ quote.id }}/-1/">
                    <div class="pq-quote-downvote-xs">
                        <i class="fa fa-arrow-down"></i>
                    </div>
                </a>
                
                <!-- 
                <div class="pq-quote-comments-xs">
                    <i class="fa fa-comment"></i>
                </div>
                -->
                
                <!--
                <div class="pq-quote-comments-total-xs">
                    1,234
                </div>
                -->
                
            </div><!-- /.pq-quote-buttons-xs -->
        
            
        </div><!-- /.pull-left -->

            {% if quote.text %}
            <div class="pq-quote-text-preview" id="pq-quote-text-preview-{{ forloop.counter }}">
              {{ quote.text|truncatechars:200|linebreaks }}
              {% if not quote.id|is_less_than_X_characters:201 %}
                  <div class="pq-show-text" id="show-more-{{ forloop.counter }}">
                      show more
                  </div>
              {% endif %}
            </div>
            <div class="pq-quote-text" id="pq-quote-text-{{ forloop.counter }}">
              {{ quote.text|linebreaks }}
              {% if not quote.id|is_less_than_X_characters:201 %}
                  <div class="pq-show-text" id="show-less-{{ forloop.counter }}">
                      show less
                  </div>
              {% endif %}
            </div><!-- /.pq-quote-text -->
            {% endif %}

        <script>
          $("#show-more-{{ forloop.counter }}").click(function() {
              $("#pq-quote-text-preview-{{ forloop.counter }}").hide();
              $("#pq-quote-text-{{ forloop.counter }}").show();
          });
          $("#show-less-{{ forloop.counter }}").click(function() {
              $("#pq-quote-text-{{ forloop.counter }}").hide();
              $("#pq-quote-text-preview-{{ forloop.counter }}").show();
          });
        </script>
        
          <div class="pq-quote-bottom">
          
            <div class="pq-quote-bottom-button">
              share
            </div>
            
            {% if quote.episode.podcast.donate_url or quote.episode.donate_url %}
                <div class="pq-quote-bottom-button text-orange">
                    <a href=
                    "{% if quote.episode.donate_url %}
                        {{ quote.episode.donate_url }}
                    {% else %}
                        {{ quote.episode.podcast.donate_url }}
                    {% endif %}"
                    target="_blank">
                        donate
                    </a>
                </div>
            {% endif %}

          </div><!-- /.pq-quote-bottom -->

      </div><!-- /.pq-quote hidden-xs visible-sm visible-md visible-lg -->