{% extends "base.html" %}

{% block opengraph %}
    <meta property="og:url" content="https://podverse.tv/clips/{{ quote.id }}/">
    <meta property="og:title" content="{{ quote.summary }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="
        {% if quote.episode.description %}
            {{ quote.episode.description }}
        {% elif quote.episode.podcast.description %}
            {{ quote.episode.podcast.description }}
        {% else %}
            Find and share highlights of your favorite podcasts. Connect with podcast listeners. Raise money for your podcast. Inspired by reddit.
        {% endif %}
        ">
    {% if quote.episode.youtube_url %}
        <meta property="og:image" content="http://img.youtube.com/vi/{{ quote.episode.video_id }}/0.jpg">
    {% endif %}
    {% if quote.episode.podcast.image %}
        <meta property="og:image" content="https://podverse.tv/media/{{ quote.episode.podcast.image }}">
    {% endif %}
    {% if quote.episode.image %}
        <meta property="og:image" content="https://podverse.tv/media/{{ quote.episode.image }}">
    {% endif %}
    <meta property="og:image" content="https://podverse.tv/static/img/podverse-logo-square.jpg" />
{% endblock %}

{% block content %}
    
    {% include 'main_col_width.html' %}
    
    {% if quote_previous %}
        <div class="pq-previous-clip gray-link">
            <a href="{{ quote_previous.get_absolute_url }}">
                < prev
            </a>
        </div>
    {% endif %}
    {% if quote_next %}
        <div class="pq-next-clip gray-link">
            <a href="{{ quote_next.get_absolute_url }}">
                next >
            </a>
        </div>
    {% endif %}
    
{% endblock %}<!-- /block content -->
    
{% block quotes %}
    <!-- quote_list is tech debt that needs to be banished after a non-kluge youtube.js file is created -->
    {% for quote in quote_pseudo_list %}
        {% include 'quotes.html' %}
    {% endfor %}

    </div><!-- /.col-sm-11 ***you must include this close tag***-->

{% endblock %}<!-- / block quotes -->