{% extends "base.html" %}

{% block breadcrumbs %}
  <div class="pq-share-button color-share">
    Share
  </div><!-- /.pq-podcast-headerbutton -->

  <div class="pq-breadcrumbs">
      <a href="/">Home</a> > <a href="/podcasts/{{ episode.podcast.id }}">{{ episode.podcast.title }}</a> > {{ episode.title }}
  </div><!-- /.pq-breadcrumbs -->
{% endblock %}

{% block main %}
  
  <div class="pq-podcast-header">

    <div class="pq-podcast-buttons">
    
        <a href="#">
          <div class="pq-podcast-button color-follow">
            Follow
          </div>
        </a>
        
        <a href="{{ episode.podcast.donate_url }}">
          <div class="pq-podcast-button color-donate">
            Donate
          </div>
        </a>
        
        <a href="/podcasts/edit/{{ podcast.id }}">
          <div class="pq-podcast-button color-edit">
            Edit
          </div>
        </a>
        
    </div><!-- /.pq-podcast-buttons -->
    
    <a href="/podcasts/{{ podcast.id }}">
      <div class="pq-podcast-profile-picture">
          <img src="{{MEDIA_URL}}{{ episode.podcast.image }}" />
      </div><!-- /.pq-podcast-profile-picture -->
    </a>
    
    <div class="pq-podcast-header-box">
        <div class="pq-podcast-title">
          
          <select class="pq-podcast-selector form-control" ONCHANGE="location = this.options[this.selectedIndex].value;">
              <option value="/podcasts/{{ episode.podcast.id }}" selected="selected">{{ episode.podcast.title }}</option>
              <option value="/">All Podcasts</option>
              <option value="/">My Podcasts</option>
              {% for podcast in podcasts %}
                  <option value="/podcasts/{{ podcast.id }}">{{ podcast.title }}</option>
              {% endfor %}
          </select>
          
          <select class="pq-episode-selector form-control" ONCHANGE="location = this.options[this.selectedIndex].value;">
              <option value="/episodes/{{ podcast.episode.id }}" selected="selected">{{ episode.title }}</option>
              <option value="/episodes/{{ podcast.episode.id }}">All Episodes</option>
              {% for episode in episode.all_episodes %}
                  <option value="/episodes/{{ episode.id }}">
                    {{ episode.title }}
                  </option>
              {% endfor %}
          </select>
          
        </div><!-- /.pq-podcast-title -->
      
      </div><!-- /.pq-podcast-header-box -->
      
      <div class="pq-podcast-info">
        
        <div class="pq-podcast-social-media">
          {% if episode.podcast.homepage %}
          <a href="{{ episode.podcast.homepage }}" target="_blank">
            <i class="fa fa-home"></i>&nbsp
          </a>
          {% endif %}
          {% if episode.podcast.twitter_url %}
          <a href="{{ episode.podcast.twitter_url }}" target="_blank">
            <i class="fa fa-twitter-square"></i>&nbsp
          </a>
          {% endif %}
          {% if episode.podcast.facebook_url %}
          <a href="{{ episode.podcast.facebook_url }}" target="_blank">
            <i class="fa fa-facebook-square"></i>&nbsp
          </a>
          {% endif %}
          {% if episode.podcast.instagram_url %}
          <a href="{{ episode.podcast.instagram_url }}" target="_blank">
            <i class="fa fa-instagram"></i>&nbsp
          </a>
          {% endif %}
          {% if episode.podcast.google_plus_url %}
          <a href="{{ episode.podcast.google_plus_url }}" target="_blank">
            <i class="fa fa-google-plus-square"></i>&nbsp 
          </a>
          {% endif %}
          {% if episode.podcast.youtube_url %}
          <a href="{{ episode.podcast.youtube_url }}" target="_blank">
            <i class="fa fa-youtube-square"></i>
          </a>
          {% endif %}
        </div><!-- /.pq-podcast-social-media -->
        
        <div class="pq-podcast-header-info-right-1">
          <strong>2,345 listeners</strong>
        </div><!-- /.pq-podcast-header-info -->
        
        <div class="pq-podcast-header-info-left">
          <strong>Category:</strong> Comedy
        </div><!-- /.pq-podcast-header-info -->

        
        <div class="pq-podcast-header-info-right-2">
            <strong>{{ episode.podcast.all_podcast_quotes.count }} quotes</strong>
        </div><!-- /.pq-podcast-header-info -->
        
        <div class="pq-podcast-header-info-left">
            <strong>Hosts:</strong> Host Name 1, Host Name 2
        </div><!-- /.pq-podcast-header-info -->
        
        <div class="pq-podcast-header-info-full">
            <strong>Description:</strong> {{ episode.podcast.description }}
        </div><!-- /.pq-episode-header-info-full -->
        
        <div class="pq-episode-divider">
        </div>
        
        <div class="pq-podcast-header-info-left">
            <big><strong>Episode:</strong> #484 - Alexis Ohanian</big>
        </div>
        
        <div class="pq-podcast-header-info-right-3">
          <strong>{{ episode.all_episode_quotes.count }} quotes </strong>
        </div><!-- /.pq-podcast-header-info -->
        
        <div class="pq-podcast-header-info-left">
            <strong>Guests:</strong> Guest Name 1, Guest Name 2
        </div><!-- /.pq-podcast-header-info -->
        
        <div class="pq-podcast-header-info-full">
            <strong>Description:</strong> {{ episode.description }}
        </div><!-- /.pq-episode-header-info-full -->
          
      </div><!-- /.pq-podcast-info -->
        
      
          
    <div class="clearfix">
    </div>
          
  </div><!-- /.pq-podcast-header -->
  
  <!--
  <div class="pq-votes-shown">
      Listener Votes <i class="fa fa-chevron-down"></i>
  </div>
  -->
  
      <div class="pq-nav-active">
        hot
      </div><!-- /.pq-nav-active -->

      <div class="pq-nav">
        not
      </div><!-- /.pq-nav -->

      <div class="pq-nav pq-nav-disappear-5">
        controversial
      </div><!-- /.pq-nav -->
      
      <div class="pq-nav pq-nav-disappear-4">
        new
      </div><!-- /.pq-nav -->
      
      <div class="pq-nav pq-nav-disappear-3">
        top
      </div><!-- /.pq-nav -->
      
      <div class="pq-nav pq-nav-disappear-2">
        bottom
      </div><!-- /.pq-nav -->
      
      <div class="pq-nav pq-nav-disappear-1">
        stats
      </div><!-- /.pq-nav -->
      
      <div class="btn-group">
        <button type="button" class="pq-nav dropdown-toggle" data-toggle="dropdown">
          more <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li class="pq-nav-appear-5"><a href="#">controversial</a></li>
          <li class="pq-nav-appear-4"><a href="#">new</a></li>
          <li class="pq-nav-appear-3"><a href="#">top</a></li>
          <li class="pq-nav-appear-2"><a href="#">bottom</a></li>
          <li class="pq-nav-appear-1"><a href="#">stats</a></li>
          <li><a href="#">transcription</a></li>
          <li><a href="#">mainstream</a></li>
          <li><a href="#">ghosts</a></li>
          <li><a href="#">birthdays</a></li>
          <li class="divider"></li>
          <li><a href="#">custom</a></li>
        </ul>
      </div>
      
    <div class="row">
  
      {% for quote in episode.all_episode_quotes %}
      
      <div class="col-sm-16">
        
        <div class="pq-quote">
          
          <div class="pq-quote-buttons">
          
              <div class="pq-quote-upvote">
                  <i class="fa fa-arrow-up"></i>
              </div>
              
              <div class="pq-quote-vote-total">
                  -234
              </div>
              
              <div class="pq-quote-downvote">
                  <i class="fa fa-arrow-down"></i>
              </div>
              
              <div class="pq-quote-comments">
                  <i class="fa fa-comment"></i>
              </div>
              
              <div class="pq-quote-comments-total">
                  1,234
              </div>
              
              <div class="pq-quote-date">
                  {{ quote.episode.publication_date|date:'m/d/y' }}
              </div>
              
          </div><!-- /.pq-quote-buttons -->
          
          {% if quote.summary %}
          <div class="pq-quote-summary">
            {{ quote.summary }}
          </div><!-- /.pq-quote-summary -->
          {% endif %}
          
          {% if quote.time_quote_begins and quote.episode.video_url %}
          
              <div class="youtube-box" id="youtube{{ forloop.counter }}">
                <div class="youtube" id="{{ quote.episode.video_id }}?rel=0&vq=medium&start={{ quote.time_quote_begins }}&autoplay=1&modestbranding=1&showinfo=0">
                </div>
              </div>
          
          {% endif %}
          
          <div class="pq-quote-details">
            {% if quote.converted_time_begins %}
              Starts: {{ quote.converted_time_begins }} 
            {% endif %}
            {% if quote.converted_time_begins and quote.converted_time_ends %}
              - Ends: {{ quote.converted_time_ends }} 
            {% endif %}
            <span class="pq-quote-date-xs">
              - Aired: {{ quote.episode.publication_date|date:'m/d/y' }}
            </span>
          </div>
          
          <div class="pq-quote-buttons-xs">
          
              <div class="pq-quote-upvote-xs">
                  <i class="fa fa-arrow-up"></i>
              </div>
              
              <div class="pq-quote-vote-total-xs">
                  -234
              </div>
              
              <div class="pq-quote-downvote-xs">
                  <i class="fa fa-arrow-down"></i>
              </div>
              
              <div class="pq-quote-comments-xs">
                  <i class="fa fa-comment"></i>
              </div>
              
              <div class="pq-quote-comments-total-xs">
                  1,234
              </div>
              
          </div><!-- /.pq-quote-buttons-xs -->
        
        <script>
          $('#youtube{{ forloop.counter }}').click(function() {
              $('#pq-quote-info-{{ forloop.counter }}').toggleClass('pq-quote-info-cleared');
              $('#pq-quote-info-{{ forloop.counter }}').removeClass('pq-quote-info');
          });
        </script>
        
          {% if quote.text %}
          <div class="pq-quote-text">
            {{ quote.text }}
          </div><!-- /.pq-quote-text -->
          {% endif %}

            <div class="pq-quote-bottom">
            
              <div class="pq-quote-bottom-button">
                share
              </div>

              <div class="pq-quote-bottom-button">
                save
              </div>

              <div class="pq-quote-bottom-button text-orange">
                donate
              </div>
              
              <div class="pq-quote-bottom-button">
                more
              </div>

            </div><!-- /.pq-quote-bottom -->

        </div><!-- /.pq-quote hidden-xs visible-sm visible-md visible-lg -->

      </div><!-- /.col-sm-6 .col-md-4 -->

      {% endfor %}<!-- / for quote in quote.all -->
      
    </div><!-- /.row -->

{% endblock %}<!-- / block main -->