{% extends "base.html" %}

{% block main %}
    
<div class="col-md-7">

    <div class="pq-title">
      Add an Episode <i class="fa fa-chevron-down"></i>
    </div><!-- /.pq-title -->
      
    <div class="pq-form">
      
        <form method="post" action="" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            {% if episode_form.errors %}
              <p>Please correct the following fields:</p>
            {% endif %}

            <div class="pq-form-input">
              {% if episode_form.podcast.errors %}<p class="error">{% endif %}
              <label class="pq-form-label" for="podcast" {% if podcast_form.podcast.errors %} class="error" {% endif %}>Podcast</label>
              {{ episode_form.podcast }}
            </div><!-- /.pq-form-input -->
            
            <div class="pq-form-input">
              {% if episode_form.title.errors %}<p class="error">{% endif %}
              <label class="pq-form-label" for="title" {% if podcast_form.title.errors %} class="error" {% endif %}>Title</label>
              {{ episode_form.title }}
            </div><!-- /.pq-form-input -->

            <div class="pq-form-input">
              {% if episode_form.publication_date.errors %}<p class="error">{% endif %}
              <label class="pq-form-label" for="publication_date" {% if episode_form.publication_date.errors %} class="error"{% endif %}>Publication Date</label>
              {{ episode_form.publication_date }}
            </div><!-- /.pq-form-input -->
            
            <div class="pq-form-input">
              {% if episode_form.description.errors %}<p class="error">{% endif %}
              <label class="pq-form-label" for="description" {% if episode_form.description.errors %} class="error" {% endif %}>Description</label>
              {{ episode_form.description }}
            </div><!-- /.pq-form-input -->
            
            <div class="pq-form-input">
              {% if episode_form.episode_url.errors %}<p class="error">{% endif %}
              <label class="pq-form-label" for="episode_url" {% if episode_form.episode_url.errors %} class="error" {% endif %}>Homepage Episode URL</label>
              {{ episode_form.episode_url }}
            </div><!-- /.pq-form-input -->
            
            <div class="pq-form-input">
              {% if episode_form.video_url.errors %}<p class="error">{% endif %}
              <label class="pq-form-label" for="video_url" {% if episode_form.video_url.errors %} class="error" {% endif %}>YouTube Video URL</label>
              {{ episode_form.video_url }}
            </div><!-- /.pq-form-input -->
            
            <div class="pq-form-input">
              {% if episode_form.audio_url.errors %}<p class="error">{% endif %}
              <label class="pq-form-label" for="audio_url" {% if episode_form.audio_url.errors %} class="error" {% endif %}>Audio URL</label>
              {{ episode_form.audio_url }}
            </div><!-- /.pq-form-input -->

            <div class="pq-form-buttons">
              <button type="submit" class="btn btn-small btn-primary pq-form-button">Submit</button>
              <a href="/" class="btn btn-small btn-danger pq-form-button">Cancel</a>
            </div><!-- /.pq-form-input -->
            
            <div class="clearfix">
            </div>
            
        </form>
      
    </div><!-- /.pq-form -->

</div><!-- /..col-md-7 -->

{% endblock %}<!-- / block main -->

{% block extraspace %}
    <div class="col-md-2">
    </div><!-- /.col-md-2 -->
{% endblock %}<!-- / block extraspace -->