{% extends "base.html" %}

{% block main %}
    
<div class="col-md-9 col-lg-9">

  <div class="pq-title">
    <select class="form-control" ONCHANGE="location = this.options[this.selectedIndex].value;">
      <option value="/" selected="selected">All Podcasts</option>
      <option value="/">My Podcasts</option>
      {% for podcast in podcasts %}
      <option value="/podcasts/{{ podcast.id }}">{{ podcast.title }}</option>
      {% endfor %}
    </select>
  </div><!-- /.pq-title -->
  
  <div class="pq-votes-shown">
    Listener Votes <i class="fa fa-chevron-down"></i>
  </div><!-- /.pq-votes-shown -->
  
  <div class="hidden-xs visible-sm visible-md visible-lg">
  
    <div class="pq-nav-active">
      hot
    </div><!-- /.pq-nav-active -->

    <div class="pq-nav">
      not
    </div><!-- /.pq-nav -->

    <div class="pq-nav">
      new
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav">
      controversial
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav">
      top
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav pq-nav-disappear-2">
      bottom
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav pq-nav-disappear-1">
      stats
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav">
      more
    </div><!-- /.pq-nav -->
    
  </div><!-- /.hidden-xs .visible-sm .visible-md .visible-lg -->
  
  <div class="visible-xs hidden-sm hidden-md hidden-lg pq-xs-navs">
    
    <div class="pq-xs-nav-active">
      hot
    </div>

    <div class="pq-xs-nav">
      not
    </div>
    
    <span class="pq-nav-disappear-4">
      <div class="pq-xs-nav">
        new
      </div>
    </span>
    
    <span class="pq-nav-disappear-3">
      <div class="pq-xs-nav">
        top
      </div>
    </span>
    
    <div class="pq-xs-nav">
      more
    </div>
  
  </div><!-- /.visible-xs .hidden-sm .hidden-md .hidden-lg -->
  
  {% for quote in quotes %}
  
  <div class="pq-quote hidden-xs visible-sm visible-md visible-lg">
    
    {% if quote.episode.podcast.title %}
    <div class="pq-quote-profile-picture">
      <img src="{{ MEDIA_URL}}{{ quote.episode.podcast.image }}" />
    </div><!-- /.pq-quote-profile-picture -->
    
    <div class="pq-quote-header-inside">
    
      <div class="pq-quote-podcast-name">
        <a href="podcasts/{{ quote.episode.podcast.id }}">
          {{ quote.episode.podcast.title }}
        </a>
      </div><!-- /.pq-quote-podcast-name -->
    
    </div><!-- /.pq-quote-header-inside -->
    {% endif %}
    
    {% if quote.episode.title or quote.episode.publication_date %}
    <div class="pq-quote-header-row">
    
      <div class="pq-quote-date-home">
        <a href="/episodes/{{ quote.episode.id }}">{{ quote.episode.publication_date }}</a>
      </div><!-- pq-quote-date-home -->
      
      <div class="pq-quote-header-inside">
        <div class="pq-quote-podcast-episode">
          <a href="/episodes/{{ quote.episode.id }}">
            {{ quote.episode.title }}
          </a>
        </div><!-- /.pq-quote-podcast-episode -->
      </div><!-- /.pq-quote-header-inside -->
    
    </div><!-- /.pq-quote-header-row -->
    {% endif %}
    
    {% if quote.episode.podcast.title or quote.episode.title or quote.episode.publication_date %}
    <hr style="clear:left;" />
    {% endif %}
    
    <div class="pq-quote-votes">
    
      <div class="pq-quote-upvote-button">
        <i class="fa fa-arrow-circle-o-up"></i>
      </div><!-- /.pq-quote-upvote-button -->
      
      <div class="pq-quote-vote-total">
        123
      </div><!-- /.pq-quote-vote-total -->
      
      <div class="pq-quote-downvote-button">
        <i class="fa fa-arrow-circle-o-down"></i>
      </div><!-- /.pq-quote-downvote-button -->
    
    </div><!-- /.pq-quote-votes -->
      
      <div class="pq-quote-buttons">
      
        <a href="#">
          <div class="pq-quote-edit-button color-share">
            Share
          </div>
        </a>
        
        <a href="{{ quote.episode.podcast.donate_url }}">
          <div class="pq-quote-edit-button color-donate">
            Donate
          </div>
        </a>
        
        <a href="/quotes/edit/{{ quote.id }}">
          <div class="pq-quote-edit-button color-edit">
            Edit
          </div>
        </a>
        
        <div class="clearfix">
        </div>
        
      </div><!-- /.pq-quote-buttons -->
      
      <div class="pq-quote-inside">
        
        {% if quote.summary %}
        <div class="pq-quote-summary">
          {{ quote.summary }}
        </div><!-- /.pq-quote-summary -->
        {% endif %}
        
        {% if quote.converted_time_begins or quote.converted_time_ends %}
        <div class="pq-quote-clip-time">
        {% endif %}
          {% if quote.converted_time_begins %}
          Starts: {{ quote.converted_time_begins }}
          {% endif %}
          {% if quote.converted_time_begins and quote.converted_time_ends %}
          &nbsp - &nbsp
          {% endif %}
          {% if quote.converted_time_ends %}
          Ends: {{ quote.converted_time_ends }}
          {% endif %}
        {% if quote.converted_time_begins or quote.converted_time_ends %}
        </div>
        {% endif %}
        
        {% if quote.time_quote_begins and quote.episode.video_url %}
        <div class="youtube" id="{{ quote.episode.video_id }}?start={{ quote.time_quote_begins }}&">
        </div>
        {% endif %}
        
        <div class="pq-quote-text">
          {{ quote.text }}
        </div><!-- /.pq-quote-text -->
        
        <div class="pq-quote-time-posted">
          posted 5 hours ago by mcluhan123
        </div><!-- /.pq-quote-time-posted -->
        
      </div><!-- /.pq-quote-inside -->
      
      <div class="pq-quote-bottom">
      
        <div class="pq-quote-bottom-button">
          9 comments
        </div><!-- /.pq-quote-bottom-button -->
        
        <div class="pq-quote-bottom-button">
          save
        </div><!-- /.pq-quote-bottom-button -->

        <div class="pq-quote-bottom-button">
          follow
        </div><!-- /.pq-quote-bottom-button -->

        <div class="pq-quote-bottom-button">
          correct
        </div><!-- /.pq-quote-bottom-button -->

        <div class="pq-quote-bottom-button">
          more
        </div><!-- /.pq-quote-bottom-button -->

      </div><!-- /.pq-quote-bottom -->

      <div class="clearfix">
      </div>

  </div><!-- /.pq-quote hidden-xs visible-sm visible-md visible-lg -->

  <div class="pq-xs-quote visible-xs hidden-sm hidden-md hidden-lg">
    
    {% if quote.episode.podcast.title %}
    <div class="pq-xs-quote-profile-picture">
      <img src="{{ MEDIA_URL }}{{ quote.episode.podcast.image }}" />
    </div><!-- /.pq-xs-quote-profile-picture -->
    {% endif %}
    
    {% if quote.episode.podcast.title or quote.episode.title %}
    <div class="pq-xs-quote-header-inside">
    
      <div class="pq-xs-quote-podcast-name">
        <a href="/podcasts/{{ quote.episode.podcast.id }}">
          {{ quote.episode.podcast.title }}
        </a>
      </div><!-- /.pq-xs-quote-podcast-name -->
      
      <div class="pq-xs-quote-podcast-episode">
        <a href="/episodes/{{ quote.episode.id }}">
          {{ quote.episode.title }}
          {% if quote.episode.title and quote.episode.publication_date %}
          -
          {% endif %}
          {{ quote.episode.publication_date }}
        </a>
      </div><!-- /.pq-xs-quote-podcast-episode -->
      
      <div class="clearfix">
      </div>
    
    </div><!-- /.pq-xs-quote-header-inside -->
    
    <div class="clearfix">
    </div>
    
    <hr />
    {% endif %}

    <div class="pq-xs-quote-inside">
      
      {% if quote.summary %}
      <div class="pq-quote-summary">
        {{ quote.summary }}
      </div><!-- /.pq-quote-summary -->
      {% endif %}
      
      {% if quote.converted_time_begins or quote.converted_time_ends %}
      <div class="pq-quote-clip-time">
      {% endif %}
        {% if quote.converted_time_begins %}
        Starts: {{ quote.converted_time_begins }}
        {% endif %}
        {% if quote.converted_time_begins and quote.converted_time_ends %}
        &nbsp - &nbsp
        {% endif %}
        {% if quote.converted_time_ends %}
        Ends: {{ quote.converted_time_ends }}
        {% endif %}
      {% if quote.converted_time_begins or quote.converted_time_ends %}
      </div>
      {% endif %}
      
      {% if quote.time_quote_begins and quote.episode.video_url %}
      <div class="youtube" id="{{ quote.episode.video_id }}?start={{ quote.time_quote_begins }}&">
      </div>
      {% endif %}
    
      <div class="pq-xs-quote-text">
        {{ quote.text }}
      </div><!-- /.pq-xs-quote-text -->
    
    </div><!-- /.pq-xs-quote-inside -->
    
    <div class="pq-xs-quote-time-posted">
       posted 5 hours ago by <span class="text-blue">mcluhan123
    </div>
    
    <div class="pq-xs-quote-button-row">
      
      <div class="pq-xs-quote-votes">
      
        <div class="pq-xs-quote-upvote-button">
          <i class="fa fa-arrow-circle-o-up"></i>
        </div><!-- /.pq-xs-quote-upvote-button -->
      
        <div class="pq-xs-quote-vote-total">
          123
        </div><!-- /.pq-xs-quote-vote-total -->
        
        <div class="pq-xs-quote-downvote-button">
          <i class="fa fa-arrow-circle-o-down"></i>
        </div><!-- /.pq-xs-quote-downvote-button -->
        
      </div><!-- /.pq-xs-quote-votes -->
    
    </div><!-- /.pq-xs-quote-button-row -->
    
    <div class="pq-xs-quote-bottom">
      
      <div class="pq-xs-quote-bottom-button">
        9 comments
      </div><!-- /.pq-xs-quote-bottom-button -->
      
      <div class="pq-xs-quote-bottom-button">
        share
      </div><!-- /.pq-xs-quote-bottom-button -->
      
      <span class="pq-xs-quote-bottom-button-disappear-3">
        <div class="pq-xs-quote-bottom-button">
          save
        </div><!-- /.pq-xs-quote-bottom-button -->
      </span>
      
      <span class="pq-xs-quote-bottom-button-disappear-2">
        <div class="pq-xs-quote-bottom-button text-orange">
          donate
        </div><!-- /.pq-xs-quote-bottom-button -->
      </span>
      
      <span class="pq-xs-quote-bottom-button-disappear-1">
        <div class="pq-xs-quote-bottom-button text-green">
          follow
        </div><!-- /.pq-xs-quote-bottom-button -->
      </span>
    
      <div class="pq-xs-quote-bottom-button">
        more
      </div><!-- /.pq-xs-quote-bottom-button -->
      
      <div class="clearfix">
      </div>
      
    </div><!-- /.pq-xs-quote-bottom -->
    
  </div><!-- /.pq-quote-xs visible-xs hidden-sm hidden-md hidden-lg -->
  
  {% endfor %}<!-- / for quote in quote.all -->

</div><!-- /.col-md-9 -->

{% endblock %}<!-- / block main -->

{% block menu %}
  
<div class="row">

  <div class="col-sm-6 col-md-12">
  
    <div class="pq-menu">
      
      <div class="pq-menu-title">
        Podcasts
      </div><!-- /.pq-menu-title -->
      
      <div class="pq-menu-advanced">
        advanced
      </div><!-- /.pq-menu-advanced -->

      <div class="pq-menu-pulldown">
        All Podcasts <i class="fa fa-chevron-down"></i>
      </div><!-- /.pq-menu-pulldown -->
      
      <div class="clearfix">
      </div>
      
      <hr />

      <div class="pq-menu-options">
       {% for podcast in podcasts %}        
        <div class="pq-menu-option">
          <a href="/podcasts/{{ podcast.id}}">
            - {{ podcast.title }}
          </a>
        </div><!-- /.pq-menu-option -->
       {% endfor %}
      </div><!-- /.pq-menu-options -->

    </div><!-- /.pq-menu -->
    
  </div><!-- /.col-sm-6 .col-md-12 -->

</div><!-- /.row -->

{% endblock %}<!-- / block menu -->