{% extends "base.html" %}

{% block breadcrumbs %}
  <div class="pq-breadcrumbs">
      <a href="/">Home</a> > {{ podcast.title }}
  </div><!-- /.pq-breadcrumbs -->
{% endblock %}

{% block main %}
    
<div class="col-md-16">
  
  <div class="pq-podcast-header">

    <a href="/podcasts/{{ podcast.id }}">
      <div class="pq-podcast-profile-picture">
          <img src="{{MEDIA_URL}}{{ podcast.image }}" />
      </div><!-- /.pq-podcast-profile-picture -->
    </a>
    
    <div class="pq-podcast-header-box">
    
        <div class="pq-podcast-header-button color-share">
      Share
    </div><!-- /.pq-podcast-headerbutton -->
    
    {% if quote.episode.podcast.donate_url %}
    <a href="{{ podcast.donate_url }}">
      <div class="pq-podcast-header-button color-donate">
        Donate
      </div><!-- /.pq-podcast-headerbutton -->
    </a>
    {% endif %}
    
    <!--
    <div class="pq-podcast-header-button color-follow">
      Follow
    </div>
    -->
    
    <!--
    <a href="/podcasts/edit/{{ podcast.id }}">
      <div class="pq-podcast-header-button color-edit">
        Edit
      </div>
    </a>
    -->

      <div class="pq-podcast-title">
        
        <select class="form-control" ONCHANGE="location = this.options[this.selectedIndex].value;">
            <option value="/podcasts/{{ podcast.id }}" selected="selected">{{ podcast.title }}</option>
            <option value="/">All Podcasts</option>
            <option value="/">My Podcasts</option>
            {% for podcast in podcasts %}
                <option value="/podcasts/{{ podcast.id }}">{{ podcast.title }}</option>
            {% endfor %}
        </select>
        
      </div><!-- /.pq-title -->
        
      <div class="pq-podcast-social-media">
        {% if podcast.homepage %}
        <a href="{{ podcast.homepage }}" target="_blank">
          <i class="fa fa-home"></i>&nbsp
        </a>
        {% endif %}
        {% if podcast.twitter_url %}
        <a href="{{ podcast.twitter_url }}" target="_blank">
          <i class="fa fa-twitter-square"></i>&nbsp
        </a>
        {% endif %}
        {% if podcast.facebook_url %}
        <a href="{{ podcast.facebook_url }}" target="_blank">
          <i class="fa fa-facebook-square"></i>&nbsp
        </a>
        {% endif %}
        {% if podcast.instagram_url %}
        <a href="{{ podcast.instagram_url }}" target="_blank">
          <i class="fa fa-instagram"></i>&nbsp
        </a>
        {% endif %}
        {% if podcast.google_plus_url %}
        <a href="{{ podcast.google_plus_url }}" target="_blank">
          <i class="fa fa-google-plus-square"></i>&nbsp 
        </a>
        {% endif %}
        {% if podcast.youtube_url %}
        <a href="{{ podcast.youtube_url }}" target="_blank">
          <i class="fa fa-youtube-square"></i>
        </a>
        {% endif %}
      </div><!-- /.pq-podcast-social-media -->
    
      <div class="pq-podcast-header-info-right-1">
        2,345 listeners
      </div><!-- /.pq-podcast-header-info -->
      
      <div class="pq-podcast-header-info-left">
        <strong>Category:</strong> Comedy
      </div><!-- /.pq-podcast-header-info -->
      
      <div class="pq-podcast-header-info-right-2">
        <a href="/podcasts/{{ podcast.id }}">
          {{ podcast.all_podcast_quotes.count }} quotes
        </a>
      </div><!-- /.pq-podcast-header-info -->
      
      <div class="pq-podcast-header-info-left">
          <strong>Hosts:</strong> Host Name 1, Host Name 2
      </div><!-- /.pq-podcast-header-info -->
      
      <div class="pq-podcast-header-info-full">
          <strong>Description:</strong> {{ podcast.description }}
      </div><!-- /.pq-episode-header-info-full -->
         
    </div><!-- /.pq-podcast-header-box -->
          
    <div class="clearfix">
    </div>
          
  </div><!-- /.pq-podcast-header -->
  
  <!--
  <div class="pq-votes-shown">
      Listener Votes <i class="fa fa-chevron-down"></i>
  </div>
  -->
  
    <div class="pq-nav-active">
      hot
    </div><!-- /.pq-nav-active -->

    <div class="pq-nav">
      not
    </div><!-- /.pq-nav -->

    <div class="pq-nav">
      new
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav">
      controversial
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav">
      top
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav pq-nav-disappear-2">
      bottom
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav pq-nav-disappear-1">
      stats
    </div><!-- /.pq-nav -->
    
    <div class="pq-nav">
      more
    </div><!-- /.pq-nav -->
    
    <div class="row">
    
      {% for quote in podcast.all_podcast_quotes %}
      
      <div class="col-sm-8">
      
        <div class="pq-quote">
          
          {% if quote.episode.title or quote.episode.publication_date %}
          <div class="pq-quote-header-row">
            
            <div class="pq-quote-header-inside">
              <div class="pq-quote-podcast-episode">
                <a href="/episodes/{{ quote.episode.id }}">
                  {{ quote.episode.title }}
                </a>
              </div><!-- /.pq-quote-podcast-episode -->
              
            </div><!-- /.pq-quote-header-inside -->
          
          </div><!-- /.pq-quote-header-row -->
          {% endif %}
          
          {% if quote.episode.podcast.title or quote.episode.title or quote.episode.publication_date %}
          <hr style="clear:left;" />
          {% endif %}
          
          {% if quote.summary %}
          <div class="pq-quote-summary">
            {{ quote.summary }}
          </div><!-- /.pq-quote-summary -->
          {% endif %}
          
            <div class="pq-quote-buttons">
            
              <!--
              <a href="#">
                <div class="pq-quote-edit-button color-edit">
                  Edit
                </div>
              </a>
              -->
              
              <div class="clearfix">
              </div>
              
            </div><!-- /.pq-quote-buttons -->
            
            <div class="pq-quote-inside">
              
              {% if quote.time_quote_begins and quote.episode.video_url %}
              <div class="youtube" id="{{ quote.episode.video_id }}?rel=0&vq=small&start={{ quote.time_quote_begins }}&autoplay=1&modestbranding=1&showinfo=0">
              </div>
              {% endif %}

          {% if quote.episode.publication_date %}
          <div class="pq-quote-date">
            <a href="/episodes/{{ quote.episode.id }}">{{ quote.episode.publication_date }}</a>
          </div><!-- pq-quote-date -->
          {% endif %}
              
          {% if quote.converted_time_begins or quote.converted_time_ends %}
          <div class="pq-quote-clip-time">
          {% endif %}
            {% if quote.converted_time_begins %}
            {{ quote.converted_time_begins }}
            {% endif %}
            {% if quote.converted_time_begins and quote.converted_time_ends %}
            -
            {% endif %}
            {% if quote.converted_time_ends %}
            {{ quote.converted_time_ends }}
            {% endif %}
          {% if quote.converted_time_begins or quote.converted_time_ends %}
          </div>
          {% endif %}
              
              <div class="pq-quote-text">
                {{ quote.text }}
              </div><!-- /.pq-quote-text -->
              
              <div class="pq-quote-like">
                <i class="fa fa-thumbs-o-up"></i> <span class="pq-quote-like-numbers">1,234</span>
              </div>
              
              <div class="pq-quote-dislike">
                <i class="fa fa-thumbs-o-down"></i> <span class="pq-quote-like-numbers">1,234</span>
              </div>
              
              <div class="pq-quote-comments">
                <i class="fa fa-comments-o"></i> <span class="pq-quote-like-numbers">1,234</span>
              </div>
              
              <!--
              <div class="pq-quote-time-posted">
                posted 5 hours ago by mcluhan123
              </div><!-- /.pq-quote-time-posted -->
              
            </div><!-- /.pq-quote-inside -->

            <div class="pq-quote-bottom">
            
              <div class="pq-quote-bottom-button">
                share
              </div>

              <div class="pq-quote-bottom-button">
                save
              </div>

              <div class="pq-quote-bottom-button text-orange">
                donate
              </div>
              
              <div class="pq-quote-bottom-button">
                more
              </div>

            </div><!-- /.pq-quote-bottom -->

        </div><!-- /.pq-quote hidden-xs visible-sm visible-md visible-lg -->

      </div><!-- /.col-sm-6 .col-md-4 -->

      {% if forloop.counter|divisibleby:2 %}
      <div class="clearfix">
      </div>
      {% endif %}

      {% endfor %}<!-- / for quote in quote.all -->
      
    </div><!-- /.row -->

</div><!-- /.col-md-12 -->

{% endblock %}<!-- / block main -->