{% extends "base.html" %}

{% block header %}
    
    {% include 'podcast_col_width.html' %}

    {% include 'podcast_breadcrumbs.html' %}

    {% include 'podcast_header.html' %}

    {% include 'podcast_filter_selector.html' %}
        
{% endblock %}<!-- /block header -->
    
{% block quotes %}

    {% for quote in podcast.all_podcast_quotes_not %}
        {% include 'quotes.html' %}
    {% endfor %}

    </div><!-- /.col-sm-11 ***you must include this close tag***-->

{% endblock %}<!-- / block quotes -->