{% extends "base.html" %}

{% block header %}
    
    {% include 'episode_col_width.html' %}

    {% include 'podcast_breadcrumbs.html' %}

    {% include 'podcast_header.html' %}
    
    {% include 'episode_header.html' %}

    {% include 'episode_filter_selector.html' %}
        
{% endblock %}<!-- /block header -->
    
{% block quotes %}

    {% for quote in episode.all_episode_quotes_birthdays %}
        {% include 'quotes.html' %}
    {% endfor %}

    </div><!-- /.col-sm-11 ***you must include this close tag***-->

{% endblock %}<!-- / block quotes -->