{% extends "base.html" %}

{% block opengraph %}
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
    <meta property="og:url" content="https://www.podverse.tv/episodes/{{ episode.id }}">
    <meta property="og:title" content="Podverse.tv">
    <meta property="og:description" content="Inspired by reddit. Post highlights of your favorite podcasts. Find the top voted highlights of the day. Connect with podcast listeners. Raise money for your podcast. ">
    <meta property="og:image" content="https://podverse.tv/media/{{ episode.podcast.image }}">
{% endblock %}

{% block content %}
    
    {% include 'main_col_width.html' %}

    {% include 'podcast_header.html' %}

    {% include 'episode_filter_selector.html' %}
        
{% endblock %}<!-- /block content -->
    
{% block quotes %}

    {% include 'quotes_forloop.html' %}

    {% include 'quote_pagination.html' %}

    </div><!-- /.col-sm-11 ***you must include this close tag***-->

{% endblock %}<!-- / block quotes -->