{% extends "base.html" %}

{% block header %}
    
    {% include 'main_col_width.html' %}

    <div class="pq-title">
        Add an Episode <i class="fa fa-plus"></i>
    </div><!-- /.pq-title -->
      
    <div class="pq-form">
      
      <form method="post" action="" enctype="multipart/form-data" role="form">
          {% csrf_token %}
          {% if form.errors %}
              <p>Please correct the following fields:</p>
              {{ form.errors }}
          {% endif %}

          <div class="pq-form-input">
              {% if form.podcast.errors %}
                  <p class="error">{{ form.podcast.errors }}</p>
              {% endif %}
              <label class="pq-form-label {% if form.podcast.errors %}error{% endif %}" for="podcast">Podcast</label>
              {{ form.podcast }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
              {% if form.title.errors %}
                  <p class="error">{{ form.title.errors }}</p>
              {% endif %}
              <label class="pq-form-label {% if form.title.errors %}error{% endif %}" for="title">Title</label>
              {{ form.title }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
              {% if form.guid.errors %}
                  <p class="error">{{ form.guid.errors }}</p>
              {% endif %}
              <label class="pq-form-label-optional {% if form.guid.errors %}error{% endif %}" for="guid">GUID URL <small>(optional)</small></label>
              {{ form.guid }}
          </div><!-- /.pq-form-input -->

          <div class="pq-form-input">
              {% if form.publication_date.errors %}
                  <p class="error">{{ form.publication_date.errors }}</p>
              {% endif %}
              <label class="pq-form-label-optional {% if form.publication_date.errors %}error{% endif %}" for="publication_date">Publication Date <small>(optional)</small></label>
              {{ form.publication_date }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
              {% if form.image.errors %}
                  <p class="error">{{ form.image.errors }}</p>
              {% endif %}
              <label class="pq-form-label-optional {% if form.image.errors %}error{% endif %}" for="image">Episode Image <small>(optional)</small></label>
              {{ form.image }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
              {% if form.description.errors %}
                  <p class="error">{{ form.description.errors }}</p>
              {% endif %}
              <label class="pq-form-label-optional {% if form.description.errors %}error{% endif %}" for="description">Description <small>(optional)</small></label>
              {{ form.description }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
              {% if form.youtube_url.errors %}
                  <p class="error">{{ form.youtube_url.errors }}</p>
              {% endif %}
              <label class="pq-form-label-optional {% if form.youtube_url.errors %}error{% endif %}" for="youtube_url">YouTube Video URL <small>(optional, enables media player)</small></label>
              {{ form.youtube_url }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
              {% if form.donate_url.errors %}
                  <p class="error">{{ form.donate_url.errors }}</p>
              {% endif %}
              <label class="pq-form-label-optional {% if form.episode_url.errors %}error{% endif %}" for="donate_url">Episode Donate URL <small>(optional, overrides podcast donate URL for only this episode)</small></label>
              {{ form.donate_url }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
              {% if form.donation_recipient.errors %}
                  <p class="error">{{ form.donation_recipient.errors }}</p>
              {% endif %}
              <label class="pq-form-label-optional {% if form.donation_recipient.errors %}error{% endif %}" for="donation_recipient">Episode Donation Recipient <small>(optional)</small></label>
              {{ form.donation_recipient }}
          </div><!-- /.pq-form-input -->
          
          <div class="pq-form-input">
              {% if form.donation_recipient_about.errors %}
                  <p class="error">{{ form.donation_recipient_about.errors }}</p>
              {% endif %}
              <label class="pq-form-label-optional {% if form.donation_recipient_about.errors %}error{% endif %}" for="donation_recipient_about">About Episode Donation Recipient <small>(optional)</small></label>
              {{ form.donation_recipient_about }}
          </div><!-- /.pq-form-input -->

          <div class="pq-form-buttons">
              <button type="submit" class="btn btn-small btn-primary pq-form-button">Submit</button>
              <a href="/" class="btn btn-small btn-danger pq-form-button">Cancel</a>
          </div><!-- /.pq-form-input -->
          
          <div class="clearfix">
          </div>

      </form>
    
    </div><!-- /.pq-form -->

</div><!-- /.col-sm-11 -->

{% endblock %}<!-- / block header -->