    <div class="pq-episode-info">
      
      <div class="pq-podcast-header-info-left">
          <strong>Date Released:</strong> {{ episode.publication_date|date:'m/d/y' }}
      </div>
      
      <div class="pq-podcast-header-info-left">
          {{ episode.description }}
      </div><!-- /.pq-podcast-header-info-left -->
      
      <div class="pq-podcast-header-info-left">
          <strong><i>All donations for this episode will be given to <a href="{{ episode.donate_url }}">{{ episode.donation_recipient }}</a></i></strong>
      </div>
      
      <div style="margin-bottom:0;" class="pq-podcast-header-info-left">
          <i>{{ episode.donation_recipient_about }}</i>
      </div>
    </div><!-- /.pq-episode-info -->

    
</div><!-- /.pq-episode-header -->