<div class="pq-nav-wrapper">
    <a href="/episodes/{{ episode.id }}/hot/">
        <div class="pq-nav{% if episode_hot_is_active %}-active{% endif %}">
            hot
        </div>
    </a>

    <a href="/episodes/{{ episode.id }}/ordered/">
        <div class="pq-nav{% if episode_ordered_is_active %}-active{% endif %}">
            ordered
        </div>
    </a>
    
    <a href="/episodes/{{ episode.id }}/new/">
        <div class="pq-nav{% if episode_new_is_active %}-active{% endif %} pq-nav-disappear-4">
            new
        </div>
    </a>

    <a href="/episodes/{{ episode.id }}/top/">
        <div class="pq-nav{% if episode_top_is_active %}-active{% endif %} pq-nav-disappear-3">
            top
        </div>
    </a>

    <div class="pq-responsive-autoplay-button">
        <div class="pq-filter-autoplay-button autoplay-on" id="autoplay-on">autoplay on</div>
        <div class="pq-filter-autoplay-button autoplay-off" id="autoplay-off">autoplay off</div>
    </div>

    <div class="clearfix"></div>
</div><!-- /.pq-nav-wrapper -->