{% extends "base.html" %}

{% block opengraph %}
    <meta property="og:url" content="https://podverse.tv/episodes/{{ episode.id }}/">
    <meta property="og:title" content="{% if is_episode_page %}
                                           {{ episode.podcast.title }} - {{ episode.title }} on podverse.tv
                                       {% endif %}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="
        {% if episode.description %}
            {{ episode.description }}
        {% elif episode.podcast.description %}
            {{ episode.podcast.description }}
        {% else %}
            Find and share highlights of your favorite podcasts. Connect with podcast listeners. Raise money for your podcast. Inspired by reddit.
        {% endif %}
    ">
    {% if episode.youtube_url %}
        <meta property="og:image" content="https://img.youtube.com/vi/{{ episode.video_id }}/0.jpg">
    {% endif %}
    {% if episode.podcast.image %}
        <meta property="og:image" content="https://podverse.tv/media/{{ episode.podcast.image }}">
    {% endif %}
    {% if episode.image %}
        <meta property="og:image" content="https://podverse.tv/media/{{ episode.image }}">
    {% endif %}
    <meta property="og:image" content="https://podverse.tv/static/img/podverse-logo-square.jpg" />
{% endblock %}

{% block content %}
    
    {% include 'main_col_width.html' %}

    {% include 'autocomplete_slim.html' %}
    
    {% include 'podcast_header.html' %}

    {% include 'episode_filter_selector.html' %}
        
{% endblock %}<!-- /block content -->
    
{% block quotes %}

    {% include 'slim_quotes_forloop.html' %}

{% endblock %}<!-- / block quotes -->