{% extends "base.html" %}

{% block header %}
    
    {% include 'main_col_width.html' %}
        
        <div class="pq-about">
        
            <div class="pq-title">
                Contact Us <i class="fa fa-envelope-o"></i>
            </div><!-- /.pq-title -->
            <strong>Questions? Problems? Ideas for improvement?</strong>
            <br><br>
            <strong>Email:</strong> <a href="mailto:contact@podcastquotes.com">contact@podcastquotes.com</a>
            <br><br>
            <strong>Twitter:</strong> <a href="https://www.twitter.com/pod_quotes/">@Pod_Quotes</a>
            <br><br>
            <strong>Facebook:</strong> <a href="https://www.facebook.com/pages/PodcastQuotes/265156636997638">www.facebook.com/pages/PodcastQuotes</a>

        </div>
        
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        
    </div>

{% endblock %}<!-- / block header -->