{% extends "base.html" %}

{% block content %}
    
    {% include 'main_col_width.html' %}
        
        <div class="pq-about">
        
            <div class="pq-title">
                Contact Us <i class="fa fa-envelope-o"></i>
            </div><!-- /.pq-title -->
            <span class="font-semibold">Questions? Problems? Ideas for improvement?</span>
            <br><br>
            <span class="font-semibold">Email:</span> <a href="mailto:contact@podverse.tv">contact@podverse.tv</a>
            <br><br>
            <span class="font-semibold">Twitter:</span> <a href="https://www.twitter.com/podverse/" target="_blank">@Podverse</a>
            <br><br>
            <span class="font-semibold">Facebook:</span> <a href="https://www.facebook.com/pages/Podverse/803510522993823?ref_type=bookmark" target="_blank">www.facebook.com/pages/Podverse</a>

        </div>
        
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        
    </div>

{% endblock %}<!-- / block content -->