{% extends "base.html" %}

{% block header %}
    
    {% include 'main_col_width.html' %}
        
        <div class="pq-about">
        
            <div class="pq-title">
                Contact Us <i class="fa fa-envelope-o"></i>
            </div><!-- /.pq-title -->
            <strong>Questions? Problems? Ideas for improvement?</strong>
            <br><br>
            <strong>Email:</strong> <a href="mailto:contact@podverse.tv">contact@podverse.tv</a>
            <br><br>
            <strong>Twitter:</strong> <a href="https://www.twitter.com/podverse/" target="_blank">@Podverse</a>
            <br><br>
            <strong>Facebook:</strong> <a href="https://www.facebook.com/pages/Podverse/803510522993823?ref_type=bookmark" target="_blank">www.facebook.com/pages/Podverse</a>

        </div>
        
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        
    </div>

{% endblock %}<!-- / block header -->