{% extends "base.html" %}

{% block header %}
    
    {% include 'main_col_width.html' %}
        
        <div class="pq-about">
        
            <div class="pq-title">
                Support PodcastQuotes <i class="fa fa-rss"></i>
            </div><!-- /.pq-title -->
            
            <strong>PodcastQuotes is a free and open source platform designed to raise awareness and funding for independent media.</strong>
            <br><br>
            Your support helps us improve PodcastQuotes as a free service.
            <br><br>
            <span style="font-size:20px;"><strong>Donate</strong></span>
            <br>
            You can make a one-time donation to PodcastQuotes using PayPal, Bitcoin, Litecoin, or Dogecoin.
            <br><br>
            <span style="text-align:center;">
                <!-- PayPal Donate button -->
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="XJR6Z2WKSTDJN">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                <br>
                <!-- Bitcoin Donate button -->
                <div style="margin:0 auto 10px 0; text-align:center; padding:0 0 0 65px">
                    <a class="coinbase-button" data-code="cd97d7143a819c547e19f8361172b3d9" data-button-style="custom_large" href="https://coinbase.com/checkouts/cd97d7143a819c547e19f8361172b3d9">
                        Donate Bitcoins
                    </a>
                </div>
                <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
            </span>
            
            <span style="font-size:20px;"><strong>Subscribe</strong></span>
            <br>
            You can make an automatic donation to PodcastQuotes each month using PayPal, Bitcoin, Litecoin, or Dogecoin.
            <br><br>
            
            <span style="text-align:center;">
                <!-- PayPal Subscribe button -->
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="T79C5CBRYBD8A">
                    <table style="margin:0 auto;">
                    <tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
                     <option value="Washington">Washington : $1.00 USD - monthly</option>
                     <option value="Jefferson">Jefferson : $2.00 USD - monthly</option>
                     <option value="Lincoln">Lincoln : $5.00 USD - monthly</option>
                     <option value="Hamilton">Hamilton : $10.00 USD - monthly</option>
                     <option value="Jackson">Jackson : $20.00 USD - monthly</option>
                    </select> </td></tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </span>
            <br>
            <div style="margin:0 auto 10px auto; text-align:center; padding:0 0 0 25px">
                <a class="coinbase-button" data-code="e3d8d38fe05aeeeff315a7bfec979f42" data-button-style="custom_large" href="https://coinbase.com/checkouts/e3d8d38fe05aeeeff315a7bfec979f42">
                    Subscribe With Bitcoin
                </a>
            </div>                
            <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

            <span style="font-size:20px">
                <strong>Can't afford to donate or subscribe?</strong>
            </span>
            <br><br>
            It's ok, we can relate. Fortunately money can't buy the most important things. If you really want to help, we'd appreciate you following us on social media and sending some kind words. Also please introduce your friends/family/colleagues/etc. to PodcastQuotes so more people can be introduced to the world of podcasting.
            <br><br>
            Twitter: <a href="https://www.twitter.com/pod_quotes/">@Pod_Quotes</a>
            <br><br>
            Facebook: <a href="https://www.facebook.com/pages/PodcastQuotes/265156636997638">www.facebook.com/pages/PodcastQuotes</a>
            <br><br>
            <span style="font-size:20px">
                <strong>Other ideas for improving PodcastQuotes?</strong>
            </span>
            <br><br>
            We'd love to hear from you :) Please email <a href="mailto:contact@podcastquotes.com">contact@podcastquotes.com</a> with your ideas. If we act on any of them, we'll be sure to give you kudos for your help.
            <br><br>
            Thank you!
        </div>
        
    </div>

{% endblock %}<!-- / block header -->