<form class="navbar-form pq-search-bar-slim hidden-sm hidden-md hidden-lg" role="search">
    <div class="input-group">
        <div class="input-group-btn">
            <div class="btn btn-default pq-search-bar-button-slim" disabled><i class="glyphicon glyphicon-search"></i></div>
        </div>
        <input type="text" class="form-control" 
               placeholder="Search" 
               name="q" 
               id="navigation_autocomplete_slim"
               style="border:1px solid #ccc;">
    </div>
</form>