{% load url from future %}

<span style="color:#111;">
    {% if nav_podcasts %}
        &nbsp <strong>Podcasts</strong><br>
        {% for podcast in nav_podcasts %}
            <a class="div choice" href="{{ podcast.get_absolute_url }}">{{ podcast }}</a>
        {% endfor %}
    {% endif %}
    {% if nav_episodes %}
        &nbsp <strong>Episodes</strong><br>
        {% for episode in nav_episodes %}
            <a class="div choice" href="{{ episode.get_absolute_url }}">{{ episode }}</a>
        {% endfor %}
    {% endif %}
</span>