<div class="pq-home-title">
    <select class="pq-podcast-selector form-control" ONCHANGE="location = this.options[this.selectedIndex].value;">
        {% if is_home_episodes_page %}
            <option value="/episodes/">Full Episodes</option>
            <option value="/highlights/">Highlights</option>
        {% elif is_home_clips_page %}
            <option value="/highlights/">Highlights</option>
            <option value="/episodes/">Full Episodes</option>
        {% endif %}
        <option value="/">---</option>
        {% for podcast in podcasts %}
            <option value="{% url 'podcast_episode_list_root' slug=podcast.slug %}">{{ podcast.title }}</option>
        {% endfor %}
    </select>
</div>