<a href="/hot/">
    <div class="pq-nav{% if home_hot_is_active %}-active{% endif %}">
        hot
    </div>
</a>

<!--
<a href="/not/">
    <div class="pq-nav{% if home_not_is_active %}-active{% endif %}">
        not
    </div>
</a>
-->

<!--
<a href="/controversial/">
    <div class="pq-nav{% if home_controversial_is_active %}-active{% endif %} pq-nav-disappear-5">
        controversial
    </div>
</a>
-->

<a href="/new/">
    <div class="pq-nav{% if home_new_is_active %}-active{% endif %} pq-nav-disappear-4">
        new
    </div>
</a>

<a href="/top/">
    <div class="pq-nav{% if home_top_is_active %}-active{% endif %} pq-nav-disappear-3">
        top
    </div>
</a>

<a href="/bottom/">
    <div class="pq-nav{% if home_bottom_is_active %}-active{% endif %} pq-nav-disappear-2">
        bottom
    </div>
</a>

<!--
<div class="btn-group">

    <button type="button" class="pq-nav dropdown-toggle" data-toggle="dropdown">
        more <span class="caret"></span>
    </button>
    
    <ul class="dropdown-menu" role="menu">
    
        <li class="{% if home_controversial_is_active %}dropdown-menu-active{% endif %} pq-nav-appear-5">
            <a href="/controversial/">
                controversial
            </a>
        </li>
        
        <li class="{% if home_new_is_active %}dropdown-menu-active{% endif %} pq-nav-appear-4">
            <a href="/new/">
                new
            </a>
        </li>
        
        <li class="{% if home_top_is_active %}dropdown-menu-active{% endif %} pq-nav-appear-3">
            <a href="/top/">
                top
            </a>
        </li>
        
        <li class="{% if home_bottom_is_active %}dropdown-menu-active{% endif %} pq-nav-appear-2">
            <a href="/bottom/">
                bottom
            </a>
        </li>
        
        <li class="{% if home_mainstream_is_active %}dropdown-menu-active{% endif %}">
            <a href="/mainstream/">
                mainstream
            </a>
        </li>
        
        <li class="{% if home_underground_is_active %}dropdown-menu-active{% endif %}">
            <a href="/underground/">
                underground
            </a>
        </li>
        
        <li class="{% if home_chronological_is_active %}dropdown-menu-active{% endif %}">
            <a href="/chronological/">
                chronological
            </a>
        </li>
        
        <li class="{% if home_ghosts_is_active %}dropdown-menu-active{% endif %}">
            <a href="/ghosts/">
                ghosts
            </a>
        </li>
        
        <li class="{% if home_birthdays_is_active %}dropdown-menu-active{% endif %}">
            <a href="/birthdays/">
                birthdays
            </a>
        </li>
        
        <li class="divider"></li>
        
        <li>
            <a href="#">
                custom
            </a>
        </li>
      
    </ul>
</div>
-->