<div class="pq-podcast-header">
    <div class="pq-home-title">
        <select class="pq-podcast-selector form-control" ONCHANGE="location = this.options[this.selectedIndex].value;">
            {% if is_home_episodes_page %}
                <option value="/episodes/">All Episodes</option>
                <option value="/clips/">All Highlights</option>
            {% elif is_home_clips_page %}
                <option value="/clips/">All Highlights</option>
                <option value="/episodes/">All Episodes</option>
            {% endif %}
            <option value="/">---</option>
            {% for podcast in podcasts %}
                <option value="/podcasts/{{ podcast.id }}">{{ podcast.title }}</option>
            {% endfor %}
        </select>
    </div>
</div>