<div class="pq-nav-active">
  hot
</div><!-- /.pq-nav-active -->

<div class="pq-nav">
  not
</div><!-- /.pq-nav -->

<div class="pq-nav pq-nav-disappear-5">
  controversial
</div><!-- /.pq-nav -->

<div class="pq-nav pq-nav-disappear-4">
  new
</div><!-- /.pq-nav -->

<div class="pq-nav pq-nav-disappear-3">
  top
</div><!-- /.pq-nav -->

<div class="pq-nav pq-nav-disappear-2">
  bottom
</div><!-- /.pq-nav -->

<div class="pq-nav pq-nav-disappear-1">
  stats
</div><!-- /.pq-nav -->

<div class="btn-group">
  <button type="button" class="pq-nav dropdown-toggle" data-toggle="dropdown">
    more <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="pq-nav-appear-5"><a href="#">controversial</a></li>
    <li class="pq-nav-appear-4"><a href="#">new</a></li>
    <li class="pq-nav-appear-3"><a href="#">top</a></li>
    <li class="pq-nav-appear-2"><a href="#">bottom</a></li>
    <li class="pq-nav-appear-1"><a href="#">stats</a></li>
    <li><a href="#">transcription</a></li>
    <li><a href="#">mainstream</a></li>
    <li><a href="#">ghosts</a></li>
    <li><a href="#">birthdays</a></li>
    <li class="divider"></li>
    <li><a href="#">custom</a></li>
  </ul>
</div>