{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  
<head>
<meta charset=”utf-8”> 
{% block head_title %}
    <title>Podverse - Today's Top Podcast Highlights</title>
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Post quotes of your favorite podcasts. Find the top podcast quotes of the day. Connect with listeners of your podcast. Raise money for your podcast. Inspired by reddit.">
<link rel="publisher" href="">

<meta property="og:url" content="http://www.podverse.tv">
<meta property="og:title" content="Podverse.tv">
<meta property="og:description" content="Inspired by reddit. Post highlights of your favorite podcasts. Find the top voted highlights of the day. Connect with podcast listeners. Raise money for your podcast. ">
{% block og_image %}
    <meta property="og:image" content="{% static 'img/podverse-logo-square.jpg' %}">
{% endblock %}

<link href='//fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans:400italic,400,600,700,800|Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/master.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/ajax-vote.js' %}"></script>
<script src="{% static 'js/ajax-get-episodes.js' %}"></script>
</head>

<body>
  
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    
    <div class="pq-container">
      
        <div class="row">

          {% block sidebar %}
              {% include 'sidebar.html' %}
          {% endblock %}
        
          {% block content %}
          {% endblock %}

          {% block quotes %}
          {% endblock %}
        
        </div><!-- /.row -->
    
    </div><!-- /.pq-container -->
    
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    
    {% include 'google_analytics_code.html' %}

    <script src="{% static 'js/youtube.js' %}"></script>

</body>
  
</html>