{% load static %}

<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
<meta charset=”utf-8”> 
{% block head_title %}
    <title>Podverse.tv - Find and share podcast highlights</title>
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="Find and share highlights of your favorite podcasts. Connect with podcast listeners. Raise money for your podcast. Inspired by reddit.">
<link rel="publisher" href="">
{% block opengraph %}
    <meta property="og:url" content="https://podverse.tv/" />
    <meta property="og:title" content="Podverse.tv - Find and share podcast highlights" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Find and share highlights of your favorite podcasts. Connect with podcast listeners. Raise money for your podcast. Inspired by reddit." />
    <meta property="og:image" content="https://podverse.tv/static/img/podverse-logo-square.jpg" />
{% endblock %}
<link href='//fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans:400italic,400,600,700,800|Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/master.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/cookies.js' %}"></script>
<script src="{% static 'js/ajax-vote.js' %}"></script>
<script src="{% static 'js/ajax-get-episodes.js' %}"></script>
</head>

<body>

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    
    <div class="pq-container">
      
        <div class="row">

          {% block sidebar %}
              {% include 'sidebar.html' %}
          {% endblock %}
        
          {% block content %}
          {% endblock %}

          {% block quotes %}
          {% endblock %}
        
        </div><!-- /.row -->
    
    </div><!-- /.pq-container -->
    
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    
    {% include 'google_analytics_code.html' %}

<script src="https://www.youtube.com/player_api"></script>
<script src="{% static 'js/youtube.js' %}"></script>
    
</body>
  
</html>