{% extends "base.html" %}

{% block main %}
      
    <div class="col-sm-11">
      <div class="pq-share-button color-share">
        Share
      </div>

      <div class="pq-breadcrumbs">
          <a href="/">Home</a> > <a href="/podcasts/{{ episode.podcast.id }}">{{ episode.podcast.title }}</a> > {{ episode.title }}
      </div><!-- /.pq-breadcrumbs -->
      
        {% include 'podcast_header.html' %}

        {% include 'episode_header.html' %}
              
        {% include 'filters.html' %}
        
        {% include 'quotes.html' %}
          
    </div><!-- /.col-sm-11 -->
{% endblock %}<!-- / block main -->