{% extends "base.html" %}

{% block main %}
    
<div class="col-sm-11">

  <div class="pq-title">
    Add an Episode <i class="fa fa-chevron-down"></i>
  </div><!-- /.pq-title -->
    
  <div class="pq-form">
    
    <form method="post" action="" enctype="multipart/form-data" role="form">
      {% csrf_token %}
      {% if form.errors %}
      <p>Please correct the following fields:</p>
      {% endif %}

      <div class="pq-form-input">
        {% if form.podcast.errors %}<p class="error">{% endif %}
        <label class="pq-form-label" for="podcast" {% if podcast_form.podcast.errors %} class="error" {% endif %}>Podcast</label>
        {{ form.podcast }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.title.errors %}<p class="error">{% endif %}
        <label class="pq-form-label" for="title" {% if podcast_form.title.errors %} class="error" {% endif %}>Title</label>
        {{ form.title }}
      </div><!-- /.pq-form-input -->

      <div class="pq-form-input">
        {% if form.publication_date.errors %}<p class="error">{% endif %}
        <label class="pq-form-label" for="publication_date" {% if form.publication_date.errors %} class="error"{% endif %}>Publication Date</label>
        {{ form.publication_date }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.description.errors %}<p class="error">{% endif %}
        <label class="pq-form-label" for="description" {% if form.description.errors %} class="error" {% endif %}>Description</label>
        {{ form.description }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.episode_url.errors %}<p class="error">{% endif %}
        <label class="pq-form-label" for="episode_url" {% if form.episode_url.errors %} class="error" {% endif %}>Episode Link</label>
        {{ form.episode_url }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.youtube_url.errors %}<p class="error">{% endif %}
        <label class="pq-form-label" for="youtube_url" {% if form.youtube_url.errors %} class="error" {% endif %}>YouTube Video URL</label>
        {{ form.youtube_url }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.audio_url.errors %}<p class="error">{% endif %}
        <label class="pq-form-label" for="audio_url" {% if form.audio_url.errors %} class="error" {% endif %}>Audio URL</label>
        {{ form.audio_url }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.image.errors %}<p class="error">{% endif %}
        <label class="pq-form-label" for="image" {% if form.image.errors %} class="error" {% endif %}>Image</label>
        {{ form.image }}
      </div><!-- /.pq-form-input -->

      <div class="pq-form-buttons">
        <button type="submit" class="btn btn-small btn-primary pq-form-button">Submit</button>
        <a href="/" class="btn btn-small btn-danger pq-form-button">Cancel</a>
      </div><!-- /.pq-form-input -->
      
      <div class="clearfix">
      </div>
      
    </form>
    
  </div><!-- /.pq-form -->

</div><!-- /.col-sm-11 -->

{% endblock %}<!-- / block main -->