<div class="pq-footer dark-blue-gradient">

    <div class="pq-navbar-container">
      
        <div class="pq-footer-nav bright-link" style="font-family:'Open Sans', Arial, sans-serif;font-weight:300;">
            <a href="/">PodcastQuotes </a> <span style="font-size:13px">&copy 2014</span>
        </div>

        <div class="pq-footer-nav sm-clear-left bright-link">
            <a href="{% url 'about_pq' %}">about</a>
        </div>
        
        <div class="pq-footer-nav sm-clear-left bright-link">
            <a href="{% url 'claim_page' %}">claim your page</a>
        </div>
        
        <div class="pq-footer-nav sm-clear-left bright-link">
            <a href="{% url 'contact_pq' %}">contact</a>
        </div>
        
        <div class="pq-footer-nav sm-clear-left bright-link">
            <a href="{% url 'support_pq' %}">support PQ</a>
        </div>
            
        <div class="pq-footer-social-icon sm-clear-left bright-link">
            <a href="https://www.facebook.com/pages/PodcastQuotes/265156636997638"><i class="fa fa-facebook-square"></i></a>
        </div>
        
        <div class="pq-footer-social-icon bright-link">
            <a href="https://www.twitter.com/pod_quotes/"><i class="fa fa-twitter-square"></i></a>
        </div>
        
        <div class="pq-footer-social-icon bright-link">
            <a href="https://www.github.com/podcastquotes/podcastquotes/"><i class="fa fa-github-square"></i></a>
        </div>
            
        <div class="clearfix">
        </div>
      
    </div><!-- /.pq-navbar-container -->

</div><!-- /.pq-footer -->