<div class="pq-footer dark-blue-gradient">

    <div class="pq-navbar-container">
      
        <div class="pq-footer-nav bright-link">
            <a href="/">PodcastQuotes </a> <span style="font-size:13px">&copy 2014</span>
        </div>

        <div class="pq-footer-nav sm-clear-left bright-link">
            <a href="{% url 'about_pq' %}">about</a>
        </div>
        
        <div class="pq-footer-nav sm-clear-left bright-link">
            <a href="{% url 'claim_page' %}">claim your page</a>
        </div>
        
        <div class="pq-footer-nav sm-clear-left bright-link">
            <a href="{% url 'contact_pq' %}">contact</a>
        </div>
        
        <div class="pq-footer-nav sm-clear-left bright-link">
            <a href="{% url 'support_pq' %}">support PQ</a>
        </div>
            
        <div class="pq-footer-social-icon sm-clear-left bright-link">
            <a href="https://www.facebook.com/pages/PodcastQuotes/265156636997638"><i class="fa fa-facebook-square"></i></a>
        </div>
        
        <div class="pq-footer-social-icon bright-link">
            <a href="https://www.twitter.com/pod_quotes/"><i class="fa fa-twitter-square"></i></a>
        </div>
        
        <div class="pq-footer-social-icon bright-link">
            <a href="https://www.github.com/podcastquotes/podcastquotes/"><i class="fa fa-github-square"></i></a>
        </div>
            
        <!-- Flattr button -->
        <div class="pq-footer-social-icon">
            <a href="https://flattr.com/submit/auto?user_id=podcastquotes&url=http%3A%2F%2Fwww.podcastquotes.com%2Fsupport-pq%2F" target="_blank"><img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
        </div>
            
        <div class="clearfix">
        </div>
      
    </div><!-- /.pq-navbar-container -->

</div><!-- /.pq-footer -->