<div class="pq-footer">
  
    <div class="pq-navbar-container">
      
        <div class="pq-footer-brand  bright-link">
            <a href="/">PodcastQuotes <i class="fa fa-rss"></i></a>
        </div>

        <div class="pq-footer-nav sm-clear-left bright-link">
            about
        </div>
        
        <div class="pq-footer-nav sm-clear-left bright-link">
            claim your page
        </div>
        
        <div class="pq-footer-nav sm-clear-left bright-link">
            contact
        </div>
        
        <div class="pq-footer-nav sm-clear-left">
            <span class="text-orange">support PQ</span>
        </div>
            
        <div class="pq-footer-social-icon sm-clear-left bright-link">
            <a href="https://www.facebook.com/pages/PodcastQuotes/265156636997638"><i class="fa fa-facebook-square"></i></a>
        </div>
        
        <div class="pq-footer-social-icon bright-link">
            <a href="https://www.twitter.com/pod_quotes/"><i class="fa fa-twitter-square"></i></a>
        </div>
        
        <div class="pq-footer-social-icon bright-link">
            <a href="https://www.github.com/podcastquotes/podcastquotes/"><i class="fa fa-github-square"></i></a>
        </div>
            
        <div class="clearfix">
        </div>
      
    </div><!-- /.pq-navbar-container -->

</div><!-- /.pq-footer -->