{% extends "base.html" %}

{% block main %}
    <div class="col-sm-11">
       
       <div class="pq-title">
          <select class="pq-podcast-selector form-control" ONCHANGE="location = this.options[this.selectedIndex].value;">
            <option value="/" selected="selected">All Podcasts</option>
            <option value="/">My Podcasts</option>
            {% for podcast in podcasts %}
            <option value="/podcasts/{{ podcast.id }}">{{ podcast.title }}</option>
            {% endfor %}
          </select>
        </div><!-- /.pq-title -->
        
        {% include 'filters.html' %}
        
        {% include 'quotes.html' %}

    </div><!-- /.col-sm-11 -->
{% endblock %}<!-- / block main -->