{% load static %}

<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="pq-navbar-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="pq-brand">
                <a href="/"><strong>PodcastQuotes</strong> <i class="fa fa-rss rss-icon-disappear"></i></a>
              </div><!-- /.pq-brand -->
            </div><!-- /.navbar-header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="pq-xs-navbar-link">
                            My Profile
                        </div>
                    </li>
                    <li>
                        <div class="pq-xs-navbar-link">
                            Add a Quote
                        </div>
                    </li>
                    <li>
                        <div class="pq-xs-navbar-link">
                            Settings
                        </div>
                    </li>
                    <li>
                       <div class="pq-xs-navbar-link">
                           <a href="/logout">
                               Sign Out
                           </a>
                       </div>
                    </li>
                    
                    {% if request.user.is_superuser %}
                    <li>
                        <div class="pq-navbar-dropdown-2">
                          <a href="{% url 'admin:index' %}">
                            Admin Panel <i class="fa fa-gears"></i>
                          </a>
                        </div>
                    </li>
                    {% endif %}
                    
                    {% if request.user.is_superuser %}
                    <li>
                        <div class="pq-navbar-dropdown-2">
                          <a href="{% url 'podcast_create' %}">
                            Add Podcast <i class="fa fa-rss"></i>
                          </a>
                        </div>
                    </li>
                    {% endif %}
                    
                    <li>
                        <div class="pq-navbar-dropdown-1">
                          <a class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.user.username }} <i class="fa fa-caret-down"></i>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">My Podcasts</a></li>
                            <li><a href="#">My Pages</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Sign Out</a></li>
                          </ul>
                        </div>
                    </li>

                {% else %}
                    <li><a href="/accounts/login">Login</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.pq-navbar-container -->
    </nav><!-- /.navbar navbar-default -->
    
</header>

    <div class="navbar-fixed-space">
    </div>

<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>