{% load static %}

    <nav class="navbar navbar-default dark-blue-gradient" role="navigation">
        <div class="pq-navbar-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="pq-brand">
                <a href="/"><img class="pq-brand-img" src="/static/img/podverse-brand.png"></a>
              </div><!-- /.pq-brand -->
            </div><!-- /.navbar-header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar1">
              <!-- probably not include this, makes navbar too busy
              <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="pq-navbar-dropdown-2 bright-link" href="{% url 'about_pq' %}">
                            <small><small>About</small></small>
                        </a>
                    </li>
                    <li>
                        <a class="pq-navbar-dropdown-2 bright-link" href="{% url 'claim_page' %}">
                            <small><small>Claim Your Page</small></small>
                        </a>
                    </li>
                    <li>
                        <a class="pq-navbar-dropdown-2 bright-link" href="{% url 'support_pv' %}">
                            <small><small>Support Podverse</small></small>
                        </a>
                    </li>
              </ul>
              -->
              <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    
                    {% if request.user.is_superuser %}
                    <li>
                        <a class="pq-navbar-dropdown-2" href="{% url 'podcast_create' %}">
                            <small>Add Podcast</small>
                        </a>
                    </li>
                    {% endif %}
                    
                    {% if request.user.is_superuser %}
                    <li>
                        <a class="pq-navbar-dropdown-2" href="{% url 'podcast_create' %}">
                            <small>Add Episode</small>
                        </a>
                    </li>
                    {% endif %}
                    
                    <li>
                        <a class="pq-navbar-dropdown-2" 
                           href="{% if is_podcast_page %}
                                     {% url 'quote_create' %}?pid={{podcast.id}}
                                 {% elif is_episode_page %}
                                     {% url 'quote_create' %}?pid={{podcast.id}}&eid={{episode.id}}
                                 {% elif is_quote_page %}
                                     {% url 'quote_create' %}?pid={{podcast.id}}&eid={{episode.id}}
                                 {% else %}
                                     {% url 'quote_create' %}
                                 {% endif %}
                            ">
                            <i class="fa fa-plus-square"></i>&nbsp Add a Clip
                        </a>
                    </li>
                    
                    <li>
                        <a class="pq-navbar-dropdown-1 dropdown-toggle" data-toggle="dropdown">
                            {{ request.user.username }} <i class="fa fa-caret-down"></i>
                        </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/people/{{ request.user.username }}">My Profile</a></li>
                            <li><a href="/people/{{ request.user.username }}/edit">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Sign Out</a></li>
                          </ul>
                    </li>
                {% else %}
                    <li>
                        <a class="pq-navbar-dropdown-2"
                           href="{% if is_podcast_page %}
                                     {% url 'quote_create' %}?pid={{podcast.id}}
                                 {% elif is_episode_page %}
                                     {% url 'quote_create' %}?pid={{podcast.id}}&eid={{episode.id}}
                                 {% elif is_quote_page %}
                                     {% url 'quote_create' %}?pid={{podcast.id}}&eid={{episode.id}}
                                 {% else %}
                                     {% url 'quote_create' %}
                                 {% endif %}
                            ">
                            <i class="fa fa-plus-square"></i> Add a Clip
                        </a>
                    </li>
                    
                    <li><a href="/accounts/login">Login</a></li>
                {% endif %}
              </ul>
            </div><!-- /.collapse navbar-collapse -->
        </div><!-- /.pq-navbar-container -->
    </nav><!-- /.navbar navbar-default -->