{% extends "base.html" %}

{% block main %}

    <div class="col-sm-11">
        <div class="pq-share-button color-share">
          Share
        </div><!-- /.pq-podcast-headerbutton -->

        <div class="pq-breadcrumbs">
            <a href="/">Home</a> > {{ podcast.title }}
        </div><!-- /.pq-breadcrumbs -->

        {% include 'podcast_header.html' %}

        {% include 'filters.html' %}
        
        {% include 'quotes.html' %}
    </div><!-- /.col-sm-11 -->

{% endblock %}<!-- / block main -->