<div id="sidebar" class="col-md-5 pull-right hidden-xs hidden-sm">
    
    <div class="pq-sidebar">
    
        <div class="pq-menu dark-link">
          
          <div class="pq-menu-title">
              Podcasts
          </div><!-- /.pq-menu-title -->
          
          <div class="pq-menu-pulldown">
              All Podcasts
          </div><!-- /.pq-menu-pulldown -->
          
          <div class="clearfix">
          </div>
          
          <hr />

          <div class="pq-menu-options">
              {% for podcast in podcasts %}        
                  <div class="pq-menu-option">
                      <a href="/podcasts/{{ podcast.id }}">
                          <img class="pq-menu-option-image" src="{{MEDIA_URL}}{{ podcast.image }}">
                          <span class="hidden-xs hidden-sm hidden-lg">
                              {{ podcast.title|truncatechars:25 }}
                          </span>
                          <span class="hidden-xs hidden-sm hidden-md">
                              {{ podcast.title|truncatechars:29 }}
                          </span>
                      </a>
                  </div>
              {% endfor %}
          </div><!-- /.pq-menu-options -->

        </div><!-- /.pq-menu -->
        
        {% if podcast %}
            <div class="pq-menu dark-link">
              
                <div class="pq-menu-title">
                    Episodes
                </div>
                
                <div class="pq-menu-pulldown">
                    Chronological
                </div>
                
                <div class="clearfix">
                </div>
                
                <hr />

                <div class="pq-menu-options">
                    {% for episode in podcast.episode_set.all %}        
                        <div class="pq-menu-option">
                            <a href="/episodes/{{ episode.id}}">
                                {{ episode.title }}<br>
                                <i>{{ episode.publication_date|date:'M d, Y' }}</i>
                            </a>
                        </div>
                    {% endfor %}
                </div><!-- /.pq-menu-options -->

            </div><!-- /.pq-menu -->
        {% endif %}
        
    </div><!-- /.pq-sidebar -->

</div><!-- /#sidebar /.col-sm-5 -->