{% load static %}
{% load quote_filters %}

<div id="sidebar" class="col-md-5 pull-right hidden-xs hidden-sm">
    
    {% if is_quote_page %}
        {% if not quote.is_full_episode|is_true %}
            {% if quote_previous or quote_next %}
                <div style="margin-top:8px">
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    
    <div class="pq-sidebar">
    
        <div class="pq-menu dark-link">
          
          <div class="pq-menu-title">
              Podcasts
          </div><!-- /.pq-menu-title -->
          
          <div class="pq-menu-pulldown">
              All Podcasts
          </div><!-- /.pq-menu-pulldown -->
          
          <div class="clearfix">
          </div>

          <hr />

          <div class="pq-menu-options">
              {% for podcast in podcasts %}        
                  <div class="pq-menu-option">
                      <a href="{% url 'podcast_episode_list_root' slug=podcast.slug %}">
                          <img class="pq-menu-option-image" src="{{MEDIA_URL}}{{ podcast.image }}">
                          <span class="hidden-xs hidden-sm hidden-lg">
                              {{ podcast.title|truncatechars:25 }}
                          </span>
                          <span class="hidden-xs hidden-sm hidden-md">
                              {{ podcast.title|truncatechars:29 }}
                          </span>
                      </a>
                  </div>
              {% endfor %}
          </div><!-- /.pq-menu-options -->

        </div><!-- /.pq-menu -->
        
        {% if podcast %}
            <div class="pq-menu dark-link">
              
                <div class="pq-menu-title">
                    Episodes
                </div>
                
                <div class="pq-menu-pulldown">
                    With Clips
                </div>
                
                <div class="clearfix">
                </div>
                
                <hr />

                <div class="pq-menu-options">
                    {% for episode in episodes %}        
                        <div class="pq-menu-option">
                            <a href="/{{ episode.podcast.slug }}/episodes/{{ episode.pk }}">
                                {{ episode.title }}<br>
                                <i>{{ episode.publication_date|date:'M d, Y' }}</i>
                            </a>
                        </div>
                        {% empty %}
                        <div class="pq-menu-option">
                            No clips shared yet!<br>
                            <span class="blue-link">
                                <a href="{% url 'quote_create' %}">Share one now</a>
                            </span>
                        </div>
                        
                    {% endfor %}
                </div><!-- /.pq-menu-options -->

            </div><!-- /.pq-menu -->
        {% endif %}
        
        <!--
        {% if is_home_page %}
            <div class="pq-menu dark-link">
              
                <div class="pq-menu-title">
                    Top Episodes
                </div>
                
                <div class="pq-menu-pulldown">
                </div>
                
                <div class="clearfix">
                </div>
                
                <hr />

                <div class="pq-menu-options">
                    {% for episode in top_episodes %}        
                        <div class="pq-menu-option">
                            <a href="/episodes/{{ episode.id}}">
                                <img class="pq-menu-option-image" src="{{MEDIA_URL}}{{ episode.podcast.image }}">
                                <span class="hidden-xs hidden-sm hidden-lg">
                                    {{ episode.title|truncatechars:25 }}
                                </span>
                                <span class="hidden-xs hidden-sm hidden-md">
                                    {{ episode.title|truncatechars:29 }}
                                </span>
                            </a>
                        </div>                        
                    {% endfor %}
                </div>

            </div>
        {% endif %}
        -->
        
        
        {% if is_home_page or is_podcast_page or is_episode_page or is_quote_page or is_user_page %}
            {% if karma_leaders %}
                <div class="pq-menu dark-link">
                  
                    <div class="pq-menu-toggle" id="karma-leaderboard-button-expand">
                        <i class="fa fa-plus-square-o"></i>
                    </div>
                    <div class="pq-menu-toggle" id="karma-leaderboard-button-collapse" style="display:none;">
                        <i class="fa fa-minus-square-o"></i>
                    </div>
                
                    <div class="pq-menu-title">
                        Karma Leaderboard
                    </div><!-- /.pq-menu-title -->
                
                    <div class="pq-menu-pulldown">
                        {% if is_home_page or is_podcast_page or is_episode_page or is_quote_page or is_user_page %}
                            All Podcasts
                        {% endif %}
                        <!--{% if is_podcast_page or is_episode_page or is_quote_page %}
                            {{ podcast.title }}
                        {% endif %}-->
                    </div><!-- /.pq-menu-pulldown -->
                    
                    <div class="clearfix">
                    </div>

                    {% if is_home_page or is_podcast_page or is_episode_page or is_quote_page or is_user_page %}
                        <div class="pq-menu-options" id="karma-leaderboard" style="display:none;height:180px">
                            <hr />
                            {% for karma_leader in karma_leaders %}        
                                <div class="pq-menu-option">
                                    <a href="/people/{{ karma_leader.username }}">
                                        {% if karma_leader.userprofile.image %}
                                            <img class="pq-menu-option-image" style="inline-block;" src="{{MEDIA_URL}}{{ karma_leader.userprofile.image }}">
                                        {% endif %}
                                        <span class="hidden-xs hidden-sm hidden-lg" style="vertical-align:top; display:inline-block; padding-top:1px">
                                            {{ karma_leader|truncatechars:20 }}
                                            <br>
                                            <i>{{ karma_leader.userprofile.karma_total }}</i>
                                        </span>
                                        <span class="hidden-xs hidden-sm hidden-md" style="vertical-align:top; display:inline-block; padding-top:1px">
                                            {{ karma_leader|truncatechars:25 }}
                                            <br>
                                            <i>{{ karma_leader.userprofile.karma_total }}</i>
                                        </span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div><!-- /.pq-menu-options -->
                        
                        <script>
                            $(document).ready(function() {
                                $("#karma-leaderboard-button-expand").click(function(){
                                    $("#karma-leaderboard").slideDown('medium');
                                    $("#karma-leaderboard-button-expand").hide();
                                    $("#karma-leaderboard-button-collapse").show();
                                });
                                $("#karma-leaderboard-button-collapse").click(function(){
                                    $("#karma-leaderboard").slideUp('medium');
                                    $("#karma-leaderboard-button-expand").show();
                                    $("#karma-leaderboard-button-collapse").hide();
                                });
                            });
                        </script>
                    {% endif %}
                </div><!-- /.pq-menu -->
            {% endif %}
        {% endif %}
        
    </div><!-- /.pq-sidebar -->

</div><!-- /#sidebar /.col-sm-5 -->