<div class="dropdown pq-view-selector" id="full-view-selected">
    <a class="dropdown-toggle" data-toggle="dropdown">
        full view
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a id="select-slim">slim view</a></li>
    </ul>
    &nbsp<i class="fa fa-caret-down"></i>
</div>
<div class="dropdown pq-view-selector" id="slim-view-selected">
    <a class="dropdown-toggle" data-toggle="dropdown">
        slim view
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a id="select-full">full view</a></li>
    </ul>
    &nbsp<i class="fa fa-caret-down"></i>
</div>