<div class="pq-podcast-header">
    
    {% include 'breadcrumb.html' %}
    
    {% if podcast.homepage or podcast.twitter_url or podcast.facebook_url or podcast.instagram_url or podcast.google_plus_url or podcast.tumblr_url or podcast.youtube_url or reddit_url %}
        <div class="pq-podcast-header-social-icons dark-link">
            {% if podcast.homepage %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ podcast.homepage }}" target="_blank">
                        <i class="fa fa-home"></i>
                    </a>
                </span>
            {% endif %}
            {% if podcast.twitter_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ podcast.twitter_url }}" target="_blank">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if podcast.facebook_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ podcast.facebook_url }}" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if podcast.instagram_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ podcast.instagram_url }}" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </span>
            {% endif %}
            {% if podcast.google_plus_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ podcast.google_plus_url }}" target="_blank">
                        <i class="fa fa-google-plus-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if podcast.tumblr_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ podcast.tumblr_url }}" target="_blank">
                        <i class="fa fa-tumblr-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if podcast.youtube_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ podcast.youtube_url }}" target="_blank">
                        <i class="fa fa-youtube-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if podcast.reddit_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ podcast.reddit_url }}" target="_blank">
                        <i class="fa fa-reddit"></i>
                    </a>
                </span>
            {% endif %}
        </div><!-- /.pq-podcast-header-social-icons -->
    {% endif %}
    
    <div class="pq-podcast-profile">
        <div class="pq-podcast-box">
            {% if podcast.image %}
                <div class="pq-podcast-profile-picture">
                    <a href="/podcasts/{{ podcast.id }}">
                      <img src="{{MEDIA_URL}}{{ podcast.image }}" />
                    </a>
                </div><!-- /.pq-podcast-profile-picture -->
            {% endif %}
            
            <div class="pq-podcast-profile-text">
      
                <div class="pq-podcast-title dark-link">
                    <a href="{{ podcast.get_absolute_url }}">
                        {{ podcast.title }}
                    </a>
                </div><!-- /.pq-podcast-title -->
                
                {% if podcast.keywords %}            
                    <div class="pq-podcast-subtitle">
                        Keywords: {{ podcast.keywords }}
                    </div>
                {% endif %}
                
                {% if podcast.description %}
                    <div class="pq-podcast-description">
                        {% autoescape off %}
                            {{ podcast.description }}
                        {% endautoescape %}
                    </div>
                {% endif %}
                
            </div><!-- /.pq-podcast-profile-text -->
            
                {% if is_podcast_page %}
                    <div class="pq-podcast-karma">
                        Karma: {{ podcast.karma_total }} &nbsp &nbsp &nbsp Clips: {{ podcast.all_podcast_quotes_count }}
                    </div>
                {% elif is_episode_page %}
                   <div class="pq-podcast-karma">
                        Karma: {{ episode.karma_total }} &nbsp &nbsp &nbsp Clips: {{ episode.all_episode_quotes_count }}
                    </div>
                {% endif %}
                
                {% if is_podcast_page or is_episode_page %}
                    <div class="pq-podcast-buttons">
                        
                        {% if is_podcast_page %}
                            <button class="pq-podcast-button pq-podcast-share-button" data-toggle="modal" data-target="#podcastShareModal{{ podcast.id }}">
                                share
                            </button>
                        {% elif is_episode_page %}
                            <button class="pq-podcast-button pq-podcast-share-button" data-toggle="modal" data-target="#episodeShareModal{{ episode.id }}">
                                share
                            </button>
                        {% endif %}
                    
                        <!-- Modal - Share Podcast -->
                        <div class="modal fade" id="podcastShareModal{{ podcast.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Copy this link</h4>
                                    </div>
                                    <div class="modal-body">
                                        {% if is_podcast_episodes_page or is_episode_page %}
                                            https://podverse.tv{{ podcast.get_absolute_url }}
                                        {% elif is_podcast_clips_page %}
                                            https://podverse.tv{{ podcast.get_absolute_url }}clips/
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.modal fade -->
                        
                        <!-- Modal - Share Episode -->
                        <div class="modal fade" id="episodeShareModal{{ episode.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Copy this link</h4>
                                    </div>
                                    <div class="modal-body">
                                        https://podverse.tv{{ episode.get_absolute_url }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.modal fade -->
                        
                        {% if episode.support_url %}
                            <div class="pq-podcast-button text-orange">
                                <a href="{{ episode.support_url }}" target="_blank">
                                    support
                                </a>
                            </div>
                        {% elif podcast.support_url %}
                            <div class="pq-podcast-button text-orange">
                                <a href="{{ podcast.support_url }}" target="_blank">
                                    support
                                </a>
                            </div>
                        {% endif %}
                        
                        {% if is_episode_page %}
                            {% if user in podcast.moderators.all or user.is_superuser %}
                                <div class="pq-podcast-button text-purple">
                                    <a href="{{ episode.get_absolute_url }}edit/">
                                        edit episode
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                                
                        {% if user in podcast.moderators.all or user.is_superuser %}
                            <div class="pq-podcast-button text-purple">
                                <a href="{{ podcast.get_absolute_url }}edit/">
                                    edit podcast
                                </a>
                            </div>
                        {% endif %}
                        
                        <div class="clearfix">
                        </div>
                        
                    </div><!-- /.pq-podcast-buttons -->
                {% endif %}
            
            <div class="clearfix">
            </div>
        </div><!-- /.pq-podcast-box -->
        
        <div class="pq-episode-text-box">
        
            <div class="pq-episode-finder">
                <select class="pq-episode-selector form-control" ONCHANGE="location = this.options[this.selectedIndex].value;" style="border-radius:10px {% if is_podcast_page %}margin:0;{% endif %}">
                    {% if is_episode_page %}
                        <option value="episodes/{{ podcast.episode.id }}" selected="selected">Episode: {{ episode.title }}</option>
                        <option value="{% url 'podcast_episode_list_root' pk=podcast.id %}">Full Episodes</option>
                        <option value="{% url 'podcast_quote_list_root' pk=podcast.id %}">Highlights</option>
                    {% elif is_podcast_episodes_page %}
                        <option value="{% url 'podcast_episode_list_root' pk=podcast.id %}">Full Episodes</option>
                        <option value="{% url 'podcast_quote_list_root' pk=podcast.id %}">Highlights</option>
                    {% elif is_podcast_clips_page %}
                        <option value="{% url 'podcast_quote_list_root' pk=podcast.id %}">Highlights</option>
                        <option value="{% url 'podcast_episode_list_root' pk=podcast.id %}">Full Episodes</option>
                    {% endif %}
                    {% for episode in episodes %}
                        <option value="/episodes/{{ episode.id }}">
                            {{ episode.title }}
                        </option>
                    {% endfor %}
                </select>
            </div><!-- /.pq-episode-finder -->
        
        <div class="clearfix">
        </div>
            
        </div><!-- /.pq-episode-text-box -->
        
        <div class="clearfix">
        </div>
        
    </div><!-- /.pq-podcast-profile -->

</div><!-- /.pq-podcast-header -->
