<div class="pq-podcast-header">
  
    {% if podcast.image %}
        <div class="pq-podcast-profile-picture">
          <a href="/podcasts/{{ podcast.id }}">
            <img src="/media/{{ podcast.image }}" />
          </a>
        </div><!-- /.pq-podcast-profile-picture -->
    {% endif %}  
  
    <div class="pq-podcast-info">
  
        <div class="pq-podcast-title">
          
          <select class="pq-podcast-selector form-control" ONCHANGE="location = this.options[this.selectedIndex].value;">
              <option value="/podcasts/{{ podcast.id }}" selected="selected">{{ podcast.title }}</option>
              <option class="pq-podcast-selector-option" value="/">All Podcasts</option>
              <option class="pq-podcast-selector-option" value="/">My Podcasts</option>
              {% for podcast in podcasts %}
                  <option class="pq-podcast-selector-option" value="/podcasts/{{ podcast.id }}">{{ podcast.title }} - {{ podcast.all_podcast_quotes_count }} quote{{ podcast.all_podcast_quotes_count|pluralize }}</option>
              {% endfor %}
          </select>
          
        </div><!-- /.pq-podcast-title -->
        
        <div class="pq-podcast-buttons">
            
            <div style="margin-right:-20px">
            
                <button class="pq-podcast-button pq-podcast-share-button" style="margin-left:0;padding-left:0;" data-toggle="modal" data-target="#podcastShareModal{{ podcast.id }}">
                    share
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="podcastShareModal{{ podcast.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Copy this link</h4>
                      </div>
                      <div class="modal-body">
                          http://www.podcastquotes.com{{ podcast.get_absolute_url }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div><!-- /.modal fade -->
                
                <div class="pq-podcast-button text-orange ">
                    {% if not episode.donate_url %}
                        {% if podcast.donate_url %}
                        <a href="{{ podcast.donate_url }}">
                            donate
                        </a>
                        {% endif %}
                    {% endif %}
                </div>
                
                <div class="pq-podcast-button text-purple">
                    edit
                </div>
                <div class="pq-podcast-button text-purple">
                    update
                </div>
                
            </div><!-- style:margin-right:-20px -->

        </div><!-- /.pq-podcast-buttons -->
        
        <div class="pq-podcast-header-info-left" style="margin-bottom:0">
            <div class="pq-podcast-header-info-inline">
                Karma: 1,234
            </div>
            <div class="pq-podcast-header-info-inline" style="margin-right:0;padding-right:0;">
                Quotes: 1,234
            </div>
        </div><!-- /.pq-podcast-header-info-left -->
        
        <div class="pq-podcast-header-social-icons">
            <span class="pq-podcast-header-social-icon">
                <a href="{{ podcast.homepage }}" target="_blank">
                    <i class="fa fa-home"></i>
                </a>
            </span>
            <span class="pq-podcast-header-social-icon">
                <a href="{{ podcast.twitter_url }}" target="_blank">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </span>
            <span class="pq-podcast-header-social-icon">
                <a href="{{ podcast.facebook_url }}" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </span>
            <span class="pq-podcast-header-social-icon">
                <a href="{{ podcast.instagram_url }}" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </span>
            <span class="pq-podcast-header-social-icon">
                <a href="{{ podcast.google_plus_url }}" target="_blank">
                    <i class="fa fa-google-plus-square"></i>
                </a>
            </span>
            <span class="pq-podcast-header-social-icon">
                <a href="{{ podcast.youtube_url }}" target="_blank">
                    <i class="fa fa-youtube-square"></i>
                </a>
            </span>
        </div><!-- /.pq-podcast-header-info-left -->
       
</div><!-- /.pq-podcast-info -->

    <div class="clearfix">
    </div>

</div><!-- /.pq-podcast-header -->
    
    <div class="pq-episode-header">
    
       <div class="pq-episode-title">
              <select class="form-control pq-episode-selector " ONCHANGE="location = this.options[this.selectedIndex].value;">
                  {% if episode.title %}
                  <option value="episodes/{{ podcast.episode.id }}" selected="selected">{{ episode.title }}</option>
                  <option value="/podcasts/{{ podcast.id }}">All Available Episodes</option>
                  {% else %}
                  <option value="/podcasts/{{ podcast.id }}/episodes/{{ podcast.episode.id }}" selected="selected">All Available Episodes</option>
                  {% endif %}
                  {% for episode in podcast.all_episodes_with_youtube_urls %}
                      <option value="/episodes/{{ episode.id }}">
                        {{ episode.title }} - {{ episode.all_episode_quotes_count }} quote{{ episode.all_episode_quotes_count|pluralize }} - {{ episode.publication_date|date:'m/d/y' }}
                      </option>
                  {% endfor %}
              </select>
        </div><!-- /.pq-episode-title --> 
        
    {% if episode %}
    <div class="pq-podcast-info">
    
        <div class="pq-podcast-buttons">
            
            <button class="pq-podcast-button pq-podcast-share-button" style="margin-left:0;padding-left:0;" data-toggle="modal" data-target="#episodeShareModal{{ podcast.id }}">
                share
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="episodeShareModal{{ podcast.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Copy this link</h4>
                  </div>
                  <div class="modal-body">
                      http://www.podcastquotes.com{{ episode.get_absolute_url }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div><!-- /.modal fade -->
            
            <div class="pq-podcast-button text-orange ">
                {% if episode.donate_url %}
                    <a href="{{ episode.donate_url }}">
                        donate
                    </a>
                {% endif %}
            </div>
            
            <div class="pq-podcast-button" id="play-full-episode">
                play full episode
            </div>
            <div class="pq-podcast-button text-purple">
                edit
            </div>
        </div><!-- /.pq-podcast-buttons -->
        
        {% if episode.youtube_url %}
        
            <div class="pq-episode-player" id="pq-episode-player">
     
                <div class="youtube-box" id="youtube-full-episode" style="display:none;">
                  <div class="youtube" id="{{ episode.video_id }}?rel=0&vq=small&autoplay=1&modestbranding=1&showinfo=0&fs=1">
                  </div>
                </div>
                
                <script>
                  $("#play-full-episode").click(function() {
                      $("#pq-episode-player").show();
                      $("#youtube-full-episode").show();
                  });
                </script>
                
            </div>

        {% endif %}
        
        <div class="pq-podcast-header-info-left">
            <div class="pq-podcast-header-info-inline">
                Karma: 1,234
            </div>
            <div class="pq-podcast-header-info-inline">
                Quotes: 1,234
            </div>
        </div>
        
          <div class="pq-podcast-header-info-left" style="margin-top:15px;margin-bottom:15px;">
              Date Released: {{ episode.publication_date|date:'m/d/y' }}
          </div><!-- /.pq-podcast-header-info-left -->
          
    </div><!-- /.pq-podcast-header-info -->
    {% endif %}

          {% if episode.donate_url and episode.donation_recipient %}
          <div class="pq-podcast-header-info-left">
              <a href="{{ episode.donate_url }}" class="text-orange" target="_blank"><strong><i>100% of donations</a> for this episode will go to <a href="{{ episode.donate_url }}">{{ episode.donation_recipient }}</a></i></strong>
          </div>
          
          <div class="pq-podcast-header-info-left" style="padding-bottom:0px;">
              {{ episode.donation_recipient_about|linebreaks }}
          </div>
          {% endif %}
    
    {% if episode %}
        <div class="pq-episode-spacer">
        </div>
    {% endif %}
        <div class="clearfix">
        </div>
    </div><!-- /.pq-episode-header -->