{% extends "base.html" %}

{% block header %}
    
{% include 'main_col_width.html' %}

  <div class="pq-title">
    Edit Podcast <i class="fa fa-pencil"></i>
  </div><!-- /.pq-title -->
    
  <div class="pq-form">
    
    <form method="post" action="" enctype="multipart/form-data" role="form">
      {% csrf_token %}
      {% if form.errors %}
          <p>Please correct the following fields:</p>
          {{ form.errors }}
      {% endif %}

      <div class="pq-form-input">
        {% if form.title.errors %}
            <p class="error">
                {{ form.title.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label {% if form.title.errors %}error{% endif %}" for="title">Title</label>
        {{ form.title }}
      </div><!-- /.pq-form-input -->

      <div class="pq-form-input">
        {% if form.description.errors %}
            <p class="error">
                {{ form.description.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.description.errors %}error{% endif %}" for="description">Description</label>
        {{ form.description }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.image.errors %}
            <p class="error">
                {{ form.image.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.image.errors %}error{% endif %}" for="image">Image</label>
        {{ form.image }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.homepage.errors %}
            <p class="error">
                {{ form.homepage.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.homepage.errors %}error{% endif %}" for="homepage" {% if form.homepage.errors %} class="error" {% endif %}>Home Page URL</label>
        {{ form.homepage }}
      </div><!-- /.pq-form-input -->
      
      <div class="pq-form-input">
        {% if form.donate_url.errors %}
            <p class="error">
                {{ form.donate_url.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.donate_url.errors %}error{% endif %}" for="donate_url">Donation Page URL</label>
        {{ form.donate_url }}
      </div><!-- /.pq-form-input -->

        <div class="pq-form-input">
        {% if form.twitter_url.errors %}
            <p class="error">
                {{ form.twitter_url.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.twitter_url.errors %}error{% endif %}" for="twitter_url">Twitter Page URL</label>
          {{ form.twitter_url }}
        </div><!-- /.pq-form-input -->

        <div class="pq-form-input">
        {% if form.facebook_url.errors %}
            <p class="error">
                {{ form.facebook_url.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.facebook_url.errors %}error{% endif %}" for="facebook_url">Facebook Page URL</label>
          {{ form.facebook_url }}
        </div><!-- /.pq-form-input -->
        
        <div class="pq-form-input">
        {% if form.instagram_url.errors %}
            <p class="error">
                {{ form.instagram_url.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.instagram_url.errors %}error{% endif %}" for="instagram_url">Instagram Page URL</label>
          {{ form.instagram_url }}
        </div><!-- /.pq-form-input -->
        
        <div class="pq-form-input">
        {% if form.google_plus_url.errors %}
            <p class="error">
                {{ form.google_plus_url.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.google_plus_url.errors %}error{% endif %}" for="google_plus_url">Google+ URL</label>
          {{ form.google_plus_url }}
        </div><!-- /.pq-form-input -->
        
        <div class="pq-form-input">
        {% if form.youtube_url.errors %}
            <p class="error">
                {{ form.youtube_url.errors }}
            </p>
        {% endif %}
        <label class="pq-form-label-optional {% if form.youtube_url.errors %}error{% endif %}" for="youtube_url">YouTube Channel URL</label>
          {{ form.youtube_url }}
        </div><!-- /.pq-form-input -->
      
      <div class="pq-form-buttons">
        <button type="submit" class="btn btn-small btn-primary pq-form-button">Submit</button>
        <a href="/" class="btn btn-small btn-danger pq-form-button">Cancel</a>
      </div><!-- /.pq-form-input -->
      
      <div class="clearfix">
      </div>
        
    </form>
    
  </div><!-- /.pq-form -->
  
  <a href="{{ podcast.get_absolute_url }}delete" class="btn btn-small btn-danger pq-form-delete-button">Delete this Podcast <i class="fa fa-trash-o"></i></a>

</div><!-- /.col-sm-11 -->

{% endblock %}<!-- / block header -->