{% extends "base.html" %}

{% block og_image %}
    <meta property="og:image" content="{{MEDIA_URL}}{{ podcast.image }}">
{% endblock %}

{% block content %}
    
    {% include 'main_col_width.html' %}

    {% include 'podcast_header.html' %}

    {% include 'podcast_filter_selector.html' %}
        
{% endblock %}<!-- /block content -->
    
{% block quotes %}

    {% include 'quotes_forloop.html' %}

    {% include 'quote_pagination.html' %}

    </div><!-- /.col-sm-11 ***you must include this close tag***-->

{% endblock %}<!-- / block quotes -->