{% extends "base.html" %}

{% block opengraph %}
    <meta property="og:url" content="https://podverse.tv/podcasts/{{ podcast.id }}/">
    <meta property="og:title" content="{% if is_podcast_episodes_page %}
                                           {{ podcast.title }} episodes on podverse.tv
                                       {% elif is_podcast_highlights_page %}
                                           {{ podcast.title }} highlights on podverse.tv
                                       {% endif %}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="
        {% if podcast.description %}
            {{ podcast.description }}
        {% else %}
            Find and share highlights of your favorite podcasts. Connect with podcast listeners. Raise money for your podcast. Inspired by reddit.
        {% endif %}
    ">
    {% if podcast.image %}
        <meta property="og:image" content="https://podverse.tv/media/{{ podcast.image }}">
    {% endif %}
    <meta property="og:image" content="https://podverse.tv/static/img/podverse-logo-square.jpg" />
{% endblock %}

{% block content %}
    
    {% include 'main_col_width.html' %}
    
    {% include 'autocomplete_slim.html' %}
    
    {% include 'podcast_header.html' %}
    
    {% include 'podcast_filter_selector.html' %}
        
{% endblock %}<!-- /block content -->
    
{% block quotes %}

    {% include 'slim_quotes_forloop.html' %}

{% endblock %}<!-- / block quotes -->