{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block main %}

  <div class="ptp-form">
  
    <div class="ptp-form-title">
      {% trans "Sign In" %}
    </div><!-- /.ptp-title -->

    {% if socialaccount.providers  %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">


        {% include "socialaccount/snippets/provider_list.html" with process="login" %}


      <div class="ptp-login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      
            <div class="ptp-form-input">
              {% if form.login.errors %}
                <div class="font-orange-4">{{ form.login.errors }}</div>
              {% endif %}
              <label class="ptp-form-label" for="login">
                Username
              </label>
              <input type="text" class="form-control" name="login" />
            </div><!-- /.ptp-form-input -->
            
            <div class="ptp-form-input">
              {% if form.password.errors %}
                <div class="font-orange-4">{{ form.password.errors }}</div>
              {% endif %}
              <label class="ptp-form-label" for="password">
                Password
              </label>
              <input type="password" class="form-control" name="password" />
            </div><!-- /.ptp-form-input -->
            
            <div class="ptp-form-input">
              {% if form.remember.errors %}
                <div class="font-orange-4">{{ form.remember.errors }}</div>
              {% endif %}
              <label class="ptp-form-label-optional" for="remember">
                <small>Keep me signed in</small> &nbsp
              </label>
              <input type="checkbox" name="remember" />
            </div><!-- /.ptp-form-input -->
            
      
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button type="submit" class="btn btn-small btn-primary ptp-form-button">{% trans "Sign In" %}</button>
    </form>

  </div><!-- /.ptp-form -->

<div class="clearfix">
</div>
  

{% endblock %}