{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block main %}

  <div class="ptp-form">
  
    <div class="ptp-form-title">
      {% trans "Sign up" %}
    </div><!-- /.ptp-title -->

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      
      <div class="ptp-form-input">
        {% if form.username.errors %}
          <div class="font-orange-4">{{ form.username.errors }}</div>
        {% endif %}
        <label class="ptp-form-label" for="username">
          Username
        </label>
        <input type="text" class="form-control" name="username" />
      </div><!-- /.ptp-form-input -->
      
      <div class="ptp-form-input">
        {% if form.email.errors %}
          <div class="font-orange-4">{{ form.email.errors }}</div>
        {% endif %}
        <label class="ptp-form-label" for="email">
          Email
        </label>
        <input type="email" class="form-control" name="email" />
      </div><!-- /.ptp-form-input -->
      
      <div class="ptp-form-input">
        {% if form.password1.errors %}
          <div class="font-orange-4">{{ form.password1.errors }}</div>
        {% endif %}
        <label class="ptp-form-label" for="password1">
          Password
        </label>
        <input type="password" class="form-control" name="password1" />
      </div><!-- /.ptp-form-input -->
      
      <div class="ptp-form-input">
        {% if form.password2.errors %}
          <div class="font-orange-4">{{ form.password2.errors }}</div>
        {% endif %}
        <label class="ptp-form-label" for="password2">
          Password <small>(confirm)</small>
        </label>
        <input type="password" class="form-control" name="password2" />
        <input name="confirmation_key" type="hidden" />
      </div><!-- /.ptp-form-input -->
      
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      
      <div class="ptp-form-input">
        <label class="ptp-form-label" for="review_text">
          Please prove that you're human.
        </label>
        {{ form.captcha }}
        {% if form.captcha.errors %}
          <div class="font-orange-4">{{ form.captcha.errors }}</div>
        {% endif %}
      </div><!-- /.ptp-form-input -->
      
      <button type="submit" class="btn btn-small btn-primary ptp-form-button">{% trans "Sign Up" %}</button>
      
      <div class="clearfix">
      </div>

    </form>
      
  </div><!-- /.ptp-form -->

<div class="clearfix">
</div>
  

{% endblock %}<!-- /block main -->