<div class="pq-podcast-header">
    
    <div class="pq-podcast-profile">
    
    {% if person.userprofile or person.userprofile.twitter_url or person.userprofile.facebook_url or person.userprofile.instagram_url or person.userprofile.google_plus_url or person.userprofile.tumblr_url or person.userprofile.youtube_url or person.userprofile.reddit_url %}
        <div class="pq-person-header-social-icons dark-link">
            {% if person.userprofile.homepage %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ person.userprofile.homepage }}" target="_blank">
                        <i class="fa fa-home"></i>
                    </a>
                </span>
            {% endif %}
            {% if person.userprofile.twitter_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ person.userprofile.twitter_url }}" target="_blank">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if person.userprofile.facebook_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ person.userprofile.facebook_url }}" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if person.userprofile.instagram_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ person.userprofile.instagram_url }}" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </span>
            {% endif %}
            {% if person.userprofile.google_plus_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ person.userprofile.google_plus_url }}" target="_blank">
                        <i class="fa fa-google-plus-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if person.userprofile.tumblr_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ person.userprofile.tumblr_url }}" target="_blank">
                        <i class="fa fa-tumblr-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if person.userprofile.youtube_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ person.userprofile.youtube_url }}" target="_blank">
                        <i class="fa fa-youtube-square"></i>
                    </a>
                </span>
            {% endif %}
            {% if person.userprofile.reddit_url %}
                <span class="pq-podcast-header-social-icon">
                    <a href="{{ person.userprofile.reddit_url }}" target="_blank">
                        <i class="fa fa-reddit"></i>
                    </a>
                </span>
            {% endif %}
        </div><!-- /.pq-podcast-header-social-icons -->
    {% endif %}
    
        {% if person.userprofile.image %}
            <div class="pq-podcast-profile-picture">
                <a href="/people/{{ person.userprofile.id }}">
                  <img src="{{MEDIA_URL}}{{ person.userprofile.image }}" />
                </a>
            </div><!-- /.pq-podcast-profile-picture -->
        {% endif %}
        
        <div class="pq-podcast-profile-text">
  
            <div class="pq-podcast-title dark-link">
                <a href="{{ person.userprofile.get_absolute_url }}">
                    {{ person.username }}
                </a>
            </div><!-- /.pq-podcast-title -->
            
            <div class="pq-podcast-subtitle">
                {{ person.userprofile.about|linebreaks }}
            </div>
            
        </div><!-- /.pq-podcast-profile-text -->
        
            <div class="pq-podcast-karma">
                Karma: {{ person.userprofile.karma_total }} &nbsp &nbsp &nbsp Quotes: {{ person.userprofile.all_added_quotes_count }}
            </div>
        
            <div class="pq-podcast-buttons">
                
                <button class="pq-podcast-button pq-podcast-share-button" data-toggle="modal" data-target="#personShareModal{{ person.userprofile.id }}">
                    share
                </button>
            
                <!-- Modal - Share Podcast -->
                <div class="modal fade" id="personShareModal{{ person.userprofile.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Copy this link</h4>
                            </div>
                            <div class="modal-body">
                                https://podverse.tv{{ person.userprofile.get_absolute_url }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal fade -->
                
                {% if person.userprofile.support_url %}
                    <div class="pq-podcast-button text-orange">
                        <a target="_blank" href="{{ person.userprofile.support_url }}">
                            support
                        </a>
                    </div>
                {% endif %}
                    
                {% if user == person or user.is_superuser %}
                    <div class="pq-podcast-button text-purple">
                        <a href="{{ person.userprofile.get_absolute_url }}edit/">
                            edit profile
                        </a>
                    </div>
                {% endif %}
                    
            </div><!-- /.pq-podcast-buttons -->
        
    </div><!-- /.pq-podcast-profile -->

    <div class="clearfix"></div>

</div><!-- /.pq-podcast-header -->
